{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 1%, not dead"
            }
        ],
        "react-app"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}
