{
    "root": true,
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": [
        "airbnb",
        "standard",
        "prettier",
        "prettier/react",
        "prettier/standard"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier",
        "jest"
    ],
    "parser": "babel-eslint",
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/webpack.*.js", "**/*.test.js", "**/*.spec.js"]}],
        "semi": [1, "always"],
        "react/jsx-props-no-spreading": [2, {
            "html": "enforce" ,
            "custom": "enforce",
            "exceptions": ["Table", "table", "thead", "tbody", "th", "tr", "td"],
            "explicitSpread": "ignore"
        }],
        "prettier/prettier": ["error", { "singleQuote": true }]
    }
}
