{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    "react/jsx-key": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react-hooks/exhaustive-deps": 0,
    "react-hooks/rules-of-hooks": 0,
    "react/display-name": 0
  }
}
