.root {
  font-size: 0.75rem;
  color: var(--global-color-primary--x-dark);
  --border: 1px solid var(--global-color-primary--light);
}

.link {
  color: var(--global-color-accent--normal);
}

.header {
  font-weight: 400 !important;
  background: var(--global-color-primary--x-light);
  display: flex;
}

.header-details {
  font-weight: 400;
  font-size: 0.75rem;
}


.modal-body-container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.left-panel {
  border-right: var(--border);
  min-width: 200px;
}

.right-panel {
  width: 100%;
  overflow-y: scroll;
}

.panel-content {
  padding: 20px;
}
/* The `dl` comes from the `DescriptionList` component */
dl.panel-content {
  margin-bottom: 0; /* overwrite Bootstrap's `_reboot.scss` */
}

/* Messaging */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
