.row,
.active-user {
  height: 35px;
  cursor: pointer;
  color: var(--global-color-primary--xx-dark);

  & td {
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
  }
}
.active-user {
  background-color: var(--global-color-accent--weak);
}
.row:hover,
.active-user:hover {
  background-color: var(--global-color-accent--weak);
}
.content {
  margin-left: 1.5rem;
}
