.row {
  height: 48px;
  cursor: pointer;
  color: var(--global-color-primary--xx-dark);

  td {
    vertical-align: middle;
  }
}
.row:hover {
  background-color: var(--global-color-accent--weak);
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  line-height: 1.3;
  padding: 4px 0;
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: var(--global-color-primary--xx-dark);
}

.username {
  font-size: 12px;
  font-weight: 400;
  color: var(--global-color-primary--medium);
}
.active-user {
  composes: row;
  background-color: var(--global-color-accent--weak);
}
