.data-files-toolbar-button {
    background-color: #F4F4F4;
    color: #484848;
    border-color: #484848;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-action {
      display: flex;
      padding-right: 5px;
      font-size: 1.3em;
    }
    & + .data-files-toolbar-button {
      margin-left: 5px;
    }
}
.data-files-toolbar-button:not(.disabled):hover {
    background-color: #AFAFAF;
    color: #484848;
    border-color: #484848;
    border-radius: 0;
}

.toolbar-button-text {
  padding-left: 5px;
  font: bold 15px/25px Roboto, sans-serif;
  display: flex;
}

#data-files-toolbar-button-row {
  display: flex;
}
