.data-files-toolbar-button {
  height: 2rem;
  background-color: #f4f4f4;
  color: var(--global-color-primary--xx-dark);
  border-color: var(--global-color-primary--xx-dark);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;

  .icon-action {
    display: flex;
    padding-right: 5px;
    font-size: 1.3em;
  }
}
.data-files-toolbar-button:not(.disabled):hover {
  background-color: #afafaf;
  color: var(--global-color-primary--xx-dark);
  border-color: var(--global-color-primary--xx-dark);
  border-radius: 0;
}

.toolbar-button-text {
  font:
    bold 14px Roboto,
    sans-serif;
  display: flex;
}

#data-files-toolbar-button-row {
  display: flex;
  flex-wrap: wrap;

  /* Add vertical space between children that, without wrapping, is invisible */
  /* FAQ: Take away space added, in direction of container alignment as item */
  /* NOTE: Container <SectionHeader> already defines `align-items: flex-end` */
  align-self: flex-end;
  margin-bottom: -5px;
  & > * {
    margin-bottom: 5px;
  }

  /* Space between children should be static, and not exist at ends */
  /* FAQ: Using container flex values would not achieve static space */
  & > * {
    margin-right: 5px;
  }
  & > *:last-child {
    margin-right: 0;
  }
}
