.data-files-toolbar-button {
    background-color: #F4F4F4;
    color: #484848;
    border-color: #484848;
    border-radius: 0;
  }
.data-files-toolbar-button:not(.disabled):hover{
    background-color: #AFAFAF;
    color: #484848;
    border-color: #484848;
    border-radius: 0;
  }

.data-files-toolbar-button + .data-files-toolbar-button {
    margin-left: 5px;
}
