<div class="modal-header">
    <h3 class="modal-title">Your interactive session has started!</h3>
</div>
<div class="modal-body">
    <div class="alert">
        <p>To connect to your interactive session, click the button below.</p>
        <p>To end the job, quit the application within the session.</p>
        <p>Your files may take some time to appear in your archive directory after the job has completed.</p>
    </div>
</div>
<div class="modal-footer">
    <a href="{{vm.msg.action_link}}" target="_blank" class="btn btn-primary pull-left">Connect!</a>
    <button class="btn btn-default" type="button" ng-click="vm.dismiss()">Close</button>
</div>
