<div class="notification" ng-class="{'unread':vm.note.read==false}">
  <div class="status"
      ng-class="{'success':vm.note.status=='SUCCESS',
                 'danger': vm.note.status=='ERROR',
                 'info': vm.note.status=='INFO',
                 'warning': vm.note.status=='WARNING'}">
    <i class="fa fa-check-circle-o" ng-if="vm.note.status=='SUCCESS'"></i>
    <i class="fa fa-warning" ng-if="vm.note.status=='ERROR'"></i>
    <i class="fa fa-info" ng-if="vm.note.status=='INFO'"></i>
    <i class="fa fa-question-circle-o" ng-if="vm.note.status=='WARNING'"></i>
  </div>
  <span ng-if="!vm.note.action_link" class="notification-message">
    {{vm.note.message}}
  </span>
  <a ng-if="vm.note.action_link" class="notification-message" href="{{vm.note.action_link}}" target="_blank">
    <span> {{vm.note.message}} </span>
  </a>
  <div class="notification-time">
    <span class="badge"> {{vm.note.datetime | date:'medium'}} </span>
  </div>
  <div class="notification-delete">
    <i class="fa fa-remove" ng-click="vm.delete(note.pk)"></i>
  </div>
</div>
