.root {
  :first-child {
    font-size: 100%;
  }
}

.open-icon {
  margin-right: 0.25rem;
}
.open-button {
  margin-left: 0.5rem;
  min-height: 1.25rem;
  background-color: #f4f4f4;
  border: 1px solid #afafaf;
  font-weight: 500;
  color: #707070;
  position: absolute;
  margin-top: -2px;
}
