.listing-wrapper {
  height: 31.125vh;
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid rgb(112 112 112 / 25%);
}
.manage-team-table {
  overflow-x: hidden;
  max-width: 100%;
  font-size: 0.875rem;
  line-height: 2rem;
  margin: 0 1rem;
  thead {
    border-bottom: 1px solid black;
  }
  td,
  th {
    padding: 0;
    vertical-align: middle;
  }
  th {
    font-weight: bold;
  }
  td {
    padding: 0.25rem;
    font-weight: normal;
  }
  tr:nth-child(even) td {
    background-color: rgb(112 112 112 / 15%);
  }
}
.search-bar-wrapper {
  margin: 0 1rem;
}
.search-bar-header-text {
  font-size: 13px;
}
.help-text {
  font-size: 12px;
  margin-bottom: 0.5rem;
  display: block;
}
