/* Base */

.container {
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 1000px;
}

/* Elements */

.listing {
  margin-top: 10px;
  margin-bottom: 20px;
}

.listing-button {
  float: right;
  margin-left: 0.5em;
}

.listing-header {
  margin-top: 10px;
  font-size: 20px;
}

.center {
  align-items: center;
  justify-content: center;
}
