.citation-box {
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--global-color-primary--x-light);
}

.citation-button {
  margin-top: 5px;
}

.addon-description {
  overflow: hidden auto;
}
