/* 1 Column */

.one-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}





/* 2 Columns */
/* TODO: Try again to use CSS Grid */


/* Always */

/* FAQ: Use padding, so that fake column border does not have gaps */
.two-column > * {
  padding-bottom: 2.5rem; /* 40px (~32px design * 1.2 design-to-app ratio) (rounded) */
}


/* Wide */
@media only screen and (min-width: 992px) {

  /* Setup */

  .two-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .two-column > * {
    flex-grow: 1;
  }


  /* Layout */

  /* CAVEAT: If dashboard is not tall enough to stack required panels, then:
             - at most two panels are shown beside each other
             - only some of the righthand panel is shown
             - extra panels are hidden offscreen */

  .two-column {
    --side-panel-order: 9999; /* HACK: Simulate "last" position */
    --gutter-width: var(--global-space--section-left); /* deviated from design to use a similar global spacing */
    --default-panel-width: 50%;

    /* Hide panels that are pushed off the side of the screen */
    overflow-x: hidden;
  }

  /* Create a fake column border */
  .two-column::before {
    content: '';
    height: 100%;
    width: 0;
    order: var(--side-panel-order);
    border-right: 1px solid rgba(112, 112, 112, 0.25);
  }
  /* Stretch panels only wide enough to create two columns */
  .two-column > * {
    width: 100%;
    max-width: var(--default-panel-width);
    min-height: 12rem; /* CAVEAT: This is a dev value that just "looked good" */

    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
  }
  .two-column {
    margin-left: calc(var(--gutter-width) * -1);
    margin-right: calc(var(--gutter-width) * -1);
  }

  /* Panel Order */     /* (required to see border) */
  /* TODO: Make this customizable */

  /* Move first X panels to right column, and shrink column */
  /* FAQ: Within `*:nth-child(-n+x)`, `x` equals number of extra panels */
  .two-column > *:nth-child(-n+1) {
    order: var(--side-panel-order);
    max-width: 25%;
  }

  /* Expand left column */
  /* FAQ: Within `*:nth-child(n+y)`, `y` equals number of extra panels + 1 */
  .two-column > *:nth-child(n+2) {
    max-width: 75%;
  }
}


/* Narrow */
@media only screen and (max-width: 991px) {
  .two-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .two-column > * {
    flex-grow: 1;
    width: 100%;
  }
}
