/* Block */

.root {
  /* … */
}

/* Modifiers */

/* NOTE: Similar on: SectionContent, SectionTableWrapper */
.should-scroll {
  /* We want to permit vertical scrolling, without forcing it… can we? */
  /* FAQ: Did not set `overflow: auto`, because that would certainly hide negative-margined sidebar links */
  /* CAVEAT: Setting `overflow-y` still hides the negative-margined sidebar links because `overflow-x: visible` (default) is re-intepreted as `auto` */
  /* SEE: https://stackoverflow.com/a/6433475/11817077 */
  overflow-y: auto;
}
.root:not(.should-scroll) {
  overflow: hidden;
}
