.is-resizable {
  resize: both;
  overflow: scroll;
  max-width: 100%;

  /* Avoid horizontal scrolling of `.content-that-illustrates-scrolling` */
  /* FAQ: A <Section>'s padding-left causes offset horizontal scrollbar */
  min-width: 300px;
}
.content-that-illustrates-scrolling {
  overflow-y: scroll;
}

.is-scrollable {
  --line-height: 1.5em; /* Bootstrap `_reboot` `body { line-height: 1.5 }` */
  --max-lines: 2;

  height: calc(var(--line-height) * var(--max-lines));
}
