.root {
  --table-border: 1px solid black;

  margin: 0;
  width: 100%;

  font-size: 0.875rem; /* 14px (approved deviation from design) */
}

.rows {
  tr:nth-child(even) {
    background-color: rgb(0 0 0 / 3%);
  }
  tr:hover {
    background-color: rgb(0 0 0 / 5%);
  }
  td {
    padding: 5px 8px;
  }
}

.header {
  border-bottom: var(--table-border);
  font-size: 1rem;
}

/* Columns */
@media only screen and (min-width: 1200px) {
  .root {
    /* status */
    tr > *:nth-child(2) {
      width: 30%;

      span {
        max-width: 75%;
      }
    }
  }

  .root-no-system-name {
    tr > *:nth-child(1) {
      width: 30%;

      span {
        max-width: 75%;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .root {
    /* status */
    tr > *:nth-child(2) {
      width: 24%;
    }
  }

  .root-no-system-name {
    tr > *:nth-child(1) {
      width: 24%;

      span {
        max-width: 75%;
      }
    }
  }
}

/* Messaging */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--global-color-accent--normal);
  padding: 30px;
}
