.root {
    --table-border: 1px solid black;

    border-bottom: var(--table-border);
    margin: 0;
    width: 100%;
    tr:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    td {
        padding: 5px 8px;
    }
    .system-monitor-header {
        border-bottom: var(--table-border);
    }
    .left-aligned {
        padding-left: 0;
    }
    .operational-cell {
        width: 100px;
    }
    .odd-row {
        background-color: rgba(#c6c6c6, 0.1);
    }
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9d85ef;
    padding: 30px;
}