.multi-system .label-system-status {
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    padding: .4em 0 .4em 0;
}

$table-border: 1px solid black;

.system-monitor {
    border-bottom: $table-border;
    margin: 0;
    width: 100%;
    tr:hover {
        background-color: rgba(0,0,0,.05);
    }
    td {
        padding: 5px 8px;
    }
    .system-monitor-header {
        border-bottom: $table-border;
    }
    .left-aligned {
        padding-left: 0;
    }
    .operational-cell {
        width: 100px;
    }
    .odd-row {
        background-color: rgba(#c6c6c6, 0.1);
    }
}

.system-monitor__error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9d85ef;
}
