<style id="cms-ui-styles" media="not all">{# i.e. disabled #}
  @layer mimic-cms, mimic-cms.base, mimic-cms.project;

  @import url(/static/site_cms/css/build/core-styles.base.css) layer(mimic-cms.base);
  @import url(/static/site_cms/css/build/core-styles.cms.css) layer(mimic-cms.base);
  @import url(/static/site_cms/css/build/core-cms.css) layer(mimic-cms.project);
  @import url('https://cdn.jsdelivr.net/npm/@tacc/core-styles@v2/dist/trumps/s-footer.css') layer(mimic-cms.project);

  /* To change high-level styles to match CMS */
  .workbench-wrapper { color: var(--global-color-primary--x-dark); }
  .workbench-content .container {
    --bs-gutter-x: 15px;
    margin-left: revert-layer;
    max-width: revert-layer;
  }
  body { -webkit-font-smoothing: revert; }
  .c-button { --max-width: auto; }

  /* To hide navbar */
  /* TODO: Instead of this, component using CMS styles should not use navbar */
  #react-root:has(#mimic-cms) .nav-sidebar {
    display: none;
  }
</style>

<script id="cms-ui-script" type="module">
  let footerEl = null;
  let footerOriginalContent = null;

  const toggleStyles = (enabled) => {
    const media = (enabled) ? 'all' : 'not all';
    document.getElementById('cms-ui-styles').media = media;
  };

  const toggleLayout = (enabled) => {
    document.body.classList.toggle('has-cms-ui', enabled);
  };

  const useCMSFooter = async () => {
    footerEl = document.getElementById('footer');

    if (footerEl?.childNodes.length) {
      footerOriginalContent = footerEl.innerHTML;
      const { replaceFromURL } = await import('/static/site_cms/js/modules/importHTML.js');
      await replaceFromURL('/cms/markup/footer', footerEl);
    }
  };
  const restorePortalFooter = () => {
    if (footerEl && footerOriginalContent) {
      footerEl.innerHTML = footerOriginalContent;
    }
  };

  window.addEventListener('cms-styles-activated', async () => {
    toggleStyles(true);
    toggleLayout(true);
    await useCMSFooter();
  });
  window.addEventListener('cms-styles-deactivated', () => {
    toggleStyles(false);
    toggleLayout(false);
    restorePortalFooter();
  });
</script>
