{# @var className #}

{# RFE: Use a custom element or React component whose code exists in one repo #}
{# WARNING: Some markup is duplicated in other repositories #}
{# SEE: https://confluence.tacc.utexas.edu/x/LoCnCQ #}
<ul class="s-cms-nav  {{ className }}" id="cms-nav-pages" data-cms-nav-endpoint="/cms/nav/pages/markup/">

  <!-- All top-level CMS controlled nav elements handled here. -->
  {# FAQ: Content populated via JavaScript, below #}

</ul>
<script src="/static/site_cms/js/nav_cms.js"></script>
