{# @var className, user #}

{# WARNING: Some markup is duplicated in other repositories #}
{# SEE: https://confluence.tacc.utexas.edu/x/LoCnCQ #}
{# NOTE: The `id` attr's in the CMS version are not necessary here #}
<ul class="s-portal-nav  {{ className }}">
  {% if user.is_authenticated %}
  <div class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-lg nav-icon"></i>
        <span>{{ user.get_username }}</span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="{% url 'workbench:dashboard' %}">
          <i class="fas fa-desktop nav-icon"></i> My Dashboard
        </a>
        {% if user.is_staff %}
        <a class="dropdown-item" href="{% url 'workbench:onboarding_admin' %}">
          <i class="fas fa-tasks nav-icon"></i> Onboarding Admin
        </a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'portal_accounts:manage_profile' %}">
          <i class="fas fa-user-circle nav-icon"></i> My Account
        </a>
        <a class="dropdown-item" href="{% url 'portal_accounts:logout' %}">
          <i class="fas fa-sign-out-alt nav-icon"></i> Log Out
        </a>
      </div>
    </li>
  </div>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'portal_auth:agave_oauth' %}">
      <i class="fas fa-sign-in-alt nav-icon"></i> Log in
    </a>
  </li>
  {% endif %}
</ul>
