{# @var className #}

{# RFE: Use a custom element or React component whose code exists in one repo #}
{# WARNING: Some markup is duplicated in other repositories #}
{# SEE: https://confluence.tacc.utexas.edu/x/LoCnCQ #}
<tacc-search-bar class="s-search-bar  {{className}}" id="s-search-bar">
  <!-- The search bar is created here. -->
  {# FAQ: Content populated via JavaScript, below #}
</tacc-search-bar>
<script type="module">
  import * as importHTML from '/static/site_cms/js/modules/importHTML.js';
  import * as registerCustomElement from '/static/site_cms/js/modules/registerCustomElement.js';

  const container = document.getElementById('s-search-bar');

  importHTML.fromURL(container, '/cms/nav/search/markup/', () => {
    const template = container.getElementsByTagName('template')[0];
    registerCustomElement.fromTemplate('tacc-search-bar', template);
  });
</script>
