@import '../../../styles/tools/mixins.scss';

/* Prevent from butting up against its label (like inside `DescriptionList`) */
dd .container {
  margin-top: 0.25rem; /* copied from Bootstrap `.mt-1` styles */
}

.header {
  display: inline-block;

  padding-right: 1em;

  @include truncate-with-ellipsis;
}
