.job-details-modal .status-toggle, .status-toggle:focus {
    outline: none;
    cursor: pointer;
}
.job-details-modal .status-toggle i {
    margin-left: 1em;
}
.job-details-modal .status-toggle {
    font-size: 1em;
    padding-left: 0.25em;
}

.job-details-modal .job-details-modal .status-message {
    margin-left: 1em;
    margin-right: 1em;
}

.job-details-modal .job-status > div {
    width: 40%;
    display: inline-block;
}

.job-details-modal .status-message.ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.job-details-modal .job-status .timestamp {
    color: #666666;
}