/*
  Sectioning Root
  ===
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Sectioning_root
*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  Inline Text Semantics
  ===
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Inline_text_semantics
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
  Application Root
  ===
  The root element of the JavaScript application
*/

/* FAQ: If the app root element has only a single child,
        then it should be the same height as the app root */
#react-root > :only-child {
  height: 100%;
}

/*
  External Layout
  ===
  Expand, to fill desired space, any wrapper elements
  that are outside scope of the application codebase
*/

/* Allow expansion (with no respect to ancestors and siblings)

    <html>
      <body>…</body>
    </html>
*/
/* FAQ: The CMS applies a `margin-top` on the `<html>` */
/* FAQ: The `html` and `body` boxes are only as tall as their content
        (which may be shorter than window height), cannot have siblings elements
        (would be influenced by force stretch), so force stretch outward. */
html,
body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Allow expansion (with respect to ancestors and siblings)

    <body>
      <div class="content">
        <div id="react-root">…</div>
      </div>
    </body>
*/
/* FAQ: Shared hosting with CMS renders header and footer siblings */
/* FAQ: The `.content` and `#react-root` boxes are only as tall as their content
        (which may be shorter than window height), can have siblings elements
        (would be influenced by force stretch), so gently stretch outward. */
body,
body > .content {
  display: flex;
  flex-direction: column;
}
#react-root,
body > .content {
  flex-grow: 1;
}

/* WARNING: This block of code moves in PR #26—it should move, and retain these fixes */
/*
  Custom Font Family
  ===
  Designed at TACC.
*/
@font-face {
  font-family: 'core-portal'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  src: url('./fonts/core-portal-V2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before/*,
[class^="icon-"],
[class*=" icon-"] */ {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'core-portal' !important; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-action-expand::before {
  content: "\59";
}
.icon-nav-allocation::before {
  content: "\61";
}
.icon-action-copy::before {
  content: "\63";
}
.icon-action-download::before {
  content: "\64";
}
.icon-action-rename::before {
  content: "\65";
}
.icon-nav-folder::before {
  content: "\66";
}
.icon-nav-application::before {
  content: "\69";
}
.icon-action-move::before {
  content: "\6d";
}
.icon-nav-notification::before {
  content: "\6e";
}
.icon-nav-dashboard::before {
  content: "\6f";
}
.icon-nav-jupyter::before {
  content: "\70";
}
.icon-action-trash::before {
  content: "\74";
}
.icon-action-upload::before {
  content: "\79";
}
.icon-action-collapse::before {
  content: "\7A";
}
.icon-action-loading::before {
  content: "\FA";
}
.icon-action-close::before {
  content: "E900";
}
