@import url('./styles/global.css');

/*
  Sectioning Root
  ===
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Sectioning_root
*/

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--global-color-primary--xx-dark); /* overwrite Bootstrap */

  /* Allow components to overwrite minimum width and height of body */
  /* FAQ: Use variable to isolate value from application of value */
  /* WARNING: Must use a unit, NOT a keyword (which would break any `calc()`) */
  /* stylelint-disable length-zero-no-unit */
  min-height: var(--min-height, 0);
  min-width: var(--min-width, 0);
  /* stylelint-enable length-zero-no-unit */
}

/*
  Inline Text Semantics
  ===
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Inline_text_semantics
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  App Layout
  ===
  Layout only as tall as browser window. Footer is sticky.
  React root has optional side nav and required main content,
  each of which should independently vertically scroll as necessary.
  (Header currently not sticky, but probably should be so as to match TUP.)

  WARNING: This HTML structure is challengingly complex. Consider refactor.

  <body>
    <div class="content">
      <div id="header-branding" />
      <div id="s-header" />
      <div id="react-root">
        <div class="nav-sidebar" />
        <div class="workbench-wrapper">
          <div class="workbench-content" />
        </div>
      </div>
    </div>
    <footer />
  </body>
*/
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; /* critical for flexbox scrolling */
  }
  footer {
    flex-shrink: 0;
  }

  #header-branding,
  #s-header {
    flex-shrink: 0;
  }
  #react-root {
    flex: 1;
    display: flex;
    min-height: 0; /* critical for flexbox scrolling */
    overflow: hidden;
  }

  .nav-sidebar {
    flex-shrink: 0;
    overflow-y: auto;
    /* Add width/min-width as needed */
  }
  .workbench-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0; /* critical for flexbox scrolling */
  }

  .workbench-content {
    flex: 1;
    overflow-y: auto;
    min-height: 0; /* critical for flexbox scrolling */
  }
}
