devops/ansible/playbooks/group_vars/all.yml filter=git-crypt diff=git-crypt
devops/ansible/playbooks/group_vars/staging.yml filter=git-crypt diff=git-crypt
devops/ansible/playbooks/roles/secret_files/* filter=git-crypt diff=git-crypt
