#appDetail-wrapper {
    --space-top: 1.25rem; /* 20px (~17px design * 1.2 design-to-app ratio) */
    --space-bottom: 2.25rem; /* 36px (~30px design * 1.2 design-to-app ratio) */

    /* As a flex item */
    flex-grow: 1;

    /* As a flex container */
    display: flex;
    flex-direction: row;

    overflow: auto;
    height: 100%;
}
#appDetail-wrapper.has-message,
#appDetail-wrapper.is-loading,
#appDetail-wrapper.has-external-app {
    justify-content: center;
    align-items: center;
}

/* HACK: Use padding on last child of these flex item wrappers because flex items do not respect padding on main axis */
.appInfo-wrapper > *:last-child,
#appForm-wrapper > *:last-child {
    padding-bottom: var(--space-bottom);
}
.appInfo-wrapper > *:first-child,
#appForm-wrapper > *:first-child {
    padding-top: var(--space-top);
}

/* HACK: Overwrite untamed Jumbotron */
/* FAQ: The `.jumbotron` originates from external injected HTML */
#appDetail-wrapper .jumbotron {
    /* Prevent extra space beneath `#appDetail-wrapper` */
    margin-bottom: 0;

    /* Ensure `.jumbotron` scrolls within `#appDetail-wrapper` */
    height: 100%;
    overflow: auto;
}

#appForm-wrapper {
    overflow-y: auto;
    display: flex;
    padding: 0 40px 0 30px;
    flex: 0.7 1 0;
    max-width: 780px;
    flex-direction: column;
}

.appInfo-wrapper {
    overflow-y: auto;
    flex: 0.5 1 0;
    max-width: 400px;
    border-right: 1px solid #989898;
    padding-right: 30px;
}

.appInfo-description {
    font-size: 14px;
    padding-bottom: 20px;
}

.doc-icon {
  margin-right: 10px;
}

.appInfo-documentation {
    display: flex;
    align-items: center;
}
.appInfo-documentation .icon {
    margin-right: 0.5em;
}

.appForm-textInput label,
.appForm-select label {
    font-weight: bold;
}

.appSchema-header {
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
}

.appSchema-header span {
    border-bottom: 2px solid #989898;
    flex-grow: 1;
}

.appSchema-section {
    padding-bottom: 20px;
}

.btn-resetForm {
    padding: 5px 0 0 20px;
}

.appDetail-message {
    font-size: 1.4rem;
}
