<dd-breadcrumb-component
    custom-root="$ctrl.data.customRoot"
    on-browse="$ctrl.onBrowse($event, file)"
    on-browse-project-root="$ctrl.onBrowseProjectRoot()"
    project="true"
    params="$ctrl.breadcrumbParams"
>
</dd-breadcrumb-component>

<!-- projectMetadata component from data_depot/projects/component/project-meta -->
<project-meta data-system-id="$ctrl.params.systemId">
        &nbsp;
</project-meta>
    
<file-listing-component params="$ctrl.params" on-browse="$ctrl.onBrowse($event, file)"></file-listing-component>

