.project-meta {
    border-bottom: 1px solid #777;
    padding: 3px;
    margin-bottom: 5px;

    textarea {
        width: 60%;
        bottom-margin: 10px;
    }

    .team-members {
        padding-bottom: 5px;
        border-top: 1px dashed #777;
        .team-member-row{
            padding:5px;
            &:hover {
                background: #eee;
            }
            .team-member {
                min-width:30%;
                display:inline-block;
            }
        }
    }

    .project-show-more button {
        width:100%;
        padding:3px;
        border-top: 1px solid #ccc;
    }
}
