.workbench {
  min-height: 100vh;
  display: flex;
  margin-top: -20px;
}

.workbench-nav {
  margin-top: -1px;
  background: #d3d3d3;
  min-width: 7rem;
  width: 7rem;
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
}

.workbench-nav .side-nav-button {
  cursor:pointer;
  font-size: 4rem;
  padding-top: 0.5rem;
  text-align: center;
  border: 0.1rem solid rgba(0,0,0,0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.workbench-nav .side-nav-button i {
  color: #008cba;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.workbench-nav .side-nav-button .side-nav-text {
  font-size: 0.25em;
  color: #008cba;
}

.workbench-nav .side-nav-button:hover {
  background: #ededed;
  border-color: rgba(45,45,45,0.5);
  border-right-width: 0.5rem;
}

.workbench-nav .side-nav-button:hover i {
  color: #006687;
}

.workbench-nav .side-nav-button.active {
  color: #FFFFFF;
  background: #008cba;
  border-color: rgba(45,45,45,1);
  border-right-width: 0.5rem;
}

.workbench-nav .side-nav-button.active i {
  color: #FFFFFF;
}

.workbench-nav .side-nav-button.active .side-nav-text {
  color: #FFFFFF;
}

.workbench-content {
  flex: 1;
  padding-top: 1rem;
}
