/* Allow space for all elements to be visible and usable */
/* FAQ: Edit global style based on section-specific caveat */
/* SEE: index.css */
@media only screen and (min-width: 992px) {
  body.has-loaded-dashboard {
    /* Avoid more columns than layout allows to fit */
    /* SEE: ../_common/SectionContent/SectionContent.layouts.module.css */
    --min-height: 535px; /* approx. Dashboard w/ tables @ min. height */
  }
}
body.has-loaded-dashboard {
  /* HACK: Should instead (ask Design) have a responsive sidebar */
  --min-width: 730px; /* just before My Tickets Number column value overflows */
}

.has-common-sidebar {
  padding-left: 0px;
}
