.dashboard-items {
  display: flex;
  height: -webkit-fill-available;
}
.jobs-wrapper {
  max-height: 50vh;
  margin-bottom: 38px;
}
.tickets-wrapper {
  max-height: 25vh;
}
.dashboard-header,
.dashboard-item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.dashboard-header {
  border-bottom: 1px solid #707070;
}
.dashboard-header h5 {
  font-weight: 400;
}
@media (min-width: 1700px) {
  .wb-grid-container {
    max-width: 1645px;
  }
}
@media (min-width: 1400px) {
  .wb-grid-container {
    max-width: none;
  }
}
.dash-grid-item {
  margin-top: 20px;
}
.dashboard-items {
  font-size: 14px;
}
.dashboard-content .btn {
  padding: 0;
}
.dashboard-items .ReactTable .rt-th,
.dashboard-items .ReactTable .rt-td {
  color: #707070;
}
