.container {
  /* Load select-css after Bootstrap overrides, because Bootstrap is like our "base" */
  composes: form-control from '../../../styles/components/bootstrap.form.css';
  composes: select-css from '../../../styles/components/external.select-css.css';

  font-size: 0.75rem; /* ~10px * design * 1.2 design-to-app ratio */
                      /* WARNING: "iOS Safari will [force-zoom site] if […] less than 16px" */
                      /* SEE: https://github.com/filamentgroup/select-css#notes-on-the-css */
  height: auto; /* overwrite `.form-control` (from Bootstrap) */
  padding: 0; /* overwrite `.form-control` (from bootstrap.form.css) */
  padding-left: 6px;

  background-color: var(--global-color-primary--xx-light);
  /* TODO: Use SVG data URL that matches design */
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	background-position: right 0.7em top 50%;
  background-size: 0.65em auto;

  border-color: var(--global-color-primary--dark);
  color: var(--global-color-accent--normal);
  font-style: italic;
  font-weight: 500;
}
.container:focus {
  /* border-color: var(--global-color-primary--dark); */
  color: var(--global-color-accent--normal);
}

/* Children */

/* Unset styles on children */
.container option,
.container optgroup {
  color: var(--global-color-primary--x-dark);
  font-style: normal;
  font-weight: normal;
}
.container optgroup { color: var(--global-color-primary--dark); }
.container option { color: var(--global-color-primary--x-dark); }
