.request-access-title {
  font-size: 1.25rem !important;
  background-color: #f4f4f4 !important;
  border-bottom: 1px solid #dee2e6;
}
.request-access-wrapper {
  margin: auto;
  max-width: 860px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.request-access-h2 {
  margin-top: 21px;
  margin-bottom: 10.5px;
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.8em;
}

.request-access-h4 {
  margin-top: 10.5px !important;
  margin-bottom: 10.5px;
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.6em;
}

.request-access-link {
  color: #7754e8;
  font-weight: bold;
}
