.root {
  --width: 215px;
  overflow-y: auto;
  flex-wrap: nowrap; /* Overwrite Bootstrap `_nav.scss` style for `.nav` */
  min-width: var(--width);
  max-width: var(--width);
  width: var(--width);
  background: #f4f4f4;
  border-right: 1px solid rgb(112 112 112 / 25%);
  padding-top: 20px;
}

.link {
  color: var(--global-color-primary--dark);
  font-weight: 500;
}
.link:hover,
.link--active {
  color: var(--global-color-primary--x-dark); /* to pass color contrast test */
  background-color: var(--global-color-accent--weak);
}
.link--active,
.link:active {
  font-weight: 700;
}

.content {
  padding-left: 20px;
}

.text {
  padding-left: 20px;
  font-size: 0.75em; /* ~20px (16px design * 1.2 design-to-app ratio) */
}

.disabled {
  color: var(--global-color-primary--light);
}
