.container {
  a {
    color: var(--global-color-accent--normal);
  }

  @media (min-width: 1200px) {
    max-width: 600px;
  }
}
.header {
  background-color: #f4f4f4;
  color: var(--global-color-primary--xx-dark);
  font-size: 1.25rem;
}
