# This compose file is useful for testing https.
# The .env file sets ENVVARS for the Docker CLI used by this compose file.
---
version: "3.8"
services:
  cms:
    image: taccwma/core-cms:latest
    volumes:
      - ../cms/secrets.py:/code/taccsite_cms/secrets.py
      - ../cms/settings_local.py:/code/taccsite_cms/settings_local.py
      - ../cms/settings_custom.py:/code/taccsite_cms/settings_custom.py
      - ../cms/uwsgi/uwsgi.ini:/code/uwsgi.ini
      - ../../cms/static:/code/static
      - ../../cms/media:/code/media
    command: python manage.py runserver 0.0.0.0:8000
    container_name: core_portal_cms
    depends_on:
      - postgrescms

  redis:
    image: redis:5.0
    volumes:
      - core_portal_redis_data:/data
    container_name: core_portal_redis

  rabbitmq:
    image: rabbitmq:3.7.17-management
    volumes:
      - core_portal_rabbitmq_data:/var/lib/rabbitmq/mnesia/rabbit@core_portal_rabbitmq
    env_file: ../env_files/rabbitmq.env
    container_name: core_portal_rabbitmq

  memcached:
    image: memcached:latest
    container_name: core_portal_memcached
    ports:
      - 127.0.0.1:11211:11211
    command: ["memcached"]

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    ulimits:
      memlock: -1
    environment:
      - ES_HEAP_SIZE:1g
      - discovery.type=single-node
    volumes:
      - ../elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - core_portal_es_data:/usr/share/elasticsearch/data
    container_name: core_portal_elasticsearch
    ports:
      - 127.0.0.1:9200:9200

  postgres:
    image: postgres:14.9
    volumes:
      - core_portal_postgres_data:/var/lib/postgresql/data/portal
    container_name: core_portal_postgres
    environment:
      - POSTGRES_PASSWORD=dev
      - POSTGRES_USER=dev
      - POSTGRES_DB=dev
      - PGDATA=/var/lib/postgresql/data/portal

  postgrescms:
    image: postgres:14.9
    volumes:
      - core_cms_postgres_data:/var/lib/postgresql/data/portal
    container_name: core_cms_postgres
    environment:
      - POSTGRES_PASSWORD=taccforever
      - POSTGRES_USER=postgresadmin
      - POSTGRES_DB=taccsite
      - PGDATA=/var/lib/postgresql/data/portal

  nginx:
    image: nginx
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../uwsgi/uwsgi_params:/etc/nginx/uwsgi_params
      - ../nginx/gzip.conf:/etc/nginx/gzip.conf
      - ../nginx/certificates/cep.test.crt:/etc/ssl/cep.test.crt
      - ../nginx/certificates/cep.test.key:/etc/ssl/cep.test.key
      - ../nginx/dhparam.pem:/etc/ssl/dhparam.pem
      - ../../../.:/srv/www/portal
    ports:
      - 127.0.0.1:80:80
      - 127.0.0.1:443:443
    container_name: core_portal_nginx
    depends_on:
      - cms
      - django

  websockets:
    image: taccwma/core-portal:latest
    volumes:
      - ../../../.:/srv/www/portal
      - ../nginx/certificates/cep.test.crt:/etc/ssl/cep.test.crt
      - ../nginx/certificates/cep.test.key:/etc/ssl/cep.test.key
    container_name: core_portal_websockets
    # ** NOTE: Run this daphne command below to run a production-ready daphne server,
    # ** matching deployed configurations. Be aware there is no autoreload for local
    # ** development with this enabled.
    # command: 'daphne -b 0.0.0.0 -p 9000 -e ssl:443:privateKey=/etc/ssl/cep.test.key:certKey=/etc/ssl/cep.test.crt --root-path=/srv/www/portal/server --access-log - --proxy-headers portal.asgi:application'
    command: 'python manage.py runserver 0.0.0.0:9000'

  django:
    image: taccwma/core-portal:latest
    volumes:
      - ../../../.:/srv/www/portal
      - ../../static:/var/www/portal/server/static
      - ../../media:/var/www/portal/server/media
      - ../../docs:/var/www/portal/internal-docs/
    dns:
      - 8.8.8.8
      - 8.8.4.4
    stdin_open: true
    tty: true
    # ** NOTE: Run this uwsgi command below to run a uwsgi server instead of http server,
    # ** matching deployed configurations. You must also edit nginx.conf. Be aware there
    # ** is no autoreload for local development with this enabled.
    # command: uwsgi --ini /srv/www/portal/server/conf/uwsgi/uwsgi_core.ini
    command: python manage.py runserver --noasgi 0.0.0.0:6000
    container_name: core_portal_django

  workers:
    image: taccwma/core-portal:latest
    volumes:
      - ../../../.:/srv/www/portal
      - ../../static:/var/www/portal/server/static
      - ../../media:/var/www/portal/server/media
    dns:
      - 8.8.8.8
      - 8.8.4.4
    command: >
      sh -c "celery -A portal beat -l info --pidfile= --schedule=/tmp/celerybeat-schedule & 
             celery -A portal worker -Q default,indexing,files,api,onboard --concurrency=2"

    container_name: core_portal_workers

  docs:
    image: taccwma/frontera-docs:latest-master
    volumes:
      - ../../docs:/docs/site
    command: ["mkdocs", "build"]
    container_name: frontera_docs

volumes:
  core_portal_redis_data:
  core_portal_es_data:
  core_portal_rabbitmq_data:
  core_portal_postgres_data:
  core_cms_postgres_data:
