# This compose file is useful for testing https
---
version: "3"
services:
    django:
      build:
        context: ../../../.
        dockerfile: server/conf/docker/Dockerfile
      image: taccwma/frontera-portal:local
      command: /bin/bash
      container_name: frontera_prtl_django
