# This compose file is useful for testing https
---
version: "3.8"
services:
    django:
      build:
        context: ../../../.
        dockerfile: server/conf/docker/Dockerfile
        target: development
      image: taccwma/core-portal:local
      command: /bin/bash
      container_name: core_prtl_django
