.tab-row.modal-header {
  flex-direction: row;
  position: relative;
  height: 63.5px;
  border-bottom: 1px solid #afafaf;
  padding: 5px;
}
.tab-row.modal-header .close {
  transform: translate(-25%, 25%);
}
.tab {
  font-size: 19px;
  text-align: center;
  opacity: 1;
  display: inline-block;
  position: absolute;
  width: 25%;
  height: 60.5px;
}

.tab.active {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #afafaf;
  border-bottom: none;
  opacity: 1;
  text-transform: none;
  outline: none;
}
.tab.inactive {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  color: black;
  border: none;
  border-bottom: 1px solid #afafaf;
  text-transform: none;
  height: 58.5px;
}
.tab.inactive:hover {
  background: #dbdbdb 0% 0% no-repeat padding-box;
  border: 1px solid #afafaf;
}
