.site-search {
  table-layout: auto;
}
.site-search__icons {
  width: 5%;
  text-align: center;
}

.site-search__full-width-result {
  width: 85%;
}

.site-search__no-overflow {
  overflow: visible !important;
  width: 10%;
}
