.sitesearch-cms-item {
  padding-bottom: 20px;
}

.sitesearch-cms-item .wb-link {
  color: #9d85ef;
}

.header {
  border-bottom: 1px solid #707070;
  padding-bottom: 15px; /* 12.5px design * 1.2 design-to-app ratio */
  font-size: 14px; /* 12px design * 1.2 design-to-app ratio */
}

.container {
  // FAQ: Extra padding is added to bottom only for this section
  padding: 20px 40px 40px 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container thead {
  display: none;
}

.placeholder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-container {
  display: flex;
  justify-content: center;
}
