.sitesearch-cms-item {
  padding-bottom: 20px;
}

.sitesearch-cms-item .wb-link {
  color: #9d85ef;
}

.header {
  border-bottom: 1px solid #707070;
  margin-bottom: 20px;
}

.header h5 {
  font-weight: 400;
}

.container {
  // FAQ: Extra padding is added to bottom only for this section
  padding: 20px 40px 40px 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.placeholder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
