$data-files-wrapper-horizontal-padding: 50px;
$core-portal-color-primary: var(--global-color-accent--normal);

.search-count-pill {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.hidden {
  visibility: hidden;
}
