<div class="modal-header" id="data-browser-modal-move">
    <h3 class="modal-title">Select the destination to save this cutout</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="file in $ctrl.files">
            {{ file.name }}
        </li>
    </ul>

    <div class="row">
        <div class="col-sm-3">
            <form>
                <label for="id_currentOption" class="sr-only">Jump to</label>
                <select class="form-control"
                    id="id_currentOption"
                    name="currentOption"
                    ng-model="$ctrl.currentOption"
                    ng-change="$ctrl.optionChange($ctrl.currentOption)"
                    ng-options="option as option.label
                                for option in $ctrl.options"></select>
            </form>
        </div>
        <div class="col-sm-9">
          <dd-breadcrumb-component
            project="$ctrl.project"
            on-browse-project-root="$ctrl.selectMyProjects()"
            params='$ctrl.breadCrumbParams'
            on-browse="$ctrl.onBrowse($event, file)">
        </dd-breadcrumb-component>
        </div>
    </div>
    <div class="table-responsive" ng-if="!$ctrl.listingProjects">
      <table class="table table-bordered table-striped" style="background-color: #fff;">
          <thead>
          <th>Name</th>
          <th>Action</th>
          </thead>

          <tbody ng-if="!$ctrl.busy">
          <tr ng-repeat="item in $ctrl.listing.children">
              <td>
                  <i class="fa {{ item.icon() }}"></i>
                  <a ng-href="{{ item.href || '#' }}" ng-click="$ctrl.onBrowse($event, item)">
                      {{ item.name }}
                  </a>
              </td>
              <td>
                  <a class="btn btn-primary btn-xs"
                     ng-if="$ctrl.validDestination(item)"
                     ng-click="$ctrl.chooseDestination(item)">
                     <span> Save to {{ item.name }} </span>
                  </a>
              </td>
          </tr>
          </tbody>
          <caption class="text-center" ng-if="$ctrl.busy">
              <i class="fa fa-spinner fa-spin"></i> Loading...
          </caption>
          <caption style="padding:0">

          <div ng-if="$ctrl.busy" style="margin-bottom:-38px" class="text-right">
              <span style="display:inline-block;padding: 9px;" class="bg-info text-info">
                  <i class="fa fa-spinner fa-spin"></i> Loading...
              </span>
          </div>

          <div ng-if="! $ctrl.busy && $ctrl.error" class="text-center">
              <p class="alert alert-danger">
                  {{ $ctrl.browser.error.message || $ctrl.browser.error }}
              </p>
          </div>


          <caption class="text-center" ng-if="! $ctrl.busy && $ctrl.error">
              <p class="alert alert-danger">
                  {{ $ctrl.error }}
              </p>
          </caption>
          <caption class="text-center" ng-if="! $ctrl.busy && ! $ctrl.error && ($ctrl.listing.children|length) === 0">
              <p class="lead">
                  This folder is empty!
                  <br><i class="fa fa-folder-open-o"></i>
              </p>
              <button class="btn btn-primary btn-xs"
                 ng-if="$ctrl.validDestination(listing)"
                 ng-click="$ctrl.chooseDestination(listing)">
                 <span> Save to Here </span>
              </button>
          </caption>
      </table>
    </div>
    <div class="table-responsive" ng-if="$ctrl.listingProjects">
      <table class="table table-bordered tables-striped" style="background-color: #fff;">
        <thead>
         <th>Name</th>
        </thead>
        <tbody ng-if="!$ctrl.busy">
          <tr ng-repeat="item in $ctrl.projects">
            <td>
              <i class="fa fa-briefcase"></i>
              <a ng-click = "$ctrl.browseProject($event, item)">
                {{item.description || item.name}}
              </a>
            </td>
          </tr>
        </tbody>
      <caption style="padding:0">

          <div ng-if="$crtl.busy" style="margin-bottom:-38px" class="text-right">
              <span style="display:inline-block;padding: 9px;" class="bg-info text-info">
                  <i class="fa fa-spinner fa-spin"></i> Loading...
              </span>
          </div>

            <caption class="text-center" ng-if="! $ctrl.busy && $ctrl.error">
                <p class="alert alert-danger">
                    {{ $ctrl.error }}
                </p>
            </caption>
        </table>
    </div>

<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-primary" type="button"
                ng-show="$ctrl.listing.name"
                ng-disabled="! $ctrl.validDestination($ctrl.listing)"
                ng-click="$ctrl.chooseDestination($ctrl.listing)"
        >
            <span> Save to {{ $ctrl.listing.name }} </span>
        </button>
        <button class="btn btn-primary" type="button"
                ng-show="!$ctrl.listing.name"
                ng-disabled="! $ctrl.validDestination($ctrl.listing)"
                ng-click="$ctrl.chooseDestination($ctrl.listing)"
        >
        <span>Save to This Directory</span>
        </button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</div>
