/* TRUMPS: Icons */
@import url('./icon.fonts.css');

.icon {
  width: 1em;
  height: 1em;
  font-size: 1.125rem; /* ~18px (16px design * 1.2 design-to-app ratio) (rounded) */
  font-weight: normal; /* Prevent external styles from accidentally bolding the icon */
  display: inline-flex; /* `flex` to align `::before`; `inline` to not trigger new line */
                        /* a modern slimmer alternative to `&::before { display: block; }` */
}
/* NOTE: After PR #104, you may remove these styles without consequence
/* Hide accessibile text of non-empty `.icon`'s */
.icon:not(svg)         { visibility: hidden; }
.icon:not(svg)::before { visibility: visible; }

/* Aliases */
/* .icon-contract */.icon-collapse::before {
  content: "\e915";
}
