.InfiniteScrollTable,
/* WARNING: Do NOT use `FiniteScrollTable`. Instead, implement `InfiniteScrollTable` */
.FiniteScrollTable {
  --cell-horizontal-padding: 0.35em; /* horizontal cell padding for inter-column buffer */

  /* Force `width: 100%` to have effect in all scenarios */
  /* SEE: https://stackoverflow.com/a/6601257 */
  table-layout: fixed;

  position: relative;
  width: 100%;
  overflow: scroll;
  max-height: inherit; /* inherit max-height from parent wrapper */
  font-size: 0.75rem; /* 12px (10px design * 1.2 design-to-app ratio) */

  border-collapse: separate;
  border-spacing: 0;

  thead {
    user-select: none;
    color: #707070;

    .-sort-asc,
    .sort-desc {
      color: #484848;
    }

    /* Match horizontal padding of `td` elements in table to align properly */
    th {
      padding-left: var(--cell-horizontal-padding);
      padding-right: var(--cell-horizontal-padding);

      border-bottom: 1px solid #707070;
      background-color: var(--global-color-background--app);
    }
  }

  tbody {
    td {
      vertical-align: middle;
      padding: 0.7em var(--cell-horizontal-padding);
      margin: auto 0; /* vertically center span content */

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .-status {
      box-sizing: border-box;
      td {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
      }
    }

    tr:not([class=-status]) td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    tr:nth-child(even):not([class=-status]) {
      background-color: rgba(0, 0, 0, 0.03);
    }
    tr:hover:not([class=-status]) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
  /* Allow cell width to propogate to common inline elements */
  & td > a,
  & td > span {
    /* Stretch cell content to fit available space */
    /* WARNING: Unexpected behavior with child text nodes `<td>…<a>…</a>…</td>` */
    width: 100%;
  }
}
