@import '../../../styles/tools/mixins.scss';

.container {
  --cell-horizontal-padding: 0.35em; /* for inter-column buffer */
  --cell-vertical-padding: 8px; /* for row size */
  --row-height: 37px; /* 16px design * 1.2 design-to-app ratio (rounded) */

  /* FAQ: This manually-calculated value equals the auto-calculated value (21px),
          but only until units are refactored and font-sizes are fixed. See
          https://confluence.tacc.utexas.edu/x/PoCiCQ */
  --line-height: calc( var(--row-height) - (var(--cell-vertical-padding) * 2) );

  position: relative;
  width: 100%;
  border-bottom: var(--global-border-width--normal) solid var(--global-color-primary--dark);
  max-height: inherit; /* inherit max-height from parent wrapper */

  thead {
    /* TODO: After all tables use `react-table-7`, move these styles to `elements/table.css` for `thead`? */
    user-select: none;
    color: var(--global-color-primary--dark);
    border-bottom: 1px solid var(--global-color-primary--dark);

    th {
      /* Match horizontal padding of `td` elements in table to align properly */
      padding-left: var(--cell-horizontal-padding);
      padding-right: var(--cell-horizontal-padding);

      /* TODO: Revisit when sorting is available */
      /*
      &.-sort-asc,
      &.-sort-desc {
        color: #484848;
      }
      */
    }
  }

  tbody {
    /* TODO: After all tables use `react-table-7`, move these styles to `elements/table.css` for `thead`? */
    /* TODO: Design should define colors instead of opacity, and then these should use variables */
    tr:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.03);
    }

    tr:not(.status):hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.cell {
  padding: var(--cell-vertical-padding) var(--cell-horizontal-padding);
  line-height: var(--line-height);
  white-space: nowrap;
  overflow: hidden; /* contain children to cell width (needed because `white-space: nowrap`) */
  text-overflow: ellipsis;

  /* WARNING: Child text nodes cause unexpected behavior, example:
              In `<td>You can <a>do some action</a> to get some result.</td>`,
              the `<a>do some action</a>` would appear on its own line.
              If this use case comes, then add class `cell--has-text-nodes` */
  &:not(.cell--has-text-nodes) > :only-child {
    @include truncate-with-ellipsis;
    display: block; /* allow ellipsis (from `@include`) *//* stretch cell width */
  }
}
.cell--has-text-nodes {
  display: inline-block; /* allow `width: 100%` to have effect */
  width: 100%; /* stretch cell width */
}

.status {
  display: block;
}
.status--no-data .status__message {
  text-align: center;
}
.status--is-loading .status__message {
  --loading-icon-height: 24px; /* or 1.5rem (given root font-size of 16px) */
  --vertical-buffer: calc( (var(--row-height) - var(--loading-icon-height)) / 2);

  display: block;
  /* Ensure height matches other rows (loading icon is taller than line-height) */
  padding-top: var(--vertical-buffer);
  padding-bottom: var(--vertical-buffer);
}
