.InfiniteScrollTable {
  --fixed-header-table--body-height: 30vh; /* calculated by guess & check */
  /* TODO: After, FP-103, use `composes:` not `@extend` */
  @extend .o-fixed-header-table;

  position: relative;
  align-items: stretch;
  width: 100%;
  overflow: scroll;
  border-bottom: 1px solid #707070;

  thead {
    user-select: none;
    color: #707070;
    border-bottom: 1px solid #707070;

    .-sort-asc, .sort-desc {
      color: #484848;
    }
  }

  tbody {
    overflow-y: scroll;
    tr:not([class=-status]) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    tr:nth-child(odd):not([class=-status]) {
      background-color: rgba(0, 0, 0, 0.03);
    }
    tr:hover:not([class=-status]) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .-status {
      width: 100%;
      display:block; 
      box-sizing:border-box;
      td {
        /* FAQ: Because widths can be defined by component that uses this one,
                and those width might not use a class, we must overwrite it */
        width: 100% !important /* override allowed `td:nth-child(N)` width */;

        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: justify;
        display:block; 
        box-sizing:border-box;
        clear: both;
      }
    }
  }
  /* Allow `.o-fixed-header-table td` width to apply to common inline elements */
  /* Allow `.u-ellipsis` usage to have effect on common inline elements */
  & td > a,
  & td > span {
    display: inline-block;
  }
}





/*
Fixed Header Table

A table with a header that does not move, and a body that scrolls.

> __Warning__: This forces table to become a fixed layout, and requires manually calculated column widths

Properties:
- `--fixed-header-table--body-height: 100px` - The height of the body of the table.

Markup:
<table class="fixed-header-table">
    <thead>
      <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>B</td>
        <td>C</td>
      </tr>
    </thead>
</table>

Styleguide Objects.FixedHeaderTable
*/
.o-fixed-header-table {
  /* RFE: Find a way to make this automatically calculated */
  /* WARNING: Every consumer must define this value to match their layout */
  --body-height: 100px;

  table-layout: fixed;
  border-collapse: collapse;
}

/* Make table rows act like table rows, even though `tbody` has become a block */
.o-fixed-header-table tr {
  display: flex;
  flex-direction: row;
}
/* Allow table body to scroll (which also pins the table head in place) */
.o-fixed-header-table tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: var(--fixed-header-table--body-height, var(--body-height));
}
/* Stretch cell content to fit available space */
/* WARNING: This is ineffectual for inline elements */
.o-fixed-header-table td > * {
  /* display: inline-block; *//* define this only in consumer styles for inline elements */

  width: 100%;
}
