.InfiniteScrollTable {
  --cell-horizontal-padding: 0.35em; /* horizontal cell padding for inter-column buffer */

  /* To force `width: 100%` to have effect when table is wider than container
     (use case is any very narrow table, such as when screen is ver narrow) */
  /* FAQ: Table is wider than container when row content is wider than table */
  /* CAVEAT: All fixed tables' col widths must be % values whose sum is 100% */
  /* SEE: https://stackoverflow.com/a/6601257 */
  table-layout: fixed;
  width: 100%;

  max-height: inherit; /* inherit max-height from parent wrapper */
  font-size: 0.75rem; /* 12px (10px design * 1.2 design-to-app ratio) */

  border-collapse: separate;
  border-spacing: 0;

  thead {
    user-select: none;
    color: var(--global-color-primary--x-dark);
    border-bottom: 1px solid #707070;

    .-sort-asc,
    .sort-desc {
      color: #484848;
    }

    /* Match horizontal padding of `td` elements in table to align properly */
    th {
      padding-left: var(--cell-horizontal-padding);
      padding-right: var(--cell-horizontal-padding);

      border-bottom: 1px solid #707070;
      background-color: var(--global-color-background--app);
    }
  }

  tbody {
    tr:not([class=-status]) td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    tr:nth-child(even):not([class=-status]) {
      background-color: rgba(0, 0, 0, 0.03);
    }
    tr:hover:not([class=-status]) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    /* !!!: Temporary lint disabling to make simpler PR diff */
    /* stylelint-disable no-descending-specificity */
    :not(.-status) {
    td {
      vertical-align: middle;
      padding: 0.7em var(--cell-horizontal-padding);
      margin: auto 0; /* vertically center span content */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    }

    .-status {
      box-sizing: border-box;
      td {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
    /* !!!: Temporary duplicate selector to make simpler PR diff */
    .-status td {
      text-align: center;
    }
    /* stylelint-enable no-descending-specificity */
  }
  /* Allow cell width to propogate to common child elements */
  & td > a,
  & td > span {
    /* Stretch cell content to fit available space */
    /* NOTE: Intentionally ineffectual when elements are `display: inline` */
    width: 100%;
  }
}
