/* Every one of these tables must have a fixed header (composition requires a class name) */
.root { composes: o-fixed-header-table from '../../../styles/objects/o-fixed-header-table.css'; }
.body { composes: o-fixed-header-table__body from '../../../styles/objects/o-fixed-header-table.css'; }
.row  { composes: o-fixed-header-table__row from '../../../styles/objects/o-fixed-header-table.css'; }

.root {
  --cell-horizontal-padding: 0.35em; /* horizontal cell padding for inter-column buffer */

  position: relative;
  width: 100%;
  border-bottom: 1px solid #707070;
  max-height: inherit; /* inherit max-height from parent wrapper */

  thead {
    /* TODO: After all tables use `react-table-7`, move these styles to `elements/table.css` for `thead`? */
    user-select: none;
    color: var(--global-color-primary--dark);
    border-bottom: 1px solid var(--global-color-primary--dark);

    th {
      /* Match horizontal padding of `td` elements in table to align properly */
      padding-left: var(--cell-horizontal-padding);
      padding-right: var(--cell-horizontal-padding);

      /* TODO: Revisit when sorting is available */
      /*
      &.-sort-asc,
      &.-sort-desc {
        color: #484848;
      }
      */
    }
  }

  tbody {
    /* TODO: After all tables use `react-table-7`, move these styles to `elements/table.css` for `thead`? */
    /* TODO: Design should define colors instead of opacity, these should use variables */
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.03);
    }

    tr:not(.status):hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    td {
      /* TODO: After all tables use `react-table-7`,
               move these styles to `elements/table.css` for `thead`? */
      display: flex;
      align-content: center;
      padding: 0.5em var(--cell-horizontal-padding);
      margin: auto 0; /* vertically center span content */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      /* Contain children to cell size and add ellipsis to overflow by default */
      /* WARNING: Unexpected behavior with child text nodes `<td>…<a>…</a>…</td>` */
      & > :only-child {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.status {
  display: block;
}
.status__message {
  text-align: center;
}
