"""Elasticsearch configuration"""
ES_HOSTS = {{es_hosts}}
ES_DEFAULT_INDEX = "{{es_default_index}}"
ES_DEFAULT_INDEX_ALIAS = "{{es_default_index_alias}}"
ES_PUBLIC_INDEX = "{{es_public_index}}"
ES_PUBLIC_INDEX_ALIAS = "{{es_public_index_alias}}"
ES_FILES_DOC_TYPE = "{{es_files_doc_type}}"
ES_PROJECTS_DOC_TYPE = "{{es_projects_doc_type}}"
ES_METADATA_DOC_TYPE = "{{es_metadata_doc_type}}"
