#jinja2: lstrip_blocks: "True", trim_blocks: "False"
"""Secret settings
"""

import os
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

{% for setting_key, item in django_settings_secret.iteritems() %}
  {% if item is string %}
{{setting_key}} = "{{item}}"
  {% else %}
    {% if item.type and item.type|string() != "string" %}
{{setting_key}} = {{item.value}}
      {% else %}
{{settings_key}} = "{{item.value}}"
    {% endif %}
  {% endif %}
{% endfor %}
