#jinja2: lstrip_blocks: "True", trim_blocks: "False"
"""Secret settings
"""

import os
{% for setting_key, item in django_settings_secret.iteritems() %}
    {% if item is string %}
{{setting_key}} = r"""{{ item}}"""
    {% else %}
{{setting_key}} = {{item}}
    {% endif %}
{% endfor %}
