#jinja2: lstrip_blocks: "True", trim_blocks: "False"
"""Local settings
"""


import os
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DEBUG = {{django_settings_local.DEBUG}}
MEDIA_ROOT = {{django_settings_local.MEDIA_ROOT}}
STATIC_ROOT = {{django_settings_local.STATIC_ROOT}}
DATABASES = {{django_settings_local.DATABASES}}

SITE_ID = {{django_settings_local.SITE_ID}}
CMSPLUGIN_CASCADE_PLUGINS = {{ django_settings_local.CMSPLUGIN_CASCADE_PLUGINS }}
WEBSOCKET_URL = '/ws/'
