@import '../../../styles/tools/mixins.scss';

.breadcrumbs {
  /* ... */
  @include truncate-with-ellipsis;
  margin-right: 2em;
}
.breadcrumb-link,
.breadcrumb-link:hover {
  color: var(--global-color-accent--normal);
}

/* Breadcrumbs */
@media only screen and (min-width: 2400px) {
  .breadcrumbs {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2399px) {
  .breadcrumbs {
    max-width: 630px;
  }
}

@media only screen and (min-width: 1680px) and (max-width: 1919px) {
  .breadcrumbs {
    max-width: 380px;
  }
}

@media only screen and (max-width: 1679px) {
  .breadcrumbs {
    max-width: 700px;
  }
}
