{% extends "base.html" %}
{% load static %}
{% block title %} Workbench {% endblock %}
{% block head_extra %}
  <base href="{% url 'workbench:index' %}">
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
{% endblock %}
{% block content %}
  <main id="react-root"></main>
{% endblock %}
{% block scripts %}
  <script> window.__INITIAL_SETUP_COMPLETE__ = {{ setup_complete|yesno:"true,false" }}; </script>
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  <script src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
{% endblock %}
