{% extends "base.html" %}
{% load static %}
{% block title %} Workbench {% endblock %}
{% block head_extra %}
  <base href="{% url 'workbench:index' %}">
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
{% endblock %}
{% block content %}
  <div id="react-root"></div>
{% endblock %}
{% block scripts %}
  <script> window.__INITIAL_SETUP_COMPLETE__ = {{ setup_complete|yesno:"true,false" }}; </script>

  {% if DEBUG %}
    <script type="module">
      import RefreshRuntime from "http://localhost:3000/core/static/@react-refresh"
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="http://localhost:3000/core/static/@vite/client"></script>
    <script type="module" src="http://localhost:3000/core/static/src/index.jsx"></script>
  {% else %}
    {% include "index.html" %}
  {% endif %}

{% endblock %}
