{% extends "base.html" %}
{% load static %}
{% block google_citation_meta %}
{% if citation_context %}
    <meta name="keywords" content='{{ citation_context.keywords }}'> <!-- related experiments, subject; used in search -->
    {% for entity in citation_context.entities %}
        <meta name="DC.identifier" content="{{entity.doi}}">
        <meta name="DC.publisher" content="{{ publisher }}">
        <meta name="DC.title" content="{{entity.title}}">
        <meta name="DC.date" content="{{entity.publication_date}}">
        <meta name="DC.language" content="en">
        <meta name="DC.creator" content="{% for author in entity.authors %}{{author.first_name}} {{ author.last_name}}; {% endfor %}">
        <meta name="DC.type" content="dataset">
    {% endfor %}
    {% if schema_org_json %}
    <script type="application/ld+json">
        {{ schema_org_json|safe }}
    </script>
    {% endif %}
{% endif %}
{% endblock %}
{% block title %} Workbench {% endblock %}
{% block head_extra %}
  <base href="{% url 'workbench:index' %}">
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[1] %>">
{% endblock %}
{% block content %}
  <div id="react-root"></div>
{% endblock %}
{% block scripts %}
  <script> window.__INITIAL_SETUP_COMPLETE__ = {{ setup_complete|yesno:"true,false" }}; </script>
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  <script src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
{% endblock %}
