.publications-listing {
  /* title */
  th:nth-child(1),
  td:nth-child(1) {
    width: 40%;
  }
  /* authors */
  th:nth-child(2),
  td:nth-child(2) {
    width: 20%;
  }
  /* keywords */
  th:nth-child(3),
  td:nth-child(3) {
    width: 25%;
  }
  // /* date */
  // th:nth-child(4),
  // td:nth-child(4) {
  //   width: 15%;
  // }
}
