/* Block */

.root {
  /* As flex item */
  flex-shrink: 0;

  /* As flex container */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  flex-wrap: wrap; /* prevent text and actions from colliding */
  align-content: flex-end; /* preserve alignment of items when wrapped */

  height: 32px;
  box-sizing: content-box;
  padding: 1.5rem 0 0.75rem 0; /* 24px, 12px (20px, 10px design * 1.2 design-to-app ratio) (rounded) */
  border-bottom: var(--global-border-width--normal) solid var(--global-color-primary--normal);
}


/* Elements */

/* Do not allow external margin styles */
/* FAQ: Examples: global `h1`–`h6`, user styles) */
.heading {
  margin: 0;

  font-size: 1.125rem; /* ~18px (16px design * 1.2 design-to-app ratio) (rounded) */

  /* FAQ: It is simpler to do this in CSS than in JavaScript */
  text-transform: capitalize;
}
/* Header actions are always after */
.heading ~ * {
  max-height: 100%; /* (gently) force oversized elements to fit */
}


/* Modifiers */

.for-form {
  /* … */
}

.for-table {
  /* … */
}
