/* Block */

.root {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  align-content: flex-end; /* preserve alignment of items when wrapped */

  min-height: 2rem;
  box-sizing: content-box;

  padding-bottom: 0.75rem; /* 12px (~10px design * 1.2 design-to-app ratio) */
  border-bottom: var(--global-border-width--normal) solid
    var(--global-color-primary--dark);
}

/* Elements */

/* Add vertical space between children that, without wrapping, is invisible */
/* FAQ: Take away space added, in direction that does not disturb other CSS */
/* WARNING: `DataFilesToolbar.scss` needs `margin-bottom` */
.root {
  margin-top: -5px;
}
.root > * {
  margin-top: 5px;
}

/* Do not allow external margin styles */
.heading {
  margin-bottom: 0; /* Overwrite Bootstrap `h1`–`h6` styles */

  text-transform: capitalize;
}
/* Header actions are always after heading text */
.heading ~ * {
  max-height: 100%; /* (gently) force oversized elements to fit */
}

/* Modifiers */

.for-form,
.for-list {
  /* FAQ: No styles necessary, but defining class to avoid build error */
}

.for-table {
  border-bottom: none;
}
