<div class="job-expandable">
    <div class="job-expandable-toggle job-history-expandable-toggle" ng-click="$ctrl.statusToggle()">
        <span class="job-expandable-padding">
            History&nbsp;
            <i ng-if="!$ctrl.expandStatus" class="fa fa-chevron-circle-down"></i>
            <i ng-if="$ctrl.expandStatus" class="fa fa-chevron-circle-up"></i>
        </span>
    </div>
    <div ng-if="$ctrl.expandStatus" class="job-expandable-padding job-expandable-message">
        <div class="history-list-item" ng-repeat="item in $ctrl.history">
            <job-status-label item="item"></job-status-label>
            <job-datetime datetime="item.created"></job-datetime><br />
            <span class="history-description">{{ item.description }}</span>
        </div>
    </div>
</div>