<dd-breadcrumb
  listing="browser.listing"
  skip-root="true"
  custom-root="data.customRoot"
  on-browse="onBrowse"
  project="data.project"
  item-href="resolveBreadcrumbHref">
</dd-breadcrumb>

<div class="alert alert-info" ng-show="browser.busyListing || browser.busy">
  <p class="text-center">
      <i class="fa fa-spinner fa-spin"></i> Loading...
  </p>
</div>
<div class="alert"
     data-ng-class="browser.ui.message.class"
     data-ng-show="browser.ui.message.show">
  <p class="text-center">
    {{browser.ui.message.content}}
  </p>
</div>
<div class="alert alert-danger" data-ng-show="browser.error.message">
  {{browser.error.message}}
</div>
<div class="push-keys-message" data-ng-if="browser.error.status == 502">
  <p>
    There seems to be a problem with your storage system. <br/>
    You might be able to fix this problem by
    <button type="button"
            class="btn btn-link"
            data-ng-click="openPushPublicKeyForm()">
      <span data-ng-if="!browser.ui.pushKeyModalOpening">
        pushing the public key to the storage system
      </span>
      <span data-ng-if="browser.ui.pushKeyModalOpening">
        <i class="fa fa-spinner fa-spin">&nbsp;</i>Loading ...
      </span>
    </button>. <br/>
    If the problem persis please submit a ticket and we will take care
    of it as soon as possible.
  </p>
</div>
<div class="push-keys-message" data-ng-if="browser.error.status == 404">
  <p>
    There seems to be a problem loading your storage system. <br />
    You may be able to fix this problem by <a href="/accounts/logout">logging out</a> and logging in again.
  </p>
</div>
<div class="table-responsive dd-listing-wrapper"> <!-- START FILE LISTING TABLE WRAPPER -->
  <table class="table table-bordered table-striped"><!-- START FILE LISTING TABLE -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Last Modified</th>
        <th>Permissions</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-if="!browser.busyListing"
          data-ng-repeat="file in browser.listing.children"
          data-ng-click="onSelect($event, file)"
          data-ng-class="{'dd-file-selected':  file._ui.selected}">
          <td>
            <i class="fa {{ file.icon() }} fa-fw"></i>
            <!-- <a data-ng-href="{{ file._links._self.href }}"
               data-ng-click="onBrowse($event, file)">
               {{ file.name }}
            </a> -->
            <a data-ng-click="onBrowse($event, file)">
               {{ file.name }}
            </a>

          </td>
          <td>{{ file.length|bytes }}</td>
          <td>{{ file.lastModified|date:"short" }}</td>
          <td> {{ file.permissions | agaveperms}}
      </tr>
      <caption>
      </caption>
    </tbody>
  </table> <!-- ENDS FILE LISTING TABLE -->
</div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
  <button class="btn btn-default btn-block" 
          ng-show="showMoreFilesButton()"
          ng-click="loadMore()">
            Show more files
            <i class="fa fa-spinner fa-spin" 
               data-ng-if="browser.loadingMore">
            </i>
          </button>
          </div>
          <div class="col-md-3"></div>
  </div>

