
<dd-breadcrumb
  listing="browser.listing"
  skip-root="true"
  custom-root="data.customRoot"
  on-browse="onBrowse"
  project="data.project"
  item-href="resolveBreadcrumbHref">
</dd-breadcrumb>

<div class="alert alert-info" ng-show="!ui.busy && !data.projects.length">
  <p class="text-center">
      No Projects!
  </p>
</div>
<div class="table-responsive" ng-show="!ui.busy && data.projects.length">
  <div class="ds-table-display-wrapper">
    <table class="table table-bordered table-striped" style="background-color: #fff;">
        <thead>
        <th>Project title</th>
        <th>Project Id</th>
        </thead>

        <tbody>
        <tr ng-repeat="project in data.projects"
            ng-if="data.projects">
            <td ng-click="onBrowse($event, project)">
                <i class="fa fa-briefcase"></i>
                <a ui-sref="wb.data_depot.projects.listing({systemId:project.id})"> {{project.description}}</a>
            </td>
            <td>
                {{ project.name }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
