{# @var className, user #}

{# Copied by https://gitlab.tacc.utexas.edu/wma-cms/frontera-cms/blob/master/taccsite_cms/templates/nav_branding_partials/nav.branding.frontera.v2.html #}
{# Copied by https://bitbucket.org/taccaci/frontera-tech-docs/src/staging/frontera_theme/header.html #}
<ul class="s-portal-nav  {{ className }}">
  {% if user.is_authenticated %}
  <div class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-lg nav-icon"></i> {{ user.get_username }}
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="{% url 'workbench:dashboard' %}">
          <i class="fas fa-desktop nav-icon"></i> My Dashboard
        </a>
        <a class="dropdown-item" href="{% url 'portal_accounts:manage_profile' %}">
          <i class="fas fa-user-circle nav-icon"></i> My Account
        </a>
        <a class="dropdown-item" href="{% url 'portal_accounts:logout' %}">
          <i class="fas fa-sign-out-alt nav-icon"></i> Log Out
        </a>
      </div>
    </li>
  </div>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" role="button" href="{% url 'portal_auth:agave_oauth' %}">
      <i class="fas fa-sign-in-alt nav-icon"></i> Log in
    </a>
  </li>
  {% endif %}
  <!-- end of user logged in/not logged in if -->
</ul>
