@import '../../styles/tools/mixins.scss';

.notification-toast-container {
    --toast-width: 26em;
    --toast-height: 3em;
    left: 40px !important;
    bottom: 40px !important;
    right: 40px !important;
    display: block !important;
    max-width: var(--toast-width) !important;
}

.notification-toast {
    height: var(--toast-height) !important;
    background-color: #D2CCE7 !important;
    border-radius: 0 !important;
    color: #484848 !important;
    padding: 0 !important;
}

.notification-toast-body {
    height: var(--toast-height);
    padding: 0 !important;
    display: grid;
    grid-template-columns: minmax(15px, 16%) 1fr;
    width: 100%;
}

.notification-toast-icon-wrapper {
    display: grid;
    place-items: center;
    border-right: 1px solid #AFAFAF;
}

.notification-toast-content {
    padding: 10px 15px;
    height: var(--toast-height);
    font-weight: bold;
    display: grid;
    place-items: center left;
    span {
        @include truncate-with-ellipsis;
        width: 100%;
        font-size: 1.1em;
    }
}
