/* SETTINGS: Color */

/* Usage: `var(--global-color-primary--normal)` */
/* SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
    /* Primary (Text, Layout) */
    --global-color-primary--xx-light: #FFFFFF;
    --global-color-primary--x-light: #F4F4F4;
    --global-color-primary--light: #C6C6C6;
    --global-color-primary--normal: #AFAFAF;
    --global-color-primary--dark: #707070;
    --global-color-primary--x-dark: #484848;
    --global-color-primary--xx-dark: #222222; /* Unused. For header background, which is styled by CMS styles */

    /* Distinct Hues */
    --global-color-accent--normal: #9D85EF;
        /* TODO: Use `--light` not `--light-hack` (search for manual instances */
        --global-color-accent--light-hack: #9D85EF40; /* Not used, yet. Equals `--normal` @ 25% opacity */
        --global-color-accent--light: #dfdaf5;
        --global-color-accent--x-light: #D2CCE7;
    --global-color-success--normal: #43D130;
        --global-color-success--alt: #C7CE1D;
    --global-color-warning--normal: #DBE31D;
    --global-color-danger--normal: #EB6E6E;
}
