/* SETTINGS: Color */

/* Usage: `var(--global-color-primary--normal)` */
/* SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

/* Modifers
    --normal:   standard color
    --alt:      alternate color
    --weak:     transparent instance
    --(…)light: lighter value
    --(…)dark:  darker value
*/

:root {
    /* Primary (Text, Layout) */
    --global-color-primary--xx-light: #FFFFFF;
    --global-color-primary--x-light: #F4F4F4;
    --global-color-primary--light: #C6C6C6;
    --global-color-primary--normal: #AFAFAF;
    --global-color-primary--dark: #707070;
    --global-color-primary--x-dark: #484848; /* ¹ */
    --global-color-primary--xx-dark: #222222; /* ¹ */
    /* ¹ REQ: Use of this color for text may have result darker than design
              (designer approved for accessibile color contrast via FP-1082) */

    /* Distinct Hues */
    --global-color-accent--normal: #7754E8;
        --global-color-accent--weak: #7754E840; /* =25% opacity */
                                                /* on white, eq. to #DFD7FA */
        --global-color-accent--alt: #D2CCE7;
    --global-color-info--normal: var(--global-color-primary--x-dark);
        --global-color-info--weak: var(--global-color-primary--x-light);
    --global-color-success--normal: #43D130;
        --global-color-success--weak: #43D13020;
        --global-color-success--alt: var(--global-color-warning--normal);
        --global-color-success--alt-weak: var(--global-color-warning--weak);
    --global-color-warning--normal: #C7CE1D;
        --global-color-warning--weak: #C7CE1D20;
        --global-color-warning--alt: var(--global-color-accent--normal);
        --global-color-warning--alt-weak: var(--global-color-accent--weak);
    --global-color-danger--normal: #EB6E6E;
        --global-color-danger--weak: #EB6E6E20;

    /* Common */
    --global-color-background--app: var(--global-color-primary--xx-light);
}
