@import url('@tacc/core-styles/dist/settings/color.css');

/* If Design doc uses color on the left, use color on the right
  (When design is updated to use the new colors, we can remove this)
  | Design | Code |
  | -      | -    |
  | #707070   old "dark"   | --global-color-primary--x-dark
  | #484848   old "x-dark" | --global-color-primary--xx-dark
  | #9D85EF   old "normal" | --global-color-accent--normal
  | #7159E0   deviant      | --global-color-accent--normal
  | #9D85EF20 old "weak"   | --global-color-accent--weak
  | #DFDAF5   old "light"  | --global-color-accent--weak
  | rgb(112 112 112 / 25%) | --global-color-primary--normal
  | …-primary--dark for light text  | …-primary--x-dark
  | …-primary--x-dark for dark text | …-primary--xx-dark
*/

:root {
  /* Primary (Text, Layout) */
  --global-color-primary--xx-light: #ffffff;
  --global-color-primary--x-light: #f4f4f4;
  --global-color-primary--light: #c6c6c6;
  --global-color-primary--normal: #afafaf;
  --global-color-primary--dark: #707070;
  --global-color-primary--x-dark: #484848; /* ¹ */
  --global-color-primary--xx-dark: #222222; /* ¹ */
  /* ¹ REQ: Use of this color for text may have result darker than design
              (designer approved for accessibile color contrast via FP-1082) */

  /* Accent Hues */
  --global-color-accent--x-light: #e3d7fd;
  --global-color-accent--light: #a387ed;
  --global-color-accent--normal: #784fe8;
  --global-color-accent--dark: #6039cc;
  --global-color-accent--x-dark: #3d189b;

  --global-color-accent--alt: #d2cce7;
  --global-color-accent--weak: #6039cc40; /* similar to #E3D7FD on #f4f4f4 */

  --global-color-info--dark: var(--global-color-primary--x-dark);
  --global-color-info--normal: var(--global-color-primary--normal);
  --global-color-info--light: var(--global-color-primary--x-light);
  --global-color-success--normal: #43d130;
  --global-color-success--weak: #43d13020;
  --global-color-success--alt: var(--global-color-warning--normal);
  --global-color-success--alt-weak: var(--global-color-warning--weak);
  --global-color-warning--normal: #c7ce1d;
  --global-color-warning--weak: #c7ce1d20;
  --global-color-warning--alt: var(--global-color-accent--dark);
  --global-color-warning--alt-weak: var(--global-color-accent--weak);
  --global-color-danger--normal: #eb6e6e;
  --global-color-danger--weak: #eb6e6e20;

  /* Common */
  --global-color-background--app: var(--global-color-primary--xx-light);
}
