/* SETTINGS: Color */

/* Usage: `var(--global-color-primary--normal)` */
/* SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

/* Modifers
    --normal:   standard color
    --alt:      alternate color
    --weak:     transparent instance
    --(…)light: lighter value
    --(…)dark:  darker value
*/

:root {
  /* Primary (Text, Layout) */
  /* !!!: If Design doc uses color on the left, then use color on the right
       SEE: https://github.com/TACC/Core-Portal/pull/452
            | #707070   "dark"       | #484848   "x-dark"
            | #484848   "x-dark"     | #222222   "xx-dark"
            | #9D85EF   old "normal" | #7754E8   new "normal"
            | #9D85EF20 old "weak"   | #7754E840 new "weak"
            | #DFDAF5   old "light"  | #7754E840 new "weak"
    */
  --global-color-primary--xx-light: #ffffff;
  --global-color-primary--x-light: #f4f4f4;
  --global-color-primary--light: #c6c6c6;
  --global-color-primary--normal: #afafaf;
  --global-color-primary--dark: #707070;
  --global-color-primary--x-dark: #484848; /* ¹ */
  --global-color-primary--xx-dark: #222222; /* ¹ */
  /* ¹ REQ: Use of this color for text may have result darker than design
              (designer approved for accessibile color contrast via FP-1082) */

  /* Distinct Hues */
  --global-color-accent--normal: #7754e8;
  --global-color-accent--weak: #7754e840; /* =25% opacity */
  /* on white, eq. to #DFD7FA */
  --global-color-accent--alt: #d2cce7;
  --global-color-info--normal: var(--global-color-primary--x-dark);
  --global-color-info--weak: var(--global-color-primary--x-light);
  --global-color-success--normal: #43d130;
  --global-color-success--weak: #43d13020;
  --global-color-success--alt: var(--global-color-warning--normal);
  --global-color-success--alt-weak: var(--global-color-warning--weak);
  --global-color-warning--normal: #c7ce1d;
  --global-color-warning--weak: #c7ce1d20;
  --global-color-warning--alt: var(--global-color-accent--normal);
  --global-color-warning--alt-weak: var(--global-color-accent--weak);
  --global-color-danger--normal: #eb6e6e;
  --global-color-danger--weak: #eb6e6e20;

  /* Common */
  --global-color-background--app: var(--global-color-primary--xx-light);
}
