@import url('@tacc/core-styles/src/lib/_imports/settings/font.css');

:root {
  /* stylelint-disable value-keyword-case */
  --global-font-family--sans: 'Roboto', sans-serif;
  --global-font-family--serif: Times, sans-serif;
  --global-font-family--mono: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  /* stylelint-enable value-keyword-case */

  --global-line-height: 1.4; /* From Bootstrap */
}
