.notify-bouncing::before {
    -webkit-animation: 2s bounce;
    animation: 2s bounce;
}

.notification-message,
.notification-message:hover {
    width: 100%;
    text-decoration: none;
    color: inherit;
}

notification-detail:hover > .notification {
    background:#dedede;
}

#notification-container {
  cursor:default;
}

#notification-container .dropdown-toggle {
    background-color: #00000000;
}

#notification-container .dropdown-menu {
    min-width: 40em;
}

#notification-badge {
    height: 1.7em;
    width: 1.7em;
    line-height: 1.5em;
    font-size: 0.9em;
    border-radius: 30%;
    background-color: #008cba;
    border: 2px solid white;
    color: white;
    top: 0px;
    padding: 0;
    right: 0.2em;
    position: absolute;
}

#notifications-bell-container {
    display: inline-block;
}

.notifications-wrapper {
    padding: 5px;
    background-color: black;
    overflow:auto;
    max-height:30em;
}

.notifications-none {
    padding: 5px;
    background-color: black;
}

.notifications-none div {
    background-color: white;
    color: black;
    width: 100%;
    padding: 5px 5px 5px 5px;
    font-style: italic;
}

.notifications-wrapper .notification {
    background-color: white;
    color: black;
    margin-top: 0em;
}

.notifications-wrapper .notification.unread {
    background-color: #ebfeff;
}

.notification-delete {
    color: #888888;
    margin-right: 1em;
}

/* .dropdown-menu .notification-delete {
    display: none;
} */

.dropdown-menu .notification-time { 
    display: none;
}

.dropdown-menu .notification .notification-message {
    padding: 5px;
}

.clear-notifs {
    cursor: pointer;
    padding: 7px;
    font-size: 13px;
}
