{% load static %}
<link rel="stylesheet" href="{% static "sysmon/css/sysmon.css" %}" type="text/css" />

  <div class="multi-system">
  <div class="row">
    <div class="col-xs-12">
      <p><h4><strong>System Status</strong></h4></p>
    </div>
  </div>
  {% for resource_status in statuses %}
  <div class="row">
    <div class="col-xs-8"><strong>{{ resource_status.display_name }}</strong></div>
    <hr class="hr-left-margin">
  </div>
  
  <div class="row">
    <div class="col-xs-8 status-left-padding">System Status</div>
      <div class="col-xs-4">
        {% if resource_status.is_operational %}
          <span class="label label-success label-system-status">Operational</span>
        {% else %}
          <span class="label label-warning label-system-status">Maintenance</span>
        {% endif %}
      </div>
  </div>
  <div style="padding-top:2em;"></div>
  {% endfor %}
  </div>
  