/*! To fix UI discrepancies between Portal and CMS */

/* to resolve inaccurate or missing variables  */
.s-header {
  --global-font-size--medium: 14px;
  --global-font-family: "Benton Sans", "Roboto", sans-serif;
}
/* to make size of certain elements in Portal and CMS */
/* FAQ: Bootstrap uses rem, but rem differs between Portal and CMS */
/* - to match header height */
.s-header .nav-link {
  padding-block: 5px;
}
/* - to match portal nav size */
.s-header .dropdown-menu {
  padding-block: 5px;
}
.s-header .dropdown-item {
  padding-block: 2.5px;
  padding-inline: 15px;
}

