/* this is an attempt to follow AppBrowser.scss including FP-389 while checking Allocations.scss*/


.history-wrapper {
  /* As a flex item */
  flex-grow: 1;
  flex-shrink: 0; /* Prevent Safari from shrinking this element (FP-389) */

  display: flex;
  flex-direction: column;

  padding: 20px 40px 0px 20px;
  border-bottom: 1px solid #707070;
}

.history-sidebar {
  /* FP-404: All Portal section sidebars should use this value. */
  --min-width: 200px;

  margin-left: -20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-right: 1px solid rgba(112, 112, 112, .25);
}

.history-sidebar .nav-item {
  /* Define minimum width of list and minimum width of columns in list */
  /* NOTE: Wes B. does not know how to do this using CSS Grid. Help is welcome. */
  min-width: var(--min-width);
}

.history-sidebar .nav-link {
  padding: 5px 25px 5px 20px; /* overwrite Bootstrap, match UI design */

  color: #707070;
  border-radius: 0;
  cursor: pointer; /* RFE: Add `href` on links to both avoid needing this style and provide URL to app state */
  border: none;

  white-space: nowrap;
}

.history-sidebar .nav-link.active {
  background: #dfdaf5;
  border: none;
}

.history-sidebar .nav-link.hover {
  background: #d9d1ff;
  border: none;
}

.history-sidebar .nav-link:hover {
  background: #d9d1ff;
  border: none;
}

.history-sidebar .nav-content {
  padding-left: 10px;

  display: flex;
  align-items: center;
}

.history-sidebar .nav-text {
  padding-left: 15px;
  font-size: .78em;
  font-weight: 500;
}


/* Copy from Sidebar.scss */
.history-sidebar__icon-nav {
  font-size: 1.5em;
  height: 1em;
}

.history-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #707070;
}

.history-header__text {
  font-size: 1.25rem;
  color: #484848;
  font-weight: 400;
  vertical-align: text-bottom;
  display: flex;
  align-items: flex-end;
}

.history-header__button {
  font-size: .78em;
}

.history-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.history-content {
  padding-top: 10px;
  padding-left: 1em;
  width: 100%;
  height: 100%;
  font-size: .78em;
}
