/* Allow space for all elements to be visible and usable */
/* FAQ: Edit global style based on section-specific caveat */
/* SEE: index.css */
body.has-loaded-history {
  /* HACK: Should instead (ask Design) have a responsive sidebar(s) */
  --min-width: 930px; /* just before table column values overflow */
}
