/* This is an attempt to follow AppBrowser.scss including FP-389 while checking Allocations.scss */
/* Styles that are ineffectual or from (and specific to) AppBrowser.scss have been removed */

.history-wrapper {
  /* As a flex item */
  flex-grow: 1;
  flex-shrink: 0; /* Prevent Safari from shrinking this element (FP-389) */

  display: flex;
  flex-direction: column;

  padding: 20px 40px 0 20px;
  border-bottom: 1px solid #707070;
}

.history-sidebar {
  /* FP-404: All Portal section sidebars should use this value. */
  --min-width: 200px;

  min-width: var(--min-width);
  margin-left: -20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-right: 1px solid rgba(112, 112, 112, 0.25);
}

.history-sidebar .nav-link {
  padding-left: 1.25em; /* ~20px design * 1.2 design-to-app ratio (rounded) */

  color: #707070;
}

.history-sidebar .nav-link.active,
.history-sidebar .nav-link:hover {
  background: var(--global-color-accent--light);
}

.history-sidebar .nav-text {
  padding-left: 15px;
  font-size: 0.78em;
  font-weight: 500;
}

.history-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #707070;
  /* FAQ: Design is inconsistent, but most of the time uses `10.5px` */
  padding-bottom: 0.75rem; /* ~10px * design * 1.2 design-to-app ratio */
}

.history-header__text {
  font-size: 1.25rem;
  color: #484848;
  font-weight: 400;
  vertical-align: text-bottom;
  display: flex;
  align-items: flex-end;
}

.history-header__button {
  font-size: 0.78em;
}

.history-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.history-content {
  /* FAQ: Design is inconsistent, but averages about `10.5px` */
  padding-top: 0.75rem; /* ~10px * design * 1.2 design-to-app ratio */
  padding-left: 1em;
  width: 100%;
  height: 100%;
  font-size: 0.78em;
}
