.bold-label {
  font-weight: bold;
}

.radio-input {
  margin-left: 1rem;
  margin-bottom: 0rem;
}

.array-input-container {
  margin: 20px 0px;
}

.button-full {
  min-width: 100% !important;
  margin-bottom: 20px;
}

.expand-card {
  padding-top: 20px;
}

.expand-card > div:first-child {
  padding-bottom: 20px;
}

.array-field-description {
  font-size: 12px;
  font-style: italic;
  color: #666;
  margin-top: -5px; /* Reduce space between title and description */
  margin-bottom: 10px; /* Add space before form fields */
}
