.sidebar {
  /* FP-404: All Portal section sidebars should use this value. */
  --min-width: 200px;

  width: var(--min-width);
  padding-top: 10px;

  border-right: var(--global-border--normal);
}
.content {
  /* NOTE: Mimicked on: History, Allocation, DataFiles, DataFilesProjectsList, DataFilesProjectFileListing */
  padding-top: 1.75rem; /* ~28px (22.5px * design * 1.2 design-to-app ratio) */
  padding-left: 1.5em; /* ~24px (20px * design * 1.2 design-to-app ratio) */

  /* As a flex child */
  flex-grow: 1;
}

/* Error message */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
}
