#appBrowser-wrapper {
  /* As a flex item */
  flex-grow: 1;
  flex-shrink: 0; /* Prevent Safari from shrinking this element (FP-389) */

  /* As a flex container */
  display: flex;
  flex-direction: row;
  align-items: stretch;

  --panel-vertical-buffer: 10px;
  --panel-max-item-count: 5;
  --panel-item-height: 35px; /* (~30px design * 1.2 design-to-app ratio) */
  --panel-height: calc(
    (var(--panel-max-item-count) * var(--panel-item-height)) +
      (var(--panel-vertical-buffer) * 2)
  );

  border-bottom: 1px solid #707070;
}
#appBrowser-sidebar {
  --min-width: 200px;

  display: block;
  box-sizing: border-box;
  height: var(--panel-height);
  max-height: var(--panel-height);
  min-width: var(--min-width);
  max-width: 300px;
  padding-top: var(--panel-vertical-buffer);
  padding-bottom: var(--panel-vertical-buffer);
}

#appBrowser-sidebar,
#appBrowser-tray {
  --horizontal-buffer: var(--global-space--section-left);
}
#appBrowser-sidebar {
  margin-left: calc(var(--horizontal-buffer) * -1);
  border-right: 1px solid rgb(112 112 112 / 25%);
  overflow-y: auto;
  overflow-x: hidden;
}
/* Overwrite browser styles */
/* FAQ: Combining ID and classname is overspecific, but it is accurate,
        because only with `ul` should these styles be overwritten */
ul#appBrowser-sidebar {
  padding-left: 0;
  list-style: none;
}

#appBrowser-sidebar .nav-link,
#appBrowser-tray .nav-link {
  padding-left: var(--horizontal-buffer);
  color: var(--global-color-primary--dark);
}
#appBrowser-sidebar .nav-item {
  width: 100%;
}
#appBrowser-sidebar .nav-link {
  display: block;
  width: 100%;
  min-width: var(--min-width);
  white-space: nowrap;
  /* RFE: Add `href` on links to: obviate this CSS, provide URL to app state */
  font-weight: 500;
  cursor: pointer;
}

#appBrowser-tray .nav-link {
  display: block;
  min-width: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#appBrowser-sidebar .nav-link.active,
#appBrowser-tray .nav-link.active,
#appBrowser-sidebar .nav-link:hover,
#appBrowser-tray .nav-link:hover {
  color: var(--global-color-primary--x-dark);
  background: var(--global-color-accent--weak);
  border: none;
}

#appBrowser-sidebar .nav-link.active {
  font-weight: 700;
}

#appBrowser-sidebar .nav-link:active {
  font-weight: 700;
}

#appBrowser-tray {
  --grid-gap-x: 0;
  --grid-gap-y: 0;
  --grid-min: 250px;

  flex-grow: 1;

  background-color: #f4f4f4;
  box-sizing: border-box;
  height: var(--panel-height);
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--panel-vertical-buffer) var(--horizontal-buffer);
}

#appBrowser-tray .apps-grid-list {
  display: grid;
  gap: var(--grid-gap-y) var(--grid-gap-x);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-min), 100%), 1fr)
  );
  align-content: start;
  overflow-x: hidden;
}

#appBrowser-tray .apps-grid-item {
  min-width: 0;
  overflow: hidden;
}

#appBrowser-tray .nav-text {
  padding-left: 15px;
  font-size: 0.75rem; /* 12px (10px design * 1.2 design-to-app ratio) */
  font-weight: 500;
}

#appBrowser-sidebar .nav-text {
  padding-left: 15px;
  font-size: 0.75rem; /* 12px (10px design * 1.2 design-to-app ratio) */
}
