.root {
  --table-border: 1px solid black;
  margin: 0;
  width: 100%;
  /* status */
  tr > *:nth-child(2) {
    width: 20%;
    span {
      width: 50%;
    }
  }
}

.no-results-message {
  width: 100%;
  align-items: center;
}
