.listing-wrapper {
  height: 50vh;
  max-width: 230px;
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid rgb(112 112 112 / 25%);
}
.information-wrapper {
  display: flex;
  padding: 1em;
  overflow: auto;
}
