.container {
  /* … */
}

/* Children */

.key,
.value {
  composes: u-ellipsis from '../../../styles/trumps/_u-ellipsis.scss';
}
.key {
  font-weight: 500;
}
.key::after {
  content: ':';
  display: inline;
  margin-right: 0.25em;
}

/* Types */

.is-inline {
  display: flex;
  flex-direction: row;
}
.is-inline .key ~ .key::before {
  content: '|';
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.is-block dd.value {
  margin-left: 2.5rem; /* overwrite Bootstrap `_reboot.scss` */
                       /* 40px Firefox browser default */
}
