.ticket-create-modal-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 1em;
}

.ticket-create-modal {
  color: #484848;
  font-size: 0.75rem;
  min-height: 755px;

  .modal-header {
    background-color: #F4F4F4;
  }

  /* make bootstrap dialog wider */
  @media (min-width: 1200px) {
    .modal-dialog {
      max-width: 650px;
    }
  }
}

.ticket-create-modal-content {
  height: 90vh;
}
