.ticket-create-modal {
  color: #484848;
  font-size: 0.75rem;

  .modal-header {
    background-color: #F4F4F4;
  }

  /* make bootstrap dialog wider */
  @media (min-width: 1200px) {
    .modal-dialog {
      max-width: 650px;
    }
  }
}
