.ticket-reply-required {
  .rt-td,
  .btn-link {
    font-weight: 500;
  }
}

.ticket-unknown-status {
  font-family: monospace;
}

.ticket__error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9d85ef;
  padding: 30px;
}

