.ticket-reply-required {
  font-weight: 500;
}

.ticket-unknown-status {
  font-family: monospace;
}

/* WARNING: Custom breakpoint: 1679px / 1680px */
/* SEE: https://confluence.tacc.utexas.edu/x/b4AZCg */
@media only screen and (min-width: 1680px) {
  .tickets-view {
    /* number */
    tr > *:nth-child(1) {
      width: 12%;
    }
    /* subject */
    tr > *:nth-child(2) {
      width: 61%;
    }
    /* date */
    tr > *:nth-child(3) {
      width: 13%;
    }
    /* status */
    tr > *:nth-child(4) {
      width: 14%;
    }
  }
}
@media only screen and (max-width: 1679px) {
  .tickets-view {
    /* number */
    tr > *:nth-child(1) {
      width: 5em;
    }
    /* subject (fills to available width) */
    tr > *:nth-child(2) {
      width: 100%;
    }
    /* date */
    tr > *:nth-child(3) {
      width: 6.5em;
    }
    /* status */
    tr > *:nth-child(4) {
      width: 7em;
    }
  }
}

.ticket__error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--global-color-accent--normal);
  padding: 30px;
}
