<div id="notification-container" class="dropdown btn btn-link" uib-dropdown auto-close="outsideClick" on-toggle="$ctrl.readAll(open)">
    <a id="dLabel" class="dropdown-toggle" role="button" uib-dropdown-toggle>
        <i id="notification_bell" class="fa fa-bell fa-2x"></i>
        <span id="notification-badge" title="" ng-if="$ctrl.service.notes.unread > 0">
            {{$ctrl.service.notes.unread}}
        </span>
    </a>
    <ul uib-dropdown-menu class="dropdown-menu notifications" aria-labelledby="dLabel">
        <div class="notifications-dropdown-header">
            Notifications
            <a href="/workbench/notifications" class="pull-right">
                View all
                <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a ng-if="$ctrl.service.notes.total > 0" class="pull-right" ng-click="$ctrl.delete('all')">
                Clear
                <i class="fa fa-trash"></i>
            </a>
        </div>
        <div class="notifications-wrapper" ng-if="$ctrl.service.notes.total > 0">
            <notifications-detail ng-repeat="note in $ctrl.service.notes.notifs" note="note" delete="$ctrl.delete(note.pk)"></notifications-detail>
        </div>
        <div class="notifications-none" ng-if="$ctrl.service.notes.total == 0">
            <div class="text-center">Whew, no notifications!</div>
        </div>
   </ul>
</div>
