---

- name: install uwsgi
  command: pip install uwsgi

- name: Make sure uwsgi config directories exists
  file: path=/etc/{{ item }} state=directory mode=0755 recurse=yes
  with_items:
    - uwsgi
    - uwsgi/vassals

- name: Make sure uwsgi log directories exists
  file: path=/var/log/uwsgi state=directory owner=portal group=portal

- name: Write emperor ini
  template: src=emperor.ini.j2 dest=/etc/uwsgi/emperor.ini owner=root group=root

- name: Write vassal ini
  template: src=project.ini.j2 dest=/etc/uwsgi/vassals/project.ini owner=root group=root

- name: Write ws vassal ini
  template: src=ws_project.ini.j2 dest=/etc/uwsgi/vassals/project_ws.ini owner=root group=root

- name: Setup systemd unit service file for emperor
  template: src=systemd.service.j2 dest=/usr/lib/systemd/system/uwsgi.service mode=0644 owner=root group=root

- name: Enable and start uwsgi service
  service:
    name: uwsgi.service
    state: started
    enabled: true

- name: Restart uwsgi service
  command: systemctl restart uwsgi
