.member-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    position: relative;
    vertical-align: bottom;
    border-bottom: 1px solid #DDD;
}

.validator-message {
    border: 1px solid #DDD;
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
}