{% extends "base.html" %}
{% load sekizai_tags staticfiles %}
{% block content %}
<div class="container-fluid">
{% if not hasAccess %}
	{% include "access_denied.html" %}
	{% include "navigation.html" %}
{% else %}
{% include "navigation.html" %}
<h3>Ticket #{{ ticket_id }} : {{ ticket.Subject }} </h3>
<div class="history-content-container">
{% for history in ticket_history %}

	{% if history.Type == "Correspond" or history.Type == "Create" %}
	<div class="history-content">
		{{history.Description}} on {{history.Created|date:"F j Y"}}
		<pre>{{ history.Content }}</pre>
	</div>
	{% endif %}
	{% if history.Type == "Status" %}
	<div class="history-content">
		<pre>{{ history.Description }}</pre>
	</div>
	{% endif %}
{% endfor %}
</div>
<div class="reply-link">
	{% include "reply.html" %}
</div>
{% endif %}
</div>
{% endblock %}



