	<tr>
		<td>
		{% if ticket.Status == 'new' %}
			<i class="far fa-star"></i>
		{% endif %}
		{% if ticket.Status == 'open' %}
			<i class="fas fa-envelope"></i>
		{% endif %}
		{% if ticket.Status == 'response required' %}
			<i class="fas fa-exclamation"></i>
		{% endif %}
		{% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}
			<i class="fas fa-times"></i>
		{% endif %}
		{{ticket.Status}}
		</td>
	<td>
		<a href="{% url 'tickets:detail' ticket.id %}"> #{{ ticket.id }} : {{ ticket.Subject }}</a>
		<!--<a target="_blank" href="https://consult.tacc.utexas.edu/Ticket/Display.html?id={{ticket.id}}">#{{ticket.id}} : {{ticket.Subject}}</a>-->
	</td>
	<td>
		{{ticket.LastUpdated|date:"F j Y"}}
	</td>
	</tr>
