/* To override `contentLayoutName` media queries */
/* CAVEAT: Not supported on Safari until v16 */
@supports (container-type: inline-size) {
  /* To allow a container query */
  .root {
    container-type: inline-size;
    container-name: system-section-root;

    /* FAQ: Only necessary because container-type: (…-)size */
    /* https://stackoverflow.com/a/73980194/11817077 */
    width: 100%;
  }

  /* So we control when column count changes */
  /* FAQ: The `contentLayoutName` triggers CSS that changes column count based on media query */
  .layout {
    column-count: 1;
  }

  @container system-section-root (width > 1000px) {
    .layout {
      column-count: 2;
    }
  }
}

.layout {
  padding-top: var(--global-space--section-top);
  padding-left: var(--global-space--section-left);
  padding-bottom: var(--global-space--section-right);
}

.panel-1 {
  /* To align child tables vertically and support scrollbars they could have */
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3rem;
}

/* Error message */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding-bottom: 1.5rem;
}
.header h3 {
  font-size: 1.25rem;
}
