@import url('@tacc/core-styles/src/lib/_imports/components/c-button.css');

/* Base */

.c-button {
  --max-width: 136px;

  font-size: 0.75rem; /* 12px (10px design * 1.2 design-to-app ratio) */
}

/* Modifiers */

.c-button--width-auto {
  width: auto;
}
