
/* FP-546: Some styles are overridden/duplicated by `Workbench.scss` */
/*
Button

A button that may have icon(s) before and/or after its text.

Override Bootstrap styles. See:
- [ReactStrap Buttons](https://reactstrap.github.io/components/buttons/)
- [Bootstrap Buttons](https://getbootstrap.com/docs/4.4/components/buttons/)

.c-button--primary - A primary (expected) user action
.c-button--secondary - For an optional user action
.c-button--as-link - A button that visually resembles a link

Markup:
<main>
    <button class="c-button c-button--secondary">
      <i class="c-button__icon--before" data-icon="X">(clear input)</i>
      <span class="c-button__text">Cancel</span>
    </button>
    <button class="c-button c-button--primary">
      <i class="c-button__icon" data-icon="✓">(check input)</i>
      <span class="c-button__text">Confirm</span>
      <i class="c-button__icon--after" data-icon="→">(and exit)</i>
    </button>
    <button class="c-button c-button--secondary">
      <span class="c-button__text">Skip</span>
      <i class="c-button__icon--after" data-icon="→">(and move to next form)</i>
    </button>
    <button class="c-button c-button--as-link">
      Return to Previous Screen
    </button>
</main>

Styleguide Components.Button
*/





/* Base */

.c-button,
[class*='c-button--'] {
  --min-width: 75px;
  --mid-width: 110px;
  --max-width: 130px;

  display: inline-block;

  border-width: var(--global-border-width--normal);
  border-style: solid;

  font-weight: 500;
  font-size: 0.75rem; /* 12px (10px design * 1.2 design-to-app ratio) */

  /* When possible: @extend %x-truncate--one-line; */
  /* SEE: https://github.com/tacc-wbomar/Core-Styles/blob/20e4cb7/source/_imports/tools/x-truncate.css#L36-L41 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition: 0.2s;
}





/* Modifiers */


/* Modifiers: Types */

.c-button--primary,
.c-button--secondary {
  padding: 6px 18px;
  min-width: var(--min-width);
  max-width: var(--max-width);
}

.c-button--primary {
  color: var(--global-color-primary--xx-light);
  background-color: var(--global-color-accent--normal);
  border-color: var(--global-color-accent--normal);
}
.c-button--primary:disabled {
  color: var(--global-color-primary--x-dark);
  background-color: var(--global-color-primary--light);
  border-color: var(--global-color-primary--light);
}
.c-button--primary:not(:disabled):hover {
  background-color: var(--global-color-accent-muted--dark);
  border-color: var(--global-color-primary--xx-light); /* as if half pressed */
}
.c-button--primary:not(:disabled):active {
  background-color: var(--global-color-accent-muted--x-dark);
  border-color: var(--global-color-accent-muted--x-dark);
}
.c-button--primary:disabled {
  color: #48484880;
  background-color: #c6c6c6;
}
.c-button--primary:not(:disabled):hover {
  color: white;
  background-color: #5f6ac3;
  border-color: var(--global-color-primary--x-dark);
}
.c-button--primary:not(:disabled):active {
  color: white;
  background-color: #232b66;
  border-color: var(--global-color-primary--x-dark);
}
.c-button--width-short {
  width: 68px;
}
.c-button--width-medium {
  width: 104px;
}
.c-button--width-large {
  width: 125px;
}
.c-button--size-small {
  width: 32px;
  height: 32px;
}

.c-button--secondary {
  color: var(--global-color-primary--x-dark);
  background-color: var(--global-color-primary--x-light);
  border-color: var(--global-color-primary--normal);
}
.c-button--secondary:disabled {
  color: var(--global-color-primary--dark);
  background-color: var(--global-color-primary--xx-light);
  border-color: var(--global-color-primary--normal);
}
.c-button--secondary:not(:disabled):hover {
  color: var(--global-color-primary--x-dark);
  background-color: var(--global-color-primary--light);
  border-color: var(--global-color-primary--xx-light); /* as if half pressed */
}
.c-button--secondary:not(:disabled):active {
  color: var(--global-color-primary--x-light);
  background-color: var(--global-color-primary--dark);
  border-color: var(--global-color-primary--xx-dark);
}

.c-button--as-link {
  color: var(--global-color-accent--normal);

  background: unset;
  border: unset;
  padding-inline: unset;
}
.c-button--as-link:not(:disabled):hover {
  text-decoration: underline;
}


/* Modifiers: Sizes */

.c-button--width-short {
  width: var(--min-width);
}
.c-button--width-medium {
  width: var(--mid-width);
}
.c-button--width-long {
  width: var(--max-width);
}
.c-button--size-small {
  min-width: 0;
  padding: 3px 9px;
  line-height: 1;
}





/* Elements */

.c-button__icon--before,
.c-button__icon--after {

}

.c-button__icon--before {
  margin-right: 0.5em;
}
.c-button__icon--after {
  margin-left: 0.5em;
}

.c-button__text {
  /* … */
}
