/*
Dropdown

A menu of navigation elements.

Styleguide Components.Dropdown
*/

/* Nested to prevent styles from affecting CMS header dropdown */
.workbench-wrapper {
  .dropdown-menu {
    border-color: var(--global-color-accent--normal);
    border-radius: 0;
    margin-top: 11px;
    padding: 0;
    min-width: 200px;
    width: auto;
    vertical-align: top;
  }
  .dropdown-menu::before,
  .dropdown-menu::after {
    position: absolute;
    left: 65px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--global-color-accent--normal);
    border-left: 10px solid transparent;
    margin-left: 20px;
    content: '';
  }
  .dropdown-menu::before {
    top: -10px;
  }
  .dropdown-menu::after {
    top: -9px;
    border-bottom-color: var(--global-color-primary--xx-light);
  }

  .dropdown-item {
    padding: 10px 6px;
    color: var(--global-color-primary--x-dark);
    font-size: 14px;
    & i {
      padding-right: 19px;
      font-size: 20px;
      vertical-align: middle;
    }
    &:hover {
      color: var(--global-color-primary--x-dark);
    }
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    /* FAQ: Before FP-1083, value was #E6E0FB, which matched Design
            and was `--global-color-accent` at 25% opacity on white…
            which is what `--global-color-accent--weak` is now */
    background-color: var(--global-color-accent--weak);
  }
}
