/*
Dropdown

A menu of navigation elements.

Styleguide Components.Dropdown
*/

.workbench-wrapper /* nested so CMS header dropdown is unaffected */ {
  .dropdown-menu {
    --border-width: 1px;
    --border-color: var(--global-color-accent--normal);
    --arrow-size: 10px;

    margin-top: var(--arrow-size); /* to make space for arrow */

    padding-block: unset; /* to undo Bootstrap */
    border-radius: unset; /* to undo Bootstrap */

    border: var(--border-width) solid var(--border-color);
  }
  .dropdown-menu::before,
  .dropdown-menu::after {
    position: absolute;

    border-right: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid var(--global-color-accent--normal);
    border-left: var(--arrow-size) solid transparent;

    content: '';
  }
  .dropdown-menu::before {
    top: calc(var(--arrow-size) * -1);
  }
  .dropdown-menu::after {
    top: calc(( var(--arrow-size) - var(--border-width)) * -1);
    border-bottom-color: var(--global-color-primary--xx-light);
  }

  .dropdown-item {
    padding: 10px 6px;
    color: var(--global-color-primary--x-dark);
    font-size: 14px;
    & i {
      padding-right: 19px;
      font-size: 20px;
      vertical-align: middle;
    }
    &:hover {
      color: var(--global-color-primary--x-dark);
    }
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: var(--global-color-accent--weak);
  }
}
