.MuiTab-root {
  font-size: 19px;
  text-align: center;
  opacity: 1;
  display: inline-block;
  position: absolute;
  width: 25%;
  height: 60.5px;
}

.MuiTab-root.Mui-selected {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #afafaf;
  border-bottom: none;
  opacity: 1;
  text-transform: none;
  outline: none;
}
.MuiTab-root:not(.Mui-selected) {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  color: black;
  border: none;
  border-bottom: 1px solid #afafaf;
  text-transform: none;
  height: 58.5px;
}
.MuiTab-root:not(.Mui-selected):hover {
  background: #dbdbdb 0% 0% no-repeat padding-box;
  border: 1px solid #afafaf;
}

.modal-header.has-MuiTabs .MuiTabs-indicator {
  background-color: white;
}
