<div class="alert alert-info"
     data-ng-show="$ctrl.DataBrowserService.currentState.busyListing || $ctrl.DataBrowserService.currentState.busy">
  <p class="text-center">
      <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
  </p>
</div>
<div class="alert"
     data-ng-class="$ctrl.DataBrowserService.currentState.ui.message.class"
     data-ng-show="$ctrl.DataBrowserService.currentState.ui.message.show">
  <p class="text-center">
    {{$ctrl.DataBrowserService.currentState.ui.message.content}}
  </p>
</div>
<div ng-if="$ctrl.DataBrowserService.currentState.error.message"
  ng-bind-html="$ctrl.DataBrowserService.currentState.error.message" class="alert alert-warning">
</div>
<!-- <div ng-if="$ctrl.browser.error.message && [409, 401].includes($ctrl.browser.error.status)"
  ng-bind-html="$ctrl.browser.error.message" class="alert alert-warning">
</div>
<div class="alert alert-danger"
  ng-if="$ctrl.browser.error.message && ![409, 401].includes($ctrl.browser.error.status)">
  {{$ctrl.browser.error.message}}
</div> -->
<div class="push-keys-message" data-ng-if="$ctrl.DataBrowserService.currentState.error.status == 502">
  <p>
    There seems to be a problem with your storage system. <br/>
    You might be able to fix this problem by
    <button type="button"
            class="btn btn-link"
            data-ng-click="$ctrl.openPushPublicKeyForm()">
      <span data-ng-if="!$ctrl.DataBrowserService.currentState.ui.pushKeyModalOpening">
        pushing the public key to the storage system
      </span>
      <span data-ng-if="$ctrl.DataBrowserService.currentState.ui.pushKeyModalOpening">
        <i class="fa fa-spinner fa-spin">&nbsp;</i>Loading ...
      </span>
    </button>. <br/>
    If the problem persists please submit a ticket and we will take care
    of it as soon as possible.
  </p>
</div>
<div class="push-keys-message" data-ng-if="$ctrl.DataBrowserService.currentState.error.status == 404">
  <p>
    There seems to be a problem loading your storage system. <br />
    You may be able to fix this problem by <a href="/accounts/logout">logging out</a> and logging in again.
  </p>
</div>
<div class="table-responsive dd-listing-wrapper"> <!-- START FILE LISTING TABLE WRAPPER -->
  <table class="table table-bordered table-striped"><!-- START FILE LISTING TABLE -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Last Modified</th>
        <th>Permissions</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-if="!$ctrl.DataBrowserService.currentState.busyListing"
          data-ng-repeat="file in $ctrl.DataBrowserService.currentState.listing.children"
          data-ng-click="$ctrl.onSelect($event, file)"
          data-ng-class="{'dd-file-selected':  file._ui.selected}">
          <td>
            <i class="fa {{ file.icon() }} fa-fw">&nbsp;</i>
            <!-- <a data-ng-href="{{ file._links._self.href }}"
               data-ng-click="onBrowse($event, file)">
               {{ file.name }}
            </a> -->
            <a data-ng-click="$ctrl.onBrowse({$event: $event, file: file})">
               {{ file.name }}
            </a>

          </td>
          <td>{{ file.length|bytes }}</td>
          <td>{{ file.lastModified|date:"short" }}</td>
          <td> {{ file.permissions | agaveperms}}
      </tr>
      <tr ng-if="!($ctrl.DataBrowserService.currentState.busyListing || $ctrl.DataBrowserService.currentState.busy) && $ctrl.DataBrowserService.currentState.listing.children.length === 0" >
        <td colspan="4">
            <div  class="text-center">
                <p class="lead">
                    No files to show!
                    <br><i class="fa fa-folder-open-o"></i>
                </p>
              </div>
        </td>
      </tr>
    </tbody>
  </table> <!-- ENDS FILE LISTING TABLE -->
</div>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
    <button class="btn btn-default btn-block" 
            data-ng-show="$ctrl.showMoreFilesButton()"
            data-ng-click="$ctrl.loadMore()">
                Show more files
                <i class="fa fa-spinner fa-spin" 
                data-ng-if="$ctrl.DataBrowserService.currentState.loadingMore">&nbsp;</i>
    </button>
</div>
<div class="col-md-3"></div>
</div>

