/* FAQ: Ancestor of `.dashboard-items` */
/* RFC: Class name `.dashboard-item` (to coincide with `.dashboard-items`) */
.container {
  /* … */
}
.container dt > small {
  display: block;
}
.list-item {
  font-size: 14px;
  margin-top: 20px;
}
