agavepy==0.9.3
aldryn-boilerplates==0.8.0
aldryn-bootstrap3==1.3.0
aldryn-common==1.0.5
aldryn-search==1.0.1
amqp==2.2.2
appnope==0.1.0
asn1crypto==0.24.0
backports.csv==1.0.7
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.4
beautifulsoup4==4.7.1
billiard==3.5.0.3
cached-property==1.3.0
captcha==0.3
celery==4.0.2
cffi==1.11.5
cmsplugin-filer==1.1.3
cmsplugin-iframe==0.1.5
-e git+https://github.com/matinfo/cmsplugin-socialsharekit.git@25698b1b65e1619e1736b645f4ca3206d1c9f0dc#egg=cmsplugin_socialsharekit
cookies==2.2.1
coverage==4.5.1
cryptography==2.2.2
decorator==4.0.11
defusedxml==0.5.0
Django==1.10.5
django-admin-sortable2==0.7
django-appconf==1.0.2
django-bootstrap3==8.1.0
django-classy-tags==0.8.0
django-cms==3.5.3
django-filer==1.4.4
django-formtools==2.0
django-haystack==2.6.0
django-impersonate==1.1
django-ipware==2.1.0
django-mptt==0.8.7
django-polymorphic==1.0.2
django-recaptcha==1.3.1
django-recaptcha2==1.0.3
django-sekizai==0.10.0
django-settings-export==1.2.1
django-sortedm2m==1.5.0
django-spurl==0.6.6
django-standard-form==1.1.1
django-termsandconditions==1.1.2
django-treebeard==4.3
django-websocket-redis==0.5.2
djangocms-admin-style==1.2.9
djangocms-attributes-field==1.0.0
djangocms-audio==1.1.0
djangocms-cascade==0.16
djangocms-forms==0.2.5
djangocms-googlemap==1.2.0
djangocms-snippet==2.1.0
djangocms-style==2.1.0
djangocms-text-ckeditor==3.6.1
djangocms-video==2.1.1
djangocms-youtube==0.2.1
easy-thumbnails==2.5
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
enum34==1.1.6
et-xmlfile==1.0.1
fudge==1.1.1
funcsigs==0.4
future==0.16.0
futures==3.0.5
gevent==1.2.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-oauthlib==0.3.0
greenlet==0.4.12
hashids==1.2.0
html5lib==1.0.1
idna==2.6
ipaddress==1.0.16
ipdb==0.7.1
ipython==5.1.0
ipython-genutils==0.1.0
isodate==0.6.0
jdcal==1.4
Jinja2==2.7.3
jsonfield==2.0.2
jsonpickle==1.1
kitchen==1.1.1
kombu==4.1.0
lxml==4.3.3
MarkupSafe==1.0
mock==1.3.0
newrelic==3.2.0.91
odfpy==1.4.0
olefile==0.45.1
openpyxl==2.6.2
paramiko==2.4.1
pathlib2==2.2.1
pbr==1.8.1
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.3
prompt-toolkit==1.0.15
psycopg2==2.7.4
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.4.2
pycparser==2.18
pycrypto==2.6.1
Pygments==2.2.0
PyJWT==1.7.1
PyNaCl==1.2.1
-e git+https://bitbucket.org/taccaci/pytas.git@492202b5d8dd010164996bbb76f01b46e9efb70e#egg=pytas
pytest==2.8.3
python-dateutil==2.4.2
pytz==2018.9
PyYAML==5.1
redis==2.10.5
requests==2.8.1
requests-toolbelt==0.8.0
responses==0.5.0
rt==1.0.11
scandir==1.4
simplegeneric==0.8.1
simplejson==3.16.0
six==1.10.0
soundcloud==0.5.0
soupsieve==1.9
sphinx-rtd-theme==0.2.4
suds==0.4
tablib==0.13.0
traitlets==4.3.2
Unidecode==0.4.20
urllib3==1.21.1
URLObject==2.4.3
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.47.0
xlrd==1.2.0
xlwt==1.3.0
YURL==0.13
