[uwsgi]
home={{ uwsgi_home }}
chdir={{ uwsgi_chdir }}
logger=file:/var/log/uwsgi/{{ uwsgi_log_filename}}:maxsize={{ uwsgi_log_maxsize }}
logger=syslog:uwsgi_ws
module={{ uwsgi_ws_module }}
env=DJANGO_SETTINGS_MODULE=portal.settings.settings
gid={{ uwsgi_gid }}
uid={{ uwsgi_uid }}
vacuum=True
processes=5
gevent=1000
http-websockets = true
http-socket={{ uwsgi_ws_socket_path }}
chown-socket={{ uwsgi_chown_socket }}
chmod-socket={{ uwsgi_chmod_socket }}
