@import '../../../styles/tools/mixins.scss';

.root {
  /* As a flex child */
  flex-grow: 1;

  /* WARNING: Mimicked on: History, Allocation, DataFiles, DataFilesProjectsList, DataFilesProjectFileListing, PublicData */
  padding-top: 1.75rem; /* ~28px (22.5px * design * 1.2 design-to-app ratio) */
  padding-left: 1.5em; /* ~24px (20px * design * 1.2 design-to-app ratio) */
}

/* NOTE: Mimicked on: DataFiles, DataFilesProjectsList, DataFilesProjectFileListing */
.root-placeholder {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  padding-top: 0.5em;
  margin-bottom: 1em; /* padding would only be effectual within scrollarea */
  color: var(--global-color-primary--x-dark);
  white-space: pre-wrap; 

  /* FAQ: `14px` is part of normalization of "table" font sizes */
  font-size: 0.875rem; /* 14px (assumed deviation from design) */

  border-top: var(--global-border-width--normal) solid var(--global-color-primary--dark);
}

.description button {
  font-size: 0.875rem;
  padding-right: 0;
  padding-left: 0;
}

.controls {
  display: flex;
  align-items: flex-start;
}

.title {
  @include truncate-with-ellipsis;
  max-width: 1400px;
}

.edit {
  padding: 0;
}

.separator {
  font-weight: bold;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

/* Title */
@media only screen and (min-width: 1680px) {
  .title {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1679px) {
  .title {
    max-width: 590px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .title {
    max-width: 470px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .title {
    max-width: 270px;
  }
}

@media only screen and (max-width: 991px) {
  .title {
    max-width: 200px;
  }
}
