.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title-bar {
  border-bottom: 1px solid black;
  padding-left: 1em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
}

.description {
  padding-left: 1em;
  padding-bottom: 1em;
  color: #707070;
  font-size: 12px;
}

.controls {
  display: flex;
  align-items: flex-start;
}

.edit {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.separator {
  font-weight: bold;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
