.user-member-search {
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    border: 1px solid #DDD;
}

.user-search-button-container {
    margin-top: 1em;
    width: 100%;
    text-align: right;
}

.user-search-animate.ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}