<div class="modal-header">
    <h3 class="modal-title">Upload {{ $ctrl.directoryUpload && $ctrl.directoryUploadSupported ? 'folder' : 'files' }}</h3>
</div>
<div class="modal-body">
    <p ng-if="$ctrl.directoryUpload && ! $ctrl.directoryUploadSupported" class="alert alert-warning">
        <i class="fa fa-warning"></i>
        This browser does not support folder upload. You can still upload multiple files.
    </p>
    <p>
        Uploading to <code><i class="fa fa-folder"></i> {{ $ctrl.destination.path }}</code>:
    </p>
    <form>
        <div class="form-group">
            <label for="id-choose-files">Select {{ $ctrl.directoryUpload && $ctrl.directoryUploadSupported ? 'folder' : 'files' }}</label>
            <input type="file" multiple class="form-control" id="id-choose-files" name="choose-files"
                   ng-disabled="$ctrl.uploading || state.retry"
                   ng-attr-directory="{{ $ctrl.directoryUpload && 'true' || undefined }}"
                   ng-attr-webkitdirectory="{{ $ctrl.directoryUpload && 'true' || undefined }}"
                   file-change="$ctrl.filesSelected(files)">
        </div>
        <p ng-if="! ($ctrl.uploading || $ctrl.retry)">{{ $ctrl.uploads|length }} files staged for upload</p>
        <p ng-if="$ctrl.uploading">{{ $ctrl.uploads|length }} files uploading</p>
        <div ng-if="$ctrl.retry" class="alert alert-warning">
            <p>
                {{ $ctrl.uploads|filter:{"$ctrl":"error"}|length }} uploads encountered an error.
                See below for details. Click "Retry" to retry uploading files with errors.
            </p>
            <button class="btn btn-warning" ng-click="$ctrl.retry()">Retry Upload</button>
        </div>
        <div class="form-group" style="max-height:400px;overflow-y:scroll">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="upload in $ctrl.uploads">
                    <div class="row">
                        <div class="col-sm-6 col-xs-9">{{  upload.file.webkitRelativePath || upload.file.name }}</div>
                        <div class="col-sm-3 hidden-xs">({{ upload.file.size|bytes }})</div>
                        <div class="col-sm-3 col-xs-3">
                            <span ng-if="upload.state === 'pending'" class="text-muted">
                                <i class="fa fa-clock-o"></i> <span class="sr-only">Pending</span>
                                <button ng-click="$ctrl.removeUpload($index)" class="btn btn-default btn-xs">Remove</button>
                            </span>
                            <span ng-if="upload.state === 'uploading'" class="text-info">
                                <i class="fa fa-refresh fa-spin"></i> <span class="sr-only">Upload in progress</span>
                            </span>
                            <span ng-if="upload.state === 'success'" class="text-success">
                                <i class="fa fa-check-circle"></i> <span class="sr-only">Uploaded</span>
                            </span>
                            <span ng-if="upload.state === 'error'" class="text-danger">
                                <i class="fa fa-times-circle"></i> <span>{{ upload.error }}</span>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="actions clearfix">
            <div class="pull-left">
                <button class="btn btn-default"
                    ng-disabled="$ctrl.uploading || ($ctrl.uploads|length) === 0"
                    type="button"
                    ng-click="$ctrl.reset()">Reset</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary"
                    ng-disabled="($ctrl.uploading || state.retry || ($ctrl.uploads|length) === 0 ) || $ctrl.tagFiles"
                    type="button"
                    ng-click="$ctrl.upload()">
                    <span ng-if="! $ctrl.uploading">Begin upload</span>
                    <span ng-if="$ctrl.uploading"><i class="fa fa-refresh fa-spin"></i> Uploading</span>
                </button>
                <button class="btn btn-success" ng-if="($ctrl.uploading || $ctrl.retry || ($ctrl.uploads|length)) && $ctrl.tagFiles"
                        type="button" ng-click="$ctrl.tagFiles()">
                    <span ng-if="!$ctrl.uploading">Tag Files</span>
                </button>
                <button class="btn btn-default" ng-disabled="$ctrl.uploading" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer"></div>
