/* Block */

.root {
  display: flex;
  flex-direction: column;
}

/* Elements */

/* CAVEAT: This is only applied to automatically-built sub-components */
.header {
  flex-shrink: 0;
}

/* Modifiers */

/* Ensure table has height so `.table-wrap` can stretch to fill that height */
.has-wrap {
  flex-grow: 1;
}

/* NOTE: Similar on: SectionContent, SectionTableWrapper */
.should-scroll :global(.o-flex-item-table-wrap) {
  /* We want to permit vertical scrolling, without forcing it */
  /* FAQ: Did not set `overflow: auto`, because that would certainly hide negative-margined sidebar links */
  /* CAVEAT: Setting `overflow-y` still hides the negative-margined sidebar links because `overflow-x: visible` (default) is re-intepreted as `auto` */
  /* SEE: https://stackoverflow.com/a/6433475/11817077 */
  overflow-y: auto;
}
.root:not(.should-scroll) :global(.o-flex-item-table-wrap) {
  /* We want to disable vertical and horizontal scrolling */
  overflow: hidden;
}
