.modal-body {
  color: var(--global-color-primary--xx-dark);
}
.link {
  color: var(--global-color-accent--normal);
  &:hover {
    color: var(--global-color-accent--normal);
    text-decoration: underline;
  }
}
