/* Allow space for all elements to be visible and usable */
/* FAQ: Edit global style based on section-specific caveat */
/* SEE: index.css */
body.has-loaded-applications {
    /* Allow space to see `AppForm`, given how tall `AppBrowser` can be */
    --min-height: 500px; /* just enough space to work in (still cramped) */
}
