/* Block */

.root {
  display: flex;
  flex-direction: column;
}

/* Elements */

.table-wrap {
  flex-grow: 1;

  position: relative;
  overflow: auto;
}
.table-wrap > table {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Elements: Sub-Components */
/* CAVEAT: These are only applied to automatically-built sub-components */
.header {
  flex-shrink: 0;
}
