/* Block */

.root {
  display: flex;
  flex-direction: column;
}

/* Elements */

/* stylelint-disable selector-pseudo-class-no-unknown */
.table-wrap,
/* TODO: Create a global `o-table-wrap` */
:global(.o-table-wrap) {
  flex-grow: 1;

  position: relative;
}
.table-wrap > table,
/* TODO: Create a global `o-table-wrap` */
:global(.o-table-wrap) > table {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* stylelint-enable selector-pseudo-class-no-unknown */

/* Elements: Sub-Components */
/* CAVEAT: These are only applied to automatically-built sub-components */
.header {
  flex-shrink: 0;
}

/* Modifiers */

/* NOTE: Similar on: SectionContent, SectionTable */
.should-scroll .table-wrap {
  /* We want to permit vertical scrolling, without forcing it */
  /* FAQ: Did not set `overflow: auto`, because that would certainly hide negative-margined sidebar links */
  /* CAVEAT: Setting `overflow-y` still hides the negative-margined sidebar links because `overflow-x: visible` (default) is re-intepreted as `auto` */
  /* SEE: https://stackoverflow.com/a/6433475/11817077 */
  overflow-y: auto;
}
.root:not(.should-scroll) .table-wrap {
  /* We want to disable vertical and horizontal scrolling */
  overflow: hidden;
}
