.root {
  display: flex;
  .copy-button {
    transition: background-color 5s;
  }
}

.root.copied {
  .copy-button {
    background-color: green;
  }
}

.input {
  composes: form-control from '../../../styles/components/bootstrap.form.css';
}

.copy-button {
  composes: c-button--secondary from '../../../styles/components/c-button.css';
}

.button__icon {
  composes: c-button__icon--before from '../../../styles/components/c-button.css';
}

.button__text {
  /* … */
}

