LOCAL_VM_PORTAL_NAME = "ut-portal-test"
LOCAL_VM_PORTAL_IP = "172.28.128.4"
LOCAL_VM_WORKERS_NAME = "ut-workers-test"
LOCAL_VM_WORKERS_IP = "172.28.128.5"
LOCAL_VM_ELASTICSEARCH_NAME = "ut-elasticsearch"
LOCAL_VM_ELASTICSEARCH_IP = "172.28.1.6"
LOCAL_PROJECT_DIR = "../project"
LOCAL_PROJECT_MOUNT = "/srv/www/project"
LOCAL_ANSIBLE_VERBOSITY = "vvv"
#LOCAL_VIRTUALBOX_CABLE = false
