<div ng-if="$ctrl.job.lastStatusMessage" class="job-expandable">
    <div class="job-expandable-toggle" ng-class="$ctrl.Jobs.getStatusClass($ctrl.job)" ng-click="$ctrl.statusToggle()">
        <span class="job-expandable-padding" >
            Status Report&nbsp;
            <i ng-if="!$ctrl.expandStatus" class="fa fa-chevron-circle-down"></i>
            <i ng-if="$ctrl.expandStatus" class="fa fa-chevron-circle-up"></i>
        </span>
    </div>
    <div ng-if="$ctrl.expandStatus" class="job-expandable-padding job-expandable-message">
        <p>{{$ctrl.job.lastStatusMessage}}</p>
    </div>
</div>