.data-files-nav-link {
  text-decoration: none;
  color: var(--global-color-accent--normal);
}
.data-files-nav-link:hover {
  text-decoration: underline;
  color: var(--global-color-accent--normal);
}

.data-files-name {
  font-size: 10px/11px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-fade {
  position: relative;
}

.scroll-fade::after {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  content: '';
  background: linear-gradient(
    to top,
    rgb(255 255 255 / 70%) 20%,
    rgb(255 255 255 / 0%) 95%
  );
  pointer-events: none;
}
.icon-filetype {
  font-size: 1.1em;
  color: #707070;
  display: flex;
}

.dataTypeBox {
  display: inline-block;
  background-color: #808080; /* Light grey background */
  color: #fff; /* Dark text color */
  padding: 2px 8px; /* Small top/bottom padding, larger left/right padding */
  border-radius: 12px; /* Rounded corners */
  font-size: 0.875rem; /* Smaller font size */
  margin: 8px 0px;
  font-weight: bold;
}
