.session-modal-header {
  background-color: #f4f4f4;
  h5 {
    font-weight: normal;
  }
}
.session-modal-body {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  & > * {
    margin: 0.4rem;
  }
}
.connect-button {
  border-radius: 0;
  align-self: center;
  font-size: 0.8rem;
  background-color: var(--global-color-accent--normal);
  margin: 2rem 0;
}
.url {
  color: grey;
  font-style: italic;
}
