<div class="modal-header">
    <h3 class="modal-title">Channel Preview: {{ $ctrl.file.name }}</h3>
</div>

<div class="modal-body">
    <div class="alert alert-info" ng-show="$ctrl.requestingCoords">
        <p class="text-center">
            <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
        </p>
    </div>
    <div ng-show="!$ctrl.requestingCoords">
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Channel Metadata:</label>
                <table class="table table-bordered file-preview-table">
                    <tr>
                        <td>Description</td>
                        <td>{{$ctrl.channel.description}}</td>
                    </tr>
                    <tr>
                        <td>default_time_sample</td>
                        <td>{{$ctrl.channel.default_time_sample}}</td>
                    </tr>
                    <tr>
                        <td>type</td>
                        <td>{{$ctrl.channel.type}}</td>
                    </tr>
                    <tr>
                        <td>base_resolution</td>
                        <td>{{$ctrl.channel.base_resolution}}</td>
                    </tr>
                    <tr>
                        <td>datatype</td>
                        <td>{{$ctrl.channel.datatype}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">


                <label>Coordinates:</label>
                <table class="table table-bordered file-preview-table">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Start</th>
                            <th>Stop</th>
                            <th>Voxel Size ({{$ctrl.coords.voxel_unit}})</th>
                        </tr>
                        <tr>
                            <td>x</td>
                            <td>{{$ctrl.coords.x_start}}</td>
                            <td>{{$ctrl.coords.x_stop}}</td>
                            <td>{{$ctrl.coords.x_voxel_size}}</td>

                        </tr>
                        <tr>
                            <td>y</td>
                            <td>{{$ctrl.coords.y_start}}</td>
                            <td>{{$ctrl.coords.y_stop}}</td>
                            <td>{{$ctrl.coords.y_voxel_size}}</td>

                        </tr>
                        <tr>
                            <td>z</td>
                            <td>{{$ctrl.coords.z_start}}</td>
                            <td>{{$ctrl.coords.z_stop}}</td>
                            <td>{{$ctrl.coords.z_voxel_size}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form action="#">
            <div class="form-group row">
                <div class="col-md-6">
                    <label>x start</label>
                    <input ng-model="$ctrl.previewParams.x_start" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>x stop</label>
                    <input ng-model="$ctrl.previewParams.x_stop" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>y start</label>
                    <input ng-model="$ctrl.previewParams.y_start" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>y stop</label>
                    <input ng-model="$ctrl.previewParams.y_stop" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>z start</label>
                    <input ng-model="$ctrl.previewParams.z_start" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>z stop</label>
                    <input ng-model="$ctrl.previewParams.z_stop" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                    <div class="col-md-6">
                        <label>Resolution</label>
                        <input ng-model="$ctrl.previewParams.resolution" class="form-control">
                    </div>
    
                </div>



    <div class="form-group row">
        <div class="col-md-12">
            <label>Filename</label>
            <div class="input-group">
                <input ng-model="$ctrl.previewParams.filename" placeholder="{{$ctrl.placeholder}}" class="form-control">
                <div class="input-group-btn">

                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{$ctrl.previewParams.type}} <span
                            class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a ng-click="$ctrl.downloadType('.jpg')">.jpg</a></li>
                        <li><a ng-click="$ctrl.downloadType('blosc')">blosc</a></li>
                        <li><a ng-click="$ctrl.downloadType('blosc-python')">blosc-python</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>

        </div>
    </div>
    </form>
    <div>
        <button class="btn btn-primary" ng-click="$ctrl.preview()">Preview Cutout</button>
        <button class="btn btn-primary" ng-click="$ctrl.save()">Save to Data Files</button><br>
    </div>
    <div>
        <div class="alert alert-info" ng-show="$ctrl.requestingImg">
            <p class="text-center">
                <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
            </p>
        </div>
        <div class="well" ng-show="$ctrl.hasImg && !$ctrl.requestingImg">
            <div class="caption">Image Preview:</div> <br>
            <img src="{{$ctrl.img}}" style="max-width:100%" />
        </div>
    </div>
</div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">Close</button>
</div>