CELERY_NODES={{celeryd_nodes}}
CELERY_APP={{celeryd_app}}
CELERY_PID_FILE={{celeryd_pid_file}}
CELERY_LOG_FILE={{celeryd_log_file}}
CELERY_LOG_LEVEL={{celeryd_log_level}}
CELERY_OPTS={{celeryd_opts}}

CELERYBEAT_PID_FILE = {{celerybeat_pid_file}}
CELERYBEAT_LOG_FILE = {{celerybeat_log_file}}
CELERYBEAT_LOG_LEVEL = {{celerybeat_log_level}}
CELERYBEAT_OPTS = {{celerybeat_opts}}
