[Unit]
Description=Celery Beat Daemon Service
After=network.target

[Service]
Type=simple
User={{celeryd_user}}
Group={{celeryd_group}}
EnvironmentFile=/etc/conf.d/celery
WorkingDirectory={{ celeryd_working_dir }}
ExecStart={{celeryd_venv_bin}} \
    -A ${CELERY_APP} \
    --pidfile=${CELERYBEAT_PID_FILE} \
    --logfile=${CELERYBEAT_LOG_FILE} \
    --loglevel=${CELERYBEAT_LOG_LEVEL} \
    beat

[Install]
WantedBy=multi-user.target

[Unit]
Description=Celery Beat Daemon Service
After=network.target
