.onboarding {
  padding: 1em 1em 1em 1em;
}

.onboarding__access {
  text-align: right;
}

.onboarding__title {
  font-size: 1.5em;
  line-height: 2em;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.onboarding-actions,
.onboarding-processing {
  .loading-icon {
    display: inline-block;
    width: inherit;
  }
}

.onboarding__container {
  width: 75%;
}
