.root {
  padding: 1em 1em 1em 1em;
}

.access {
  text-align: right;
}

.title {
  font-size: 1.5em;
  line-height: 2em;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.container {
  width: 75%;
}
