#sidebar {
    min-width: 215px;
    max-width: 215px;
    width: 215px;
    background: #f4f4f4;
    border-right: 1px solid rgba(112, 112, 112, 0.25);
    padding-top: 20px;
}

#sidebar .nav-link {
  color: #707070;
}

#sidebar .nav-link.active {
  background: #dfdaf5;
}

#sidebar .nav-content {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#sidebar .nav-text {
  padding-left: 20px;
  font-size: 0.78em; /* WARNING: This line of code is changed in PR #26; it's value (of 0.75) is desirable */
  font-weight: 500;
}

.nav-content .side-nav-icon {
  width: 1em;
  font-size: 1.2em;
  vertical-align: middle;
}

.icon-nav {
  font-size: 1.5em;
  display: flex;
  height: 1em;
}
