/* WARNING: Used by other components (yet not imported by them), but not this component */
.nav-content .side-nav-icon {
  width: 1em;
  font-size: 1.2em;
  vertical-align: middle;
}

.icon-nav {
  font-size: 1.5em;
  display: flex;
  height: 1em;
}