.root {
    min-width: 215px;
    max-width: 215px;
    width: 215px;
    background: #f4f4f4;
    border-right: 1px solid rgba(112, 112, 112, .25);
    padding-top: 20px;
}

.link,
.link:hover {
  color: #707070;
}
.link--active {
  background-color: #dfdaf5;
}

.content {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.text {
  padding-left: 20px;
  font-size: .78em;
  font-weight: 500;
}
