$containerColor: #f4f4f4;
$linkColor: #707070;
$linkBackgroundColor: #dfdaf5;

.container {
    min-width: 215px;
    max-width: 215px;
    width: 215px;
    background: $containerColor;
    border-right: 1px solid rgba(112, 112, 112, .25);
    padding-top: 20px;
}

.link {
  color: $linkColor;
}
/* Overwrite Bootstrap `a:hover` */
.link:hover {
  color: $linkColor;
}
.isActive {
  background: $linkBackgroundColor;
}

.link__content {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.link__text {
  padding-left: 20px;
  font-size: .78em;
  font-weight: 500;
}

/* WARNING: Used by other components (yet not imported by them), but not this component */
.nav-content .side-nav-icon {
  width: 1em;
  font-size: 1.2em;
  vertical-align: middle;
}

.icon {
  font-size: 1.5em;
  display: flex;
  height: 1em;
}
