#sidebar {
    min-width: 215px;
    max-width: 215px;
    width: 215px;
    background: #f4f4f4;
    border-right: 1px solid rgba(112, 112, 112, .25);
    padding-top: 20px;
}

#sidebar .nav-link {
  color: #707070;
}

#sidebar .nav-link.active {
  background: #dfdaf5;
}

#sidebar .nav-content {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#sidebar .nav-text {
  padding-left: 20px;
  font-size: .78em;
  font-weight: 500;
}

/* WARNING: Only used by external components */
.nav-content .side-nav-icon {
  width: 1em;
  font-size: 20px; /* 16px design * 1.2 design-to-app ratio (rounded) */
  vertical-align: middle;
}

.icon-nav {
  font-size: 20px; /* 16px design * 1.2 design-to-app ratio (rounded) */
  display: flex;
  height: 1em;
}
