.root {
  composes: root from '../_common/Sidebar/Sidebar.module.css';
}

.link {
  composes: link from '../_common/Sidebar/Sidebar.module.css';
}
.link--active {
  composes: link--active from '../_common/Sidebar/Sidebar.module.css';
}

.content {
  composes: content from '../_common/Sidebar/Sidebar.module.css';
}

.text {
  composes: text from '../_common/Sidebar/Sidebar.module.css';
}

.disabled {
  composes: disabled from '../_common/Sidebar/Sidebar.module.css';
}

.feedback-nav-item {
  align-self: center;
  margin-top: auto;
  margin-bottom: 1em;
}
