<div class="modal-header">
    <h3 class="modal-title">
        Create new project
    </h3>
    <br />
</div>
<div class="modal-body">
    <form action="" data-ng-submit="$ctrl.ok()">
        <div class="form-group">
            <label>Title: </label>
            <input type="text"
                   data-ng-model="$ctrl.form.title"
                   class="form-control">
        </div>
    </form>
    <div class="loading"
        data-ng-if="$ctrl.ui.loading">
        <span >Loading ...</span>
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw">&nbsp;</i>
    </div>
    <div class="success-msg"
         data-ng-if="!$ctrl.ui.error">
        <p>{{$ctrl.ui.message}}</p>
    </div>
    <div class="error-msg"
         data-ng-if="$ctrl.ui.error">
        <p>{{$ctrl.ui.message}}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            data-ng-disabled="$ctrl.ui.loading"
            data-ng-click="$ctrl.ok()">
        Create Project
    </button>
    <button class="btn btn-warning"
            type="button"
            data-ng-disabled="$ctrl.ui.loading"
            data-ng-click="$ctrl.cancel()">
        Cancel
    </button>
</div>
