<div class="container-fluid">
    <h1>Account Onboarding Administration</h1>
    <br />
    <div id="userAdminList">
        <table class="setup-table hover-table" width=100%>
            <tr>
                <th width=20%>User</th>
                <th width=10%>Username</th>
                <th width=20%>E-Mail Address</th>
                <th width=10%>Setup Status</th>
                <th>Last Setup Event</th>
            </tr>
            <tr ng-repeat="user in $ctrl.users" ng-click="$ctrl.showUser(user)">
                <td>
                    {{ user.lastName }}, {{ user.firstName }}
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <span ng-if="user.setupComplete">
                        <i class="fa fa-check text-success"></i> Complete
                    </span>
                    <span ng-if="!user.setupComplete">
                        <i class="fa fa-exclamation-circle text-warning"></i> Incomplete
                    </span>
                </td>
                <td>
                    <span>{{ user.lastEvent.message }}</span><br />
                    <span class="setup-event-timestamp">{{ user.lastEvent.time }}</span>
                </td>
            </tr>
        </table>
    </div>
</div>