.hover-table tr:hover {
    background-color: #F4FFF4;
    cursor: pointer;
}

.hover-table tr {
    outline: none !important;
}

.paginator-container {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.limit-select {
    margin-top: 0.5em;
}