.table-wrapper {
  border: 1px solid black;
  width: 100%;
  margin-top: 5px;
  height: 300px;
  overflow: auto;
}
.error-message {
  color: red;
  font-weight: 600;
  i {
    padding-right: 5px;
  }
}
