/* HEADER */

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.header :is(h1,h2,h3,h4,h5,h6) {
    margin-right: auto;
    margin-bottom: 0;
}

.header__action {
    margin-bottom: 0;
}
