/* DESCRIPTION */

.project-desc > img {
    width: 20%;
    padding: 10px;
}
.project-desc p a {
    word-break: break-all;
}

.project-desc th.c-data-list__key {
    width: 25ch;
}



/* DOWNLOAD BUTTON */

.project-download-button {
    /* to align as if it were a far-right tab */
    float: right;
}
p:has(.project-download-button) {
    text-align: center;
}
.project-download-button i.icon-download {
    font-weight: bold;
}


/* CONTENT */

.project-content.row {
    gap: calc(var(--global-space--bootstrap-gap) / 2);
}

.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 40ch), 1fr));
    gap: var(--global-space--bootstrap-gap);
}
