
<dd-breadcrumb-component
project="true"
params="{}"
skip-path="true"
onBrowseProjectRoot="$ctrl.onBrowseProjectRoot()"
>
</dd-breadcrumb-component>

<div class="alert alert-info" ng-show="!$ctrl.ui.busy && !$ctrl.data.projects.length">
<p class="text-center">
    No Projects!
</p>
</div>
<div class="table-responsive" ng-show="!$ctrl.ui.busy && $ctrl.data.projects.length">
<div class="ds-table-display-wrapper">
  <table class="table table-bordered table-striped" style="background-color: #fff;">
      <thead>
      <th>Project title</th>
      <th>Project Id</th>
      </thead>

      <tbody>
      <tr ng-repeat="project in $ctrl.data.projects"
          ng-if="$ctrl.data.projects">
          <td ng-click="$ctrl.onBrowse($event, project)">
              <i class="fa fa-briefcase"></i>
              <a ui-sref="wb.data_depot.projects.listing({systemId:project.id,filePath:''})"> {{project.description}}</a>
          </td>
          <td>
              {{ project.name }}
          </td>
      </tr>
      </tbody>
  </table>
</div>
