<div class="notification" ng-class="{'unread':$ctrl.note.read==false}">
  <div class="status"
      ng-class="{'success':$ctrl.note.status=='SUCCESS',
                 'danger': $ctrl.note.status=='ERROR',
                 'info': $ctrl.note.status=='INFO',
                 'warning': $ctrl.note.status=='WARNING'}">
    <i class="fa fa-check-circle-o" ng-if="$ctrl.note.status=='SUCCESS'"></i>
    <i class="fa fa-warning" ng-if="$ctrl.note.status=='ERROR'"></i>
    <i class="fa fa-info" ng-if="$ctrl.note.status=='INFO'"></i>
    <i class="fa fa-question-circle-o" ng-if="$ctrl.note.status=='WARNING'"></i>
  </div>
  <span 
    ng-if="$ctrl.modalLink()" 
    class="notification-message"
    ng-click="$ctrl.openModal()">
    {{$ctrl.note.message}}
  </span>
  <a ng-if="!$ctrl.modalLink()" 
    class="notification-message" 
    href="{{$ctrl.note.action_link}}" target="_blank">
    <span> {{$ctrl.note.message}} </span>
  </a>
  <div class="notification-time">
    <span class="badge"> {{$ctrl.note.datetime | date:'medium'}} </span>
  </div>
  <div class="notification-delete">
    <i class="fa fa-remove" ng-click="$ctrl.delete(note.pk)"></i>
  </div>
</div>
