{% load cms_tags staticfiles sekizai_tags menu_tags recaptcha2 %}
<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/analytics.html' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    {% if settings.PORTAL_ICON_FILENAME %}
    <link rel="icon" href="{{ settings.PORTAL_ICON_FILENAME }}">
    {% else %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {% endif %}
    <link rel="canonical" href="{{request.get_full_path}}">
    <base href="/">
    {% block head_extra %}{% endblock %}
    <!-- styles -->
    <!-- Vendor CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block styles %}{% endblock %}
    {% render_block "css" %}
    {# {% recaptcha_init 'en' %} #}
  </head>
  <body>
    <div class="content">
      {% cms_toolbar %}
      {# {% include 'includes/header.html' %}#}
      {% include 'includes/navigation.html' %}
      {% include 'includes/messages.html' %}
      {% block breadcrumb %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div id="root"></div>
    {% include 'includes/footer.html' %}
    <!-- scripts -->
    <!-- Vendor base JS -->
    {# <script src="<htmlWebpackPlugin.files.chunks.vendor.entry>"></script> #}
    <!-- Custom base js -->

      <!-- Extended templates JS -->
    {% block scripts %}{% endblock %}
    <!-- User Auth Check -->
    {% render_block "js" %}
  </body>
</html>
