{% load cms_tags staticfiles sekizai_tags menu_tags recaptcha2 %}
<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/analytics.html' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    {% if settings.PORTAL_ICON_FILENAME %}
    <link rel="icon" href="{{ settings.PORTAL_ICON_FILENAME }}">
    {% else %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {% endif %}
    <link rel="canonical" href="{{request.get_full_path}}">
    <base href="/">
    {% block head_extra %}{% endblock %}
    <!-- styles -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.vendor.css %>">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
    {% block styles %}{% endblock %}
    {% render_block "css" %}
    {% recaptcha_init 'en' %}
  </head>
  <body ng-app="portal">
    <div class="content">
      {% cms_toolbar %}
      {# {% include 'includes/header.html' %}#}
      {% include 'includes/navigation.html' %}
      {% include 'includes/messages.html' %}
      {% block breadcrumb %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    {% include 'includes/footer.html' %}
    <!-- scripts -->
    <!-- Vendor base JS -->
    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- Custom base js -->
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
      <!-- Extended templates JS -->
    {% block scripts %}{% endblock %}
    <!-- User Auth Check -->
    {% render_block "js" %}
  </body>
</html>
