{% extends "base.html" %}
{% load staticfiles sekizai_tags %}
{% block content %}
<div class="container-fluid">
  <h1>Data Analysis Hackathon and Integration Workshop</h1>
  <h4>The Synergistic Discovery and Design Program Working PI Meeting will be held January 29 &ndash; February 2, 2018 at the Texas Advanced Computing Center in Austin, Texas. The registration deadline is Friday, January 12th at 5pm EST.</h4>
</div>

<br />
<div id="exTab2" class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#1" data-toggle="tab">Overview</a>
    </li>
    <li><a href="#2" data-toggle="tab">Agenda</a>
    </li>
    <li><a href="#3" data-toggle="tab">Registration</a>
    </li>
    <li><a href="#4" data-toggle="tab">Location</a>
    </li>
    <li><a href="#5" data-toggle="tab">Security/Forms</a>
    </li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane active" id="1">
      <h2 style="margin-bottom:20px;">Welcome!</h2>
      <h4>Evening Socials & Dinner</h4>
      <p>Evening socials and group dinner outings will be announced closer to the event.</p>
      <h4>Contact</h4>
      <p>If you have questions or concerns, please contact us at <a href="mailto:sd2e-help-request@lists.tacc.utexas.edu">sd2e-help-request@lists.tacc.utexas.edu</a>.</p>
      <p>&nbsp;</p>

      <!--<p>Monday Oct 16th and Oct 23rd. We plan to have two un-hosted happy hours the beginning of each week. Location is TBD, but will be within walking distance to the meeting location.  Please indicate you interest in attending on the online registration form.</p>-->
    </div>
    <div class="tab-pane" id="2">
      <h2>Agenda</h2>
      <p><strong>Registration:</strong> Monday, January 29, 2018, 8:30 AM - 9:00 AM</p>
      <p><strong>Daily Start/End Times:</strong></p>
      <ul>
        <li>Monday: 8:30 AM - 5:30 PM</li>
        <li>Tuesday - Thursday: 8:00 AM - 5:00 PM</li>
        <li>Friday: 8:00 AM - 3:10 PM</li>
      </ul>
      <p>Evening socials and dinner options will be announced closer to the event.</p>
      <p><strong>Tentative Agenda</strong></p>
      <h5>Session: Welcome</h5>
      <ul>
        <li>Activity: 1. Registration</li>
        <ul>
          <li>Sched: Day1 at 830 for 30mins</li>
        </ul>
        <li>Activity: 2. Self-introductions</li>
        <ul>
          <li>Speaker / Lead: n.a.</li>
          <li>Description: Introductions around the room</li>
          <li>Sched: Day1 at 900 for 15mins</li>
        </ul>
        <li>Activity: 3. Welcome</li>
        <ul>
          <li>Speaker / Lead: TACC (Matt Vaughn)</li>
          <li>Description: Welcome to TACC</li>
          <li>Sched: Day1 at 915 for 15mins</li>
        </ul>
        <li>Activity: 4. The Mission of the Week</li>
        <ul>
          <li>Speaker / Lead: DARPA (Jen Roberts)</li>
          <li>Description: Announce the conference theme or goals, flow of activity. Elicit input from the audience (What are we missing?). Do this daily. Specify goals by phase, and explain why Phase I accomplishments are important to secure Phase 2 program
            funding.</li>
          <li>Sched: Day1 at 930 for 30mins</li>
        </ul>
        <li>Activity: 5. The Methods of the Week</li>
        <ul>
          <li>Speaker / Lead: TA5 (tbd)</li>
          <li>Description: Structure of the Week and its relation to goals.</li>
          <li>Sched: Day1 at 1000 for 15mins</li>
        </ul>
      </ul>

      <h5>Session: WG Conference</h5>
      <ul>
        <li>Activity: 6. WG Convention 1</li>
        <ul>
          <li>Speaker / Lead: Working Groups (WG Leads & teams)</li>
          <li>Description: Convene to plan goals and get-togethers for the week and future. Everyone should join in a WG discussion.</li>
          <li>Sched: Day1 at 1015 for 90mins</li>
        </ul>
      </ul>

      <h5>Session: Open Session</h5>
      <ul>
        <li>Activity: 7. Open Session</li>
        <ul>
          <li>Speaker / Lead: Anyone</li>
          <li>Description: Meet together over SD2 issues that matter to you</li>
          <li>Sched: Day1 at 1145 for 90mins</li>
        </ul>
      </ul>

      <h5>Session: WG Demos & Reports</h5>
      <ul>
        <li>Activity: 9. Introduction</li>
        <ul>
          <li>Speaker / Lead: TA5 (tbd)</li>
          <li>Description: Working Groups & TAs show their progress. Participants learn the current state of essential methods, algorithms, & workflows.</li>
          <li>Sched: Day1 at 1315 for 10mins</li>
        </ul>
        <li>Activity: 10. ETL demo</li>
        <ul>
          <li>Speaker / Lead: ETL WG: TwoSix (James Gentile (Flow) & Mohammed Eslami (omics))</li>
          <li>Description: Demo ETL functioning on Q0 (or other) data within TACC framework.</li>
          <li>Sched: Day1 at 1325 for 35mins</li>
        </ul>
        <li>Activity: 11. Failfast demo</li>
        <ul>
          <li>Speaker / Lead: Failfast WG: MIT (Ulrich Schaechtle)</li>
          <li>Description: Demo automatic circuit analysis algorithms (top priority) & RNA Seq (if possible)</li>
          <li>Sched: Day1 at 1400 for 35mins</li>
        </ul>
        <li>Activity: 12. TA4 Automated Data Processing (ADP) Demo</li>
        <ul>
          <li>Speaker / Lead: Analysis Platform WG: TACC (Matt Vaughn, Niall Gaffney, or John Fonner)</li>
          <li>Description: Demo Automated Data Pipeline for (1) data file ingest & (2) data processing</li>
          <li>Sched: Day1 at 1435 for 35mins</li>
        </ul>
        <li>Activity: 13. Data Representation Presentation</li>
        <ul>
          <li>Speaker / Lead: Data Representation WG: TwoSix (Mark Weston)</li>
          <li>Description: Present the metadata & data reps. Demo if possible.</li>
          <li>Sched: Day1 at 1510 for 35mins</li>
        </ul>
        <li>Activity: 14. Data Representation Discussion</li>
        <ul>
          <li>Speaker / Lead: All</li>
          <li>Description: Elicit questions, critiques, & comments, especially relevant to CP, relevant to their tools.</li>
          <li>Sched: Day1 at 1545 for 35mins</li>
        </ul>
        <li>Activity: 15. Q0 Reanalysis</li>
        <ul>
          <li>Speaker / Lead: Q0 WG: (Narendra Maheshri)</li>
          <li>Description: Summarize the methods and data</li>
          <li>Sched: Day1 at 1620 for 15mins</li>
        </ul>
        <li>Activity: 16. TA3: Harmonized Protocol</li>
        <ul>
          <li>Speaker / Lead: TA3 WG: (Peter Lee)</li>
          <li>Description: Summarize the protocol</li>
          <li>Sched: Day1 at 1635 for 15mins</li>
        </ul>
        <li>Activity: 17. Time Series</li>
        <ul>
          <li>Speaker / Lead: Time Series WG: (Devin Strickland)</li>
          <li>Description: Give us all a quick look at the concept for time series experiments</li>
          <li>Sched: Day1 at 1650 for 10mins</li>
        </ul>
        <li>Activity: 18. Tutorials</li>
        <ul>
          <li>Speaker / Lead: Tutorials WG: (Alex Reis, Sean Halper)</li>
          <li>Description: Give us all a quick look into the growing portal of educational opportunities & tools</li>
          <li>Sched: Day2 at 830 for 10mins</li>
        </ul>
        <li>Activity: 19. Challenge Problems</li>
        <ul>
          <li>Speaker / Lead: Challenge Problem WG: (Eric Klavens, Chris Voigt, Jen Roberts)</li>
          <li>Description: A brief introduction to Challenge Problems for the near future. Comments about CPs for the far future.</li>
          <li>Sched: Day2 at 840 for 35mins</li>
        </ul>
        <li>Activity: 20. Parallel Open Session</li>
        <ul>
          <li>Speaker / Lead: Anyone</li>
          <li>Description: Meet together over SD2 issues that matter to you</li>
          <li>Sched: Day2 at 915 for 35mins</li>
        </ul>
      </ul>

      <h5>Session: TA Demos & Reports</h5>
      <ul>
        <li>Activity: 21. Introduction</li>
        <ul>
          <li>Speaker / Lead: TA5 (tbd)</li>
          <li>Description: TA1 performers host small group demos and discussions to engage other performers with their work. During Phase I, TA2 and TA3 performers will craft challenges and use cases for TA1 algorithms, provide feedback about the biological
            relevance of results, and design experiments to test TA1 hypotheses. TA4 will identify how TA1 work might affect future requirements for the SD2 infrastructure.</li>
          <li>Sched: Day2 at 915 for 10mins</li>
        </ul>
        <li>Activity: 22. TA1 Duke Demo</li>
        <ul>
          <li>Speaker / Lead: Duke (John Harer)</li>
          <li>Description: Address time series, clustering, similarity in hi-dim space, preferably on Q0 data</li>
          <li>Sched: Day2 at 925 for 15mins</li>
        </ul>
        <li>Activity: 23. TA1 Harvard Demo</li>
        <ul>
          <li>Speaker / Lead: Harvard (Jim Collins or Diogo Camacho)</li>
          <li>Description: Address circuit discovery methods</li>
          <li>Sched: Day2 at 940 for 15mins</li>
        </ul>
        <li>Activity: 24. TA1 Penn State Demo</li>
        <ul>
          <li>Speaker / Lead: Penn State (Howard Salis)</li>
          <li>Description: Address biophysical models (including sgRNA)</li>
          <li>Sched: Day2 at 955 for 15mins</li>
        </ul>
        <li>Activity: 25. TA1 PNNL Demo</li>
        <ul>
          <li>Speaker / Lead: PNNL (Enoch Yeung)</li>
          <li>Description: Address Koopman operators, Deep Learning (preferably on Q0 data)</li>
          <li>Sched: Day2 at 1010 for 15mins</li>
        </ul>
        <li>Activity: 26. TA1 Two Six</li>
        <ul>
          <li>Speaker / Lead: Two Six Labs (Mohammed Eslami, James Gentile)</li>
          <li>Description: Address planned Deep Learning work.</li>
          <li>Sched: Day2 at 1025 for 15mins</li>
        </ul>
        <li>Activity: 27. TA1 Deep Discussions</li>
        <ul>
          <li>Speaker / Lead: All</li>
          <li>Description: TA & participants discuss the TA work in depth in separate sessions. Prepare for interactive demos, posters, or tutorials at the white board.</li>
          <li>Sched: Day2 at 1040 for 120mins</li>
        </ul>
        <li>Activity: 28. TA2.A MIT Voigt pipeline demo</li>
        <ul>
          <li>Speaker / Lead: MIT (Chris Voigt)</li>
          <li>Description: Demo Cello applied to Rule30 data to make Rule30 more robust (or explain through another easily understood example).</li>
          <li>Sched: Day2 at 1240 for 15mins</li>
        </ul>
        <li>Activity: 29. TA2.B MIT Voigt pipeline demo</li>
        <ul>
          <li>Speaker / Lead: Boston U (Doug Densmore)</li>
          <li>Description: Present Eugene for learning design constraints relevant to Rule30. (This may be an architecture, prototype). Also demonstrate the chain through Raven and Puppeteer.</li>
          <li>Sched: Day2 at 1255 for 15mins</li>
        </ul>
        <li>Activity: 30. TA2.B MIT Voigt pipeline demo</li>
        <ul>
          <li>Speaker / Lead: MIT (Ben Gordon)</li>
          <li>Description: Demo search of the design space for high-value experiments, prioritization of experiments, and translation from protocol graph to experiment requests. (Puppeteer to Raven)</li>
          <li>Sched: Day2 at 1310 for 15mins</li>
        </ul>
        <li>Activity: 31. TA2.B Experimental Requests Presentation</li>
        <ul>
          <li>Speaker / Lead: SIFT (Dan Bryce)</li>
          <li>Description: Present the developing architecture & language. Demo experiment request software (if possible).</li>
          <li>Sched: Day2 at 1325 for 15mins</li>
        </ul>
        <li>Activity: 32. TA2 Deep Discussions</li>
        <ul>
          <li>Speaker / Lead: All</li>
          <li>Description: TA & participants discuss the TA work in depth in separate sessions. Prepare for interactive demos, posters, or tutorials at the white board.</li>
          <li>Sched: Day2 at 1340 for 90mins</li>
          <li>Activity: 33. Parallel Open Session</li>
          <ul>
            <li>Speaker / Lead: Anyone</li>
            <li>Description: Meet together over SD2 issues that matter to you</li>
            <li>Sched: Day2 at 1510 for 90mins</li>
          </ul>
        </ul>

        <h5>Session: Tour</h5>
        <ul>
          <li>Activity: 35. TACC Tours</li>
          <ul>
            <li>Speaker / Lead: TACC (tbd)</li>
            <li>Description: See the mythical beast that is the Texas Advanced Computing Center</li>
            <li>Sched: Day3 at 830 for 90mins</li>
          </ul>
        </ul>

        <h5>Session: Foundational Computing Concepts</h5>
        <ul>
          <li>Activity: 36. TACC Computing Environment</li>
          <ul>
            <li>Speaker / Lead: TACC (Matt Vaughn)</li>
            <li>Description: Present on HPC vs. Cloud: How they differ? How do they differ from architectures I know (e.g., AWS). Implications for algorithms and implementations.</li>
            <li>Sched: Day3 at 1000 for 60mins</li>
          </ul>
          <li>Activity: 37. Open Session</li>
          <ul>
            <li>Speaker / Lead: Anyone</li>
            <li>Description: Meet together over SD2 issues that matter to you</li>
            <li>Sched: Day3 at 1100 for 60mins</li>
          </ul>
        </ul>

        <h5>Session: Integration: Hands on Demos & Discussions</h5>
        <ul>
          <li>Activity: 38. Introduction</li>
          <li>Speaker / Lead: TA5 (tbd)</li>
          <li>Description: Authors of and teams for common methods, algorithms, and workflows lead small group demos and discussions to help self-selected participants understand those products, learn to use them, and sketch out revisions on the whiteboards.</li>
          <li>Sched: Day3 at 1100 for 10mins</li>
        </ul>
        <li>Activity: 38a. Rule 30 Discovery</li>
        <ul>
          <li>Speaker / Lead: TA2 Voigt lab</li>
          <li>Description: Presentation of novel discovery made using the Q0 data. Description of the discovery as well as the method used to generate it.</li>
          <li>Sched: Day3 at 1110 for 30mins</li>
        </ul>
        <li>Activity: 39. Posters, Demos, Other Tools</li>
        <ul>
          <li>Speaker / Lead: Any Performer</li>
          <li>Description: Any performer who wants leads a meetup with colleagues over methods, algorithms, issues presented by any performer who wants to show off good work and influence the program (and is not on the list below). Tutorials and Time Series
            may want to present in this forum.</li>
          <li>Sched: Day3 at 1140 for 90mins</li>
        </ul>
        <li>Activity: 40. ETL</li>
        <ul>
          <li>Speaker / Lead: ETL (James Gentile) + TA3 (tbd)</li>
          <li>Description: Lead a hands on tutorial on finding & working with SD2 data. Chain a couple of tools together if you can. Learn about tools available to tailor omics data to your TA1 or TA2 algorithm.</li>
          <li>Sched: Day3 at 1310 for 120mins</li>
        </ul>
        <li>Activity: 41. FailFast</li>
        <ul>
          <li>Speaker / Lead: FailFast (Ulrich Schaechtle) + TA3 (tbd)</li>
          <li>Description: Lead a hands on tutorial & discussion. Collaborate to refine tool chains that quickly expose failed experiments and inform which measurements to make next.</li>
          <li>Sched: Day3 at 1310 for 120mins</li>
        </ul>
        <li>Activity: 42. Posters, Demos, Other Tools</li>
        <ul>
          <li>Speaker / Lead: Anyone</li>
          <li>Description: Lead a hands on tutorial. Chain a couple of tools together if you can.</li>
          <li>Sched: Day3 at 1310 for 120mins</li>
        </ul>
        <li>Activity: 43. Analysis Platform</li>
        <ul>
          <li>Speaker / Lead: TACC (Matt Vaughn) + ETL (James Gentile (Flow) & Mohammed Eslami (omics)) + TA3 (tbd)</li>
          <li>Description: Lead a hands on tutorials & discussion re: Reactors, Code sharing, etc.</li>
          <li>Sched: Day3 at 1510 for 120mins</li>
        </ul>
        <li>Activity: 44. Open Session</li>
        <ul>
          <li>Speaker / Lead: Anyone</li>
          <li>Description: Meet together over SD2 issues that matter to you</li>
          <li>Sched: Day3 at 1510 for 120mins</li>
        </ul>
        <li>Activity: 45. Data representation</li>
        <ul>
          <li>Speaker / Lead: Two Six Labs (Mark Weston) & TA5</li>
          <li>Description: Review and define requirements for metadata & data rep to ensure these serve each performer or groups of performers well. TA5 defines activities that enable teams to consider and contribute.</li>
          <li>Sched: Day3 at 1510 for 120mins</li>
        </ul>
      </ul>

      <h5>Session: New Challenge Problems</h5>
      <ul>
        <li>Activity: 47. Introduction</li>
        <ul>
          <li>Speaker / Lead: TA5 (tbd)</li>
          <li>Description: Presenters describe the Challenges planned for the short and long term. Participants will plan towards the short term CPs, and help to refine the long term CPs.</li>
          <li>Sched: Day4 at 1000 for 90mins</li>
        </ul>
        <li>Activity: 48. New Challenge Problems</li>
        <ul>
          <li>Speaker / Lead: Eric Klavins, TA5</li>
          <li>Description: Present DARPA-prioritized CPs for the long term. TA5 activities help participants select, assess, and refine challenge problems that serve DoD, the scientific community, computer science, and SD2 over the length of the program.</li>
          <li>Sched: Day4 at 1130 for 180mins</li>
        </ul>
        <li>Activity: 49. New Challenge Problems</li>
        <ul>
          <li>Speaker / Lead: Jen Roberts </li>
          <li>Description: Present DARPA-prioritized CPs for the short term. Participants discuss implications for experiments.</li>
          <li>Sched: Day4 at 1430 for 90mins</li>
        </ul>
      </ul>

      <h5>Session: WG Conference</h5>
      <ul>
        <li>Activity: 50. WG Convention 2</li>
        <ul>
          <li>Speaker / Lead: Working Groups Leads (John Fonner, Mark Weston, James Gentile (Flow), Mohammed Eslami (omics), Ulrich Schaechtle, Narendra, Devin Strickland, Peter Lee, Alex Reis, Sean Halper, Eric Klavins,)</li>
          <li>Description: Revise the working group structure and members, plan WG activities for the near future.</li>
          <li>Sched: Day4 at 1600 for 120mins</li>
        </ul>
        <li>Activity: 51. Open Session</li>
        <ul>
          <li>Speaker / Lead: Anyone</li>
          <li>Description: Meet together over SD2 issues that matter to you</li>
          <li>Sched: Day5 at 830 for 120mins</li>
        </ul>
      </ul>

      <h5>Session: Q2 Objectives</h5>
      <ul>
        <li>Activity: 53. Introduction</li>
        <ul>
          <li>Speaker / Lead: TA5 (tbd)</li>
          <li>Description: Participants will present goals in critical areas of SD2.</li>
          <li>Sched: Day5 at 1000 for 10mins</li>
        </ul>
        <li>Activity: 54. Challenge Problems Plans</li>
        <ul>
          <li>Speaker / Lead: Current/New WG lead</li>
          <li>Description: Present plans, gather comment</li>
          <li>Sched: Day5 at 1010 for 30mins</li>
        </ul>
        <li>Activity: 55. Data Representation Plans</li>
        <ul>
          <li>Speaker / Lead: Current/New WG lead</li>
          <li>Description: Present plans, gather comment</li>
          <li>Sched: Day5 at 1040 for 30mins</li>
        </ul>
        <li>Activity: 56. Tools & Workflow Plans</li>
        <ul>
          <li>Speaker / Lead: Current/New WG lead</li>
          <li>Description: Present plans, gather comment</li>
          <li>Sched: Day5 at 1110 for 30mins</li>
        </ul>
        <li>Activity: 57. Other Working Group Plans</li>
        <ul>
          <li>Speaker / Lead: Current/New WG lead</li>
          <li>Description: Present plans, gather comment</li>
          <li>Sched: Day5 at 1140 for 60mins</li>
        </ul>
        <li>Activity: 58. Working Group & TA Planning</li>
        <ul>
          <li>Speaker / Lead: All</li>
          <li>Description: Refine plans, open discussions</li>
          <li>Sched: Day5 at 1240 for 120mins</li>
        </ul>
      </ul>

      <h5>Session: Closing</h5>
      <ul>
        <li>Activity: 59. Closing remarks</li>
        <ul>
          <li>Speaker / Lead: Jen Roberts</li>
          <li>Description: Specify goals by phase, and explain why Phase I accomplishments are important to secure Phase 2 program funding.</li>
          <li>Sched: Day5 at 1440 for 30mins</li>
        </ul>
      </ul>

      <h5>Session: End of Meeting</h5>
      <!--<ul><li>Sched: Day5 at 1300 or 1400</li></ul>-->
      <p>&nbsp;</p>

    </div>
    <div class="tab-pane" id="3">
      <h2>Registration</h2>

      <p>Registering is mandatory for workshop attendance; grants access to TACC office space and meeting facilities.<strong>There is no charge to attend the working meeting.</strong></p>
      <p><em>You do NOT need a UT EID in order to register.</em></p>

      <p> <strong><a href="https://www.eventbrite.com/e/data-analysis-hackathon-and-integration-workshop-registration-tickets-41470273705" target="_blank">REGISTER HERE</a></strong></p>
      <p>&nbsp;</p>
      <h4>Hospitality Information</h4>
      <p><strong>Lunches:</strong> Working lunches will be scheduled on some of the meeting days. To faciliate this, a food vendor will be selected to provide catered meals. The cost for catered lunches will be $15.00/day.</p>
      <p><strong>Snacks:</strong> If you wish to partake of the coffee and snacks provided during the working meeting, a payment of $10.00 will be required, payable when you register.</p>
      <p><strong>Other options:</strong> Several meal and snack options are available within walking (or short driving) distance of the meeting space. The closest is the UT Commons Cafe, which features a cafeteria and several snack vending machines.</p>
      <p><b><a href="http://utdirect.utexas.edu/txshop/list.WBX?component=0&application_name=HYTACCEV&cat_seq_chosen=05&subcategory_seq_chosen=000" target="_blank">PURCHASE LUNCH OR SNACKS</a></b></p>
      <p>&nbsp;</p>

    </div>
    <div class="tab-pane" id="4">
      <h2>Location</h2>
      <div class="row">
        <div class="col-md-6">
          <p>The Hackathon is located at the Texas Advanced Computing Center (TACC) in the Advanced Computing Building (ACB, Building 205). TACC is located on the J.J. Pickle Research Campus (PRC) of The University of Texas at Austin. For more information,
            please visit <a href="https://www.tacc.utexas.edu/about/contact" target="_blank">TACC's Contact page</a>.</p>
          <p>When you arrive at ACB, please use the main entrance, and check in with the receptionist.</p>
          <h4>Parking on the Pickle Research Campus</h4>
          <p>After entering the gated campus at the main entrance at 10100 Burnet Road, stop and inform the guard that you are a TACC visitor. To get to the Advanced Computing Building (ACB, Building 205), continue past the guard booth, and past the chain
            link gate to Exploration Way, then make a right. ACB is the second to last building on the right with the overhanging patios.</p>
          <p>When you arrive at ACB, you may park in any open spot in the covered lot, or on the street. Parking passes can be obtained from one of the kiosks on the street for a cost of $4/day.</p>
          <h4>Visitor Information</h4>
          <p>Please use our list of <a href="https://www.tacc.utexas.edu/about/hotels" target="_blank">hotels</a> to easily locate nearby accommodations. If you would like information about what’s going on in the city during your stay, <a href="http://www.austin360.com/"
            target="_blank">Austin360</a> provides a thorough overview of music, food, movies, and more.</p>
          <p>&nbsp;</p>

        </div>
        <div class="col-md-6">
          <p>
            <iframe frameborder="0" height="400" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13766.469239063146!2d-97.72563!3d30.390223!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cb89ec2a322b%3A0x86afcc8dc7608457!2sTexas+Advanced+Computing+Center!5e0!3m2!1sen!2sus!4v1405999752099"
            style="border:0" width="100%"></iframe>
          </p>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="5">
      <h2>Security/Forms</h2>
      <p><b>All attendees will be required to present a government-issued photo ID when checking in for this event.</b></p>
      <p><b>If you are not a US citizen and have not filled out Darpa Form 60 within the last 12 months, you are required to do so and follow the instructions below in order for your registration to be complete.</b></p>
      <p>All attendees will be required to present a government-issued photo ID when checking in for this event.</p>

      <h4>DARPA Form 60</h4>
      <p>If you are not a US citizen it is required that you fill out a DARPA Form 60 and submit the form by <strong>January 12, 2018 at 5pm EST</strong>. To download the DARPA Form 60 please click on the below link, reference the top of the page under Resources,
        and click on the U.S. Permanent Resident and Foreign National Visit Request (Form 60) link to access the form. Please make sure to submit the DARPA Form 60 by the deadline provided.</p>
      <p><a href="https://www.darpa.mil/policy/visitor-information" target="_blank">http://www.darpa.mil/policy/visitor-information</a></p>
      <p>Options for Submitting the DARPA Form 60:</p>
      <p>Please email your completed form to Katie Rogel at <a href="mailto:krogel@belcan.com">krogel@belcan.com</a>. It is recommended the document be password-protected and to provide the password in a separate email.</p>
      <p>The completed DARPA Form 60 can also be emailed directly to DARPA security at <a href="mailto:SIDInternationalSecurity@darpa.mil">SIDInternationalSecurity@darpa.mil</a> via encrypted e-mail. If this option is chosen, please also copy Katie Rogel
        (<a href="mailto:krogel@belcan.com">krogel@belcan.com</a>) on the email so it is noted that your form was submitted.</p>
      <p>Below you will find the program/meeting details that are required on the bottom section of the DARPA Form 60.</p>

      <p><strong>DARPA Point of Contact:</strong> Jen Roberts, I2O
        <br />
        <strong>Location of Meeting:</strong> J.J. Pickle Research Campus, Building 205, 10100 Burnet Road, Austin, TC
        <br />
        <strong>Dates of Meeting:</strong> January 29-February 2, 2018
        <br />
        <strong>Classification Level of Discussion:</strong> Public Release
        <br />
        <strong>Purpose of Visit/Topics for Discussion:</strong> SD2 Data Analysis Hackathon and Integration Workshop</p>
      <p>&nbsp;</p>

    </div>
  </div>
</div>


{% endblock content %}
