.root {
  display: block;
  margin-bottom: 1em;
}

.access {
  text-transform: capitalize;
}

.user-search {
  margin-bottom: 1em;
}

.printed-name {
  font-weight: bold;
}

.member-search-group {
  width: 70%;
}

.member-search {
  font-size: 12px !important;
}

.addremove-list {
  /* title */
  th:nth-child(1),
  td:nth-child(1) {
    width: 50%;
  }
  /* owner */
  th:nth-child(2),
  td:nth-child(2) {
    width: 30%;
  } /* owner */
  th:nth-child(3),
  td:nth-child(3) {
    width: 20%;
  }
}

.transfer-list {
  /* owner */
  th:nth-child(1),
  td:nth-child(1) {
    width: 50%;
  }
  /* confirmation */
  th:nth-child(2),
  td:nth-child(2) {
    width: 50%;
  }
}

.confirm-controls {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.confirm-controls > * {
  margin-left: 1em;
}

.add-button {
  composes: c-button--secondary from '../../../styles/components/c-button.css';
}

.ownership-button {
  margin-left: 5px;
}

div > .project-role-selector {
  height: auto; /* overwrite .form-control height to accommodate dropdown selector next to small button in this instance */
}
