.project-members__loading {
  font-size: 1em;
  justify-content: flex-end;
}

.project-members__cell {
  height: 31px;
  font-size: 12px;
}

.project-members__loading-header {
  display: flex;
  justify-content: flex-end;
}
