<span ng-if="$ctrl.state === 'pending'">
    <i class="fa fa-clock-o text-info setup-state-icon"></i>
    Pending
</span>
<span ng-if="$ctrl.state === 'completed'">
    <i class="fa fa-check text-success setup-state-icon"></i>
    Completed
</span>
<span ng-if="$ctrl.state === 'userwait'">
    <i class="fa fa-exclamation-circle text-warning setup-state-icon"></i>
    Action Needed
</span>
<span ng-if="$ctrl.state === 'staffwait'">
    <i class="fa fa-exclamation-triangle text-secondary setup-state-icon"></i>
    Awaiting Approval
</span>
<span ng-if="$ctrl.state === 'processing'">
    <i class="fa fa-spinner fa-spin text-info setup-state-icon"></i>
    Processing
</span>
<span ng-if="$ctrl.state === 'error'">
    <i class="fa fa-exclamation-triangle text-danger setup-state-icon"></i>
    Error
</span>
<span ng-if="$ctrl.state == 'failed'">
    <i class="fa fa-times text-danger setup-state-icon"></i>
    Failed
</span>