.manage-account-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.manage-account-content {
  border-left: 1px solid black;
  width: 100%;
  .user-profile {
    padding: 1rem;
    border-top: 1px solid black;
    .user-profile-main {
      width: 60%;
    }
  }
}
.manage-account-header {
  font: 20px Roboto;
  margin: 1.5rem 0 0.5rem 1rem;
}
.manage-account-table {
  display: flex;
  flex-direction: row;
  tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    :nth-child(odd) {
      background-color: rgba(#c6c6c6, 0.5);
    }
  }
  th, td {
    
    border-bottom: 1px solid black;
  }
}
