/*
  Wrappers
*/
.user-profile {
  @media (min-width: 992px) {
    /* Hide Border when tables stack on one another */
    .user-profile-main {
      border-right: 1px solid rgba(112, 112, 112, 0.25);
    }
  }
}
/* FP-546: Consider migrating these styles out of this file */
.btn-link {
  border: 0;
  vertical-align: baseline;
}

/*
  Components
*/
// Tables
.manage-account-table {
  font-size: 14px;
  table-layout: fixed;
  line-height: 2.3rem;
  td,
  th {
    padding: 0;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    span {
      margin-left: 1rem;
    }
  }
  th {
    font-weight: normal;
    color: #707070;
  }
  td {
    font-weight: bold;
    color: #484848;
  }
  th.research-bio {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  td.research-bio {
    padding-top: 0.5rem;
    width: 100%;
    color: #707070;
    font-weight: normal;
    line-height: 16px;
    white-space: normal;
    overflow: visible;
  }
}
.profile-component-wrapper {
  margin-top: 1.25rem;

  /* Override striped bootstrap table */
  .table-striped > tbody {
    tr:nth-child(even) {
      background-color: rgba(198, 198, 198, 0.1);
    }
    tr:nth-child(odd) {
      background-color: white;
    }
  }
}
.profile-component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-bottom: solid 1px #707070;
  padding: 0 0 0.5rem 0;
}
.profile-component-body {
  padding: 0 0.5rem;
  font-size: 14px;
  margin-bottom: 1rem;
}
// Buttons and Forms
.manage-account-submit-button {
  display: flex;
  width: fit-content;
  border-radius: 0;
  font: bold 12px Roboto, sans-serif;
  padding: 0.5rem 1rem;
  border: 0 !important; /* override `.workbench-content .btn-secondary` */
  background-color: #9d85ef !important; /* override `.workbench-content .btn-secondary` */
  color: white !important; /* override `.workbench-content .btn-secondary` */
}

.modal-body {
  /* NOTE: Applies globally so MAY be appropriate for button component styles */
  /* SEE: client/src/styles/components/bootstrap.modal.css */
  font-size: 14px;

  .btn-link {
    /* NOTE: Applies globally but NOT appropriate for button component styles */
    /* SEE: client/src/styles/components/bootstrap.modal.css */
    padding: 0;
  }
  .manage-account-submit-button {
    margin-left: auto;
  }
}

.form-button {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}
.license-button {
  background-color: transparent !important;
  font-weight: bold;
}
.license-button__extra-text {
  font-size: inherit;
  font-weight: inherit;
}
/* Hide superfluous text when there is not enough space for it */
/* WARNING: This code is brittle (the media query relies on independent breakpoint classes in markup) */
@media (min-width: 990px) and (max-width: 1201px) {
  .license-button__extra-text {
    display: none;
  }
}
