.root {
  composes: c-button from '../../../styles/components/c-button--new.css';
}

.primary {
  composes: c-button--primary from '../../../styles/components/c-button--new.css';
}
.secondary {
  composes: c-button--secondary from '../../../styles/components/c-button--new.css';
}
.tertiary {
  composes: c-button--tertiary from '../../../styles/components/c-button--new.css';
}
.active {
  composes: c-button--is-active from '../../../styles/components/c-button--new.css';
}

.size-small {
  composes: c-button--size-small from '../../../styles/components/c-button--new.css';
}
.width-short {
  composes: c-button--width-short from '../../../styles/components/c-button--new.css';
}
.width-medium {
  composes: c-button--width-medium from '../../../styles/components/c-button--new.css';
}
.width-long {
  composes: c-button--width-long from '../../../styles/components/c-button--new.css';
}
.width-auto {
  composes: c-button--width-auto from '../../../styles/components/c-button--new.css';
}

.as-link {
  composes: c-button--as-link from '../../../styles/components/c-button--new.css';
}

.root.as-link {
  font-size: inherit;
}



.icon--before {
  composes: c-button__icon--before from '../../../styles/components/c-button--new.css';
}
.icon--after {
  composes: c-button__icon--after from '../../../styles/components/c-button--new.css';
}
/* To offer more space between icon and text (especially '-up' and '-down' */
.icon--before:global([class*='icon-nav-']) {
  margin-right: 0.75em;
}
.icon--after:global([class*='icon-nav-']) {
  margin-left: 0.75em;
}

.loading {
  composes: c-button--is-busy from '../../../styles/components/c-button--new.css';
}
.root {
  position: relative;
}
.root .loading-over-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.root.size-small .loading-over-button > div {
  height: 1rem;
  width: 1rem;
}

.text {
  composes: c-button__text from '../../../styles/components/c-button--new.css';
}
