[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/bin/uwsgi --ini /etc/uwsgi/emperor.ini --uid www-data --gid www-data
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
