/* Types */
.container {
  display: flex;
  flex-direction: column;
  &.is-horz {
    &.is-wide,
    &.is-narrow {
      .data-files-listing {
        order: -1;
      }
      .compact-view {
        i,
        p,
        strong {
          display: none;
        }
        div {
          max-height: 80px;
        }
      }
    }
  }
  &.is-vert {
    &.is-narrow {
      .data-files-listing {
        order: -1;
      }
      .compact-view {
        i,
        p,
        strong {
          display: none;
        }
        div {
          max-height: 80px;
        }
      }
    }
  }
  .listing-header {
    margin-top: 10px;
    font-size: 20px;
  }
  div[disabled] {
    pointer-events: none;
    opacity: 0.7;
  }
}
