/* Rules placed for consistent styling */
.firstParagraph {
    margin-top: 1rem;
}
.lastParagraph {
    margin-bottom: 0;
}

/* Enlarges the button to accommodate its text */
.linkButton {
    max-width: unset; 
}