.custom-modal-header {
  padding-left: 15px;
}

.custom-textcopyfield {
  margin-top: 0;
}

.storage-host,
.storage-path,
.storage-location {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-left: 15px;
}

.storage-path {
  margin-bottom: 0;
}

.storage-values,
.storage-google {
  margin-left: 15px;
}
