/* Types */
.container {
  display: flex;
  flex-direction: column;
  &.is-horz {
    &.is-wide,
    &.is-narrow {
      .dataFilesListing {
        order: -1;
      }
      .compact-view {
        i,
        p,
        strong {
          display: none;
        }
        div {
          max-height: 80px;
        }
      }
    }
  }
  &.is-vert {
    &.is-narrow {
      .dataFilesListing {
        order: -1;
      }
      .compact-view {
        i,
        p,
        strong {
          display: none;
        }
        div {
          max-height: 80px;
        }
      }
    }
  }
}
