.description-textarea {
  min-height: 100px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.update-button {
  margin-left: auto;
}

.modal-body {
  max-height: 70vh;
  overflow: auto;
}
