.root {
  min-height: 30vh;
}

.text-preview{
  max-height: 75vh;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
