.description-textarea {
    min-height: 10em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.update-button {
    margin-left: auto;
}