.user-setup-view {
    padding-left: 1em;
    padding-right: 1em;
}

.user-setup-event {
    color: #888;
    padding-bottom: 0.5em;
}

.first-setup-event {
    color: #000;
}

.action-failed-toast {
    background-color: red;
}

.setup-event-collapsed {
    display: none;
}

.setup-actions > div {
    display: inline-block;
}

.setup-event-log > div {
    display: inline-block;
    vertical-align: text-top;
}

.setup-event-log-event-container {
    max-width: 80%;
}

.setup-event-log-button-container {
    width: 3em !important;
}

.setup-event-log button {
    outline: none !important;
}