.review-projects-listing {
  /* title */
  th:nth-child(1),
  td:nth-child(1) {
    width: 40%;
  }
  /* date */
  th:nth-child(2),
  td:nth-child(2) {
    width: 10%;
  }
  /* author */
  th:nth-child(3),
  td:nth-child(3) {
    width: 15%;
  }
  /* description */
  th:nth-child(4),
  td:nth-child(4) {
    width: 10%;
  }
  /* keywords */
  th:nth-child(5),
  td:nth-child(5) {
    width: 25%;
  }
}
