.toast-container {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 999;
    right: 40px;
}

.toast {
    --toast-width: 37em;
    --toast-height: 4.6em;
    max-width: var(--toast-width);
    height: var(--toast-height);
    background-color: #D2CCE7;
    border-radius: 0px;
    border: 0;
    z-index: 999;
}

.toast-body {
    height: var(--toast-height);
    padding: 0px;
    display: grid;
    grid-template-columns: minmax(15px, 13%) 1fr;
}

.toast-icon-wrapper {
    font-size: 1.2em;
    display: grid;
    place-items: center;
    border-right: 1px solid #AFAFAF;
}

.toast-content {
    padding: 10px 15px;
    height: var(--toast-height);
    font-weight: bold;
    display: grid;
    place-items: center left;
    span {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
}
