.root {
  composes: c-page-list from '../../../styles/components/c-page.css';
}
.endcap {
  composes: c-page-end from '../../../styles/components/c-page.css';
}
.endcap:global(.btn) {
  padding-left: 12px;
  font-size: inherit;
}

.etcetera {
  composes: c-page-item--etcetera from '../../../styles/components/c-page.css';
}
.narrower-first-digit {
  composes: c-page-link--narrower-first-digit from '../../../styles/components/c-page.css';
}

.page-root {
  composes: c-page-item from '../../../styles/components/c-page.css';
}

.page {
  composes: c-page-link from '../../../styles/components/c-page.css';
  composes: c-page-link--always-click from '../../../styles/components/c-page.css';
}
.page:global(.btn) {
  border-radius: 0;
  font-size: inherit;
}

.current {
  composes: c-page-link--active from '../../../styles/components/c-page.css';
}
