.page {
  background-color: var(--global-color-primary--xx-light) !important;
  border-radius: 0;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  width: 32px;
  margin-left: 4px;
  margin-right: 4px;
}

.current {
  background-color: var(--global-color-accent--light) !important;
}

.endcap {
  padding-left: 12px !important;
}

.endcap > * {
  margin-right: 0.25em;
}
