<div class="project-meta">
    <div class="prj-meta-content"
         data-ng-if="!$ctrl.ui.loading">
        <h2 id="project-meta-title">
            <span>{{$ctrl.data.meta.title}}</span>
        </h2>
        <div class="project-meta-detail">
            <table class="project-meta-table">
                    <tr ng-if="$ctrl.data.meta.description">
                        <th>Description</th>
                        <td>{{ $ctrl.data.meta.description  }}</td>
                    </tr>
                    <tr ng-if="$ctrl.data.meta.pi">
                        <th>PI</th>
                        <td>{{ $ctrl.data.meta.pi.fullName }}</td>
                    </tr>
                    <tr ng-if="$ctrl.data.meta.coPis.length">
                        <th>Co-PIs</th>
                        <td>{{ $ctrl.coPIList() }}</td>
                    </tr>
                </table>
        
                <div class="project-meta-buttons" ng-if="$ctrl.isPI() || $ctrl.isCoPI()">
                    <button class="btn btn-sm btn-primary"
                            data-ng-click="$ctrl.editMetadata()">
                        Edit Project Info
                    </button>
                    <button class="btn btn-sm btn-primary"
                            data-ng-click="$ctrl.editMembers()">
                        Manage Members
                    </button>
                </div>
        </div>

    </div>
    <div class="error"
         data-ng-if="$ctrl.ui.error">
        <p class="alert alret-danger">
            {{$ctrl.ui.error.message}}
        </p>
        <a class="btn btn-info"
           href="#"
           data-ui-sref="wb.data_depot.projects.listing({
                            systemId: $ctrl.ui.systemId,
                            filePath: '/',
                        })">
            Reload <i class="fa fa-reload">&nbsp;</i>
        </a>
    </div>
    <div class="loading"
        data-ng-if="$ctrl.ui.loading">
        <span >Loading ...</span>
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw">&nbsp;</i>
    </div>
</div>
