<div class="project-meta">
    <div class="prj-meta-content"
         data-ng-if="!$ctrl.ui.loading">
        <h2 id="project-meta-title"
            data-ng-if="!$ctrl.isBeingEdited('title')">
            <span>{{$ctrl.data.meta.title}}</span>
            <span class="edit">
                <button class="btn btn-sm btn-link"
                        data-ng-click="$ctrl.editField('title')">
                    <i class="fa fa-pencil text-info">&nbsp;</i>
                    <span>Edit</span>
                </button>
            </span>
        </h2>
        <h2 data-ng-if="$ctrl.isBeingEdited('title')">
            <input type="text"
                   placeholder="Project Title"
                   data-ng-model="$ctrl.data.title"/>

            <span>
                <button class="btn btn-sm btn-link"
                        data-ng-click="$ctrl.saveField('title')">
                    <i class="fa fa-check text-success">&nbsp;</i>
                    <span>Save</span>
                </button>
                &nbsp;
                <button class="btn btn-sm btn-link"
                        data-ng-click="$ctrl.cancelEdit()">
                    <i class="fa fa-times text-danger">&nbsp;</i>
                    <span>Cancel</span>
                </button>
            </span>
        </h2>

        <div class="prj-meta-row">
            <p data-ng-if="!$ctrl.isBeingEdited('description')">
                {{$ctrl.description()}}

            <button class="btn btn-sm btn-link"
                    data-ng-click="$ctrl.editField('description')">
                <i class="fa fa-pencil text-info">&nbsp;</i>
                <span>Edit</span>
            </button>
            </p>
            <textarea data-ng-if="$ctrl.isBeingEdited('description')"
                      data-ng-model="$ctrl.data.description"
                      placeholder="Description...">
                {{$ctrl.description()}}
            </textarea>
            <span data-ng-if="$ctrl.isBeingEdited('description')">
                <button class="btn btn-sm btn-link"
                        data-ng-click="$ctrl.saveField('description')">
                    <i class="fa fa-check text-success">&nbsp;</i>
                    <span>Save</span>
                </button>
                &nbsp;
                <button class="btn btn-sm btn-link"
                        data-ng-click="$ctrl.cancelEdit()">
                    <i class="fa fa-times text-danger">&nbsp;</i>
                    <span>Cancel</span>
                </button>
            </span>
        </div>
        <div data-ng-if="$ctrl.ui.showMore" class="team-members">
            <h4>PI</h4>
            <div class="team-member-row">
                <span class="team-member">{{$ctrl.data.meta.pi.fullName}}</span>
                <button class="btn btn-link btn-sm edit-member-btn"
                        id="rm-pi-btn"
                        data-ng-if="$ctrl.canRemovePI()"
                        data-ng-click="$ctrl.deleteMember('pi', $ctrl.data.meta.pi)">
                    <i class="fa fa-times text-danger">&nbsp;</i> Remove
                </button>
            </div>
            <button class="btn btn-success btn-sm edit-member-btn"
                    id="add-pi-btn"
                    data-ng-disabled="!$ctrl.canAddPI()"
                    data-ng-click="$ctrl.openMemberSearch('pi', 'Add Project PI')">
                <i class="fa fa-user-plus">&nbsp;</i>Add PI
            </button>
            <h4>Co PIs</h4>
            <div class="team-member-row"
                 data-ng-repeat="user in $ctrl.data.meta.coPis">
                <span class="team-member">
                    {{user.fullName}}
                </span>
                <button class="btn btn-link btn-sm edit-member-btn rm-co-pi-btn"
                        data-ng-if="$ctrl.canEditTeamMembers()"
                        data-ng-click="$ctrl.deleteMember('co_pi', user)">
                    <i class="fa fa-times text-danger">&nbsp;</i> Remove
                </button>
            </div>
            <button class="btn btn-success btn-sm edit-member-btn"
                    id="add-co-pi-btn"
                    data-ng-if="$ctrl.canEditTeamMembers()"
                    data-ng-click="$ctrl.openMemberSearch('co_pi', 'Add Project Co PI')">
                <i class="fa fa-user-plus">&nbsp;</i>Add Co PIs.
            </button>
            <h4>Team Members</h4>
            <div class="team-member-row"
                 data-ng-repeat="user in $ctrl.data.meta.teamMembers">
                <span class="team-member">
                    {{user.fullName}}
                </span>
                <button class="btn btn-link btn-sm edit-member-btn rm-team-member-btn"
                        data-ng-if="$ctrl.canEditTeamMembers()"
                        data-ng-click="$ctrl.deleteMember('team_member', user)">
                    <i class="fa fa-times text-danger">&nbsp;</i> Remove
                </button>
            </div>
            <button class="btn btn-success btn-sm edit-member-btn"
                    id="add-team-members-btn"
                    data-ng-if="$ctrl.canEditTeamMembers()"
                    data-ng-click="$ctrl.openMemberSearch('team_member', 'Add Project Team Member')">
                <i class="fa fa-user-plus">&nbsp;</i>Add Team Members.
            </button>
        </div>
        <div class="project-show-more">
            <button class="btn btn-xl btn-link"
                    data-ng-click="$ctrl.toggleShowMore()">
                Show
                <span data-ng-if="!$ctrl.ui.showMore">
                    More
                    <i class="fa fa-caret-down">&nbsp;</i>
                </span>
                <span data-ng-if="$ctrl.ui.showMore">
                    Less
                    <i class="fa fa-caret-up">&nbsp;</i>
                </span>
            </button>
        </div>
    </div>
    <div class="error"
         data-ng-if="$ctrl.ui.error">
        <p class="alert alret-danger">
            {{$ctrl.ui.error.message}}
        </p>
        <a class="btn btn-info"
           href="#"
           data-ui-sref="wb.data_depot.projects.listing({
                            systemId: $ctrl.ui.systemId,
                            filePath: '/',
                        })">
            Reload <i class="fa fa-reload">&nbsp;</i>
        </a>
    </div>
    <div class="loading"
        data-ng-if="$ctrl.ui.loading">
        <span >Loading ...</span>
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw">&nbsp;</i>
    </div>
</div>
