<div class="">
  <div class="form-group">
    <label for="id_notifications_filter"><h5>Notification Type&nbsp;</h5></label>
    <select id="id_notifications_filter" 
      ng-model="$ctrl.notificationType"
      ng-options="item as item.label for item in $ctrl.notificationTypes"
      class="form-control"
    ></select>
  </div>
  <div class="jumbotron" ng-show="$ctrl.service.notes.total===0">
    <h2> Whew, no notifications! </h2>
  </div>
  <notifications-detail
    ng-repeat="note in $ctrl.notes()"
    note="note"
    modal="true"
    delete="$ctrl.delete(note.pk)">
  </notifications-detail>
</div>