<div class="modal-header">
    <h3 class="modal-title">Public Url for {{$ctrl.file.name}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-info" data-ng-show="$ctrl.busy">
        <p class="text-center">
            <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
        </p>

    </div>

    <div data-ng-show="$ctrl.error">
        <div class="alert alert-danger">
            There was an error retrieving a URL for this file. Please try again later or, or submit a ticket if the
            issue persists.
        </div>
    </div>

    <div data-ng-show="!$ctrl.busy && !$ctrl.error">
        <div class="row">
            <div class="col-md-12">
                The following URL can be used to access this file without authentication. Share at your own risk.
            </div>
        </div>

        <div class="row">
            <div class="col-md-11" style="padding-right:0px">
                <div class="well">
                    <code>{{$ctrl.data.postit_url}}</code>
                </div>

            </div>
            <div class="col-md-1" style="padding-left:0px">
                <button class="btn btn-lg btn-default" style="height:61px" ng-click="$ctrl.confirmRefresh()">
                    <i class="fa fa-undo"></i>
                </button>

            </div>
        </div>

        <div style="border: 1px solid #DDD; padding: 1em 1em 1em 1em; margin-bottom:1em" data-ng-show="$ctrl.confirmDialog">
            <div>
                <i class="fa fa-exclamation-circle"></i>&nbsp;
                Generate a new public URL for this file? The public URL currently displayed will not be retrievable
                after this action.
            </div>
            <div style="margin-top:1em">
                <button class="btn btn-warning" data-ng-click="$ctrl.refresh()">Confirm</button>
                <button class="btn btn-primary" data-ng-click="$ctrl.cancelRefresh()">Cancel</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                This URL is valid until <b>{{$ctrl.data.expires | date: 'medium'}}</b>.
            </div>
        </div>

    </div>




</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">Close</button>
</div>