/* Block */
.root {
    /* As flex container */
    display: flex;
    flex-direction: column;

    padding: var(--global-space--section);
}

/* Elements */
.header {
    /* As flex item */
    flex-shrink: 0;

    /* As flex container */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 32px;
    box-sizing: content-box;
    padding: 1.5rem 0 0.75rem 0; /* 24px, 12px (20px, 10px design * 1.2 design-to-app ratio) (rounded) */
    border-bottom: var(--global-border-width--normal) solid var(--global-color-primary--normal);
}
.header h2 {
    font-size: 1.125rem; /* ~18px (16px design * 1.2 design-to-app ratio) (rounded) */
}
/* HACK: Only necessary until we have a `SectionHeader` */
/* Do not let user bring in vertical margin (example: h1–h6) */
.header * {
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    /* As flex item */
    flex-grow: 1;
}

/* Modifiers */
.root.should-scroll .content {
    overflow: auto;
}
