/* Block */

.root {
    /* As flex container */
    display: flex;
    flex-direction: column;

    margin: var(--global-space--section);
}


/* Elements */

.messages {
    /* … */
}
.header {
    /* As flex item */
    flex-shrink: 0;
}
.content {
    /* As flex item */
    flex-grow: 1;
}
