.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font:
    16px Roboto,
    sans-serif;
  height: 100%;
  overflow: auto;
}
.title {
  padding: 0.25rem 0;
  font-weight: bold;
}
.details {
  padding: 0.25rem 0;
}
.details dt {
  font-weight: normal;
}
