.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font: 16px Roboto, sans-serif;
  height: 100%;
  overflow: auto;
}
.title {
  padding: 0.25rem;
  font-weight: bold;
}
.details {
  padding: 0.25rem;
  text-overflow: ellipsis;
  overflow: auto;
}
