.root {
  /* TODO: Remove suprfluous div, ideally when `_common/Sidebar` is created */
  /* HACK: Any superfluous div—`.data-files-sidebar`—must meet parent height */
  > :only-child {
    height: 100%;
  }

  .read-only *,
  button.read-only {
    color: #afafaf;
  }
}

.add-button-item {
  padding-bottom: 20px;
  padding-inline: var(--global-space--section-left);
}
