{% extends "base.html" %}
{% load sekizai_tags staticfiles %}
{% block title %} Accounts {% endblock %}
{% block content %}
<div class="container">
  <h1 class="headline headline-research">{{title}}</h1>
  <!-- <h1 class="headline headline-research">Manage Profile</h1> -->
  <div class="row">

    <div class="col-sm-3">
      <ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">

        {% url 'portal_accounts:manage_profile' as item_url %}
        <li class="nav-item">
          <a class="nav-link {% if item_url in request.path %}active {% endif %}" href="{{item_url}}">Account Profile</a>
        </li>

        {% url 'portal_accounts:manage_onboarding' as item_url %}
        <li class="nav-item">
          <a class="nav-link {% if item_url in request.path %}active {% endif %}" href="{{item_url}}">Account Setup</a>
        </li>

        {% url 'portal_accounts:manage_authentication' as item_url %}
        <li class="nav-item">
          <a class="nav-link {% if item_url in request.path %}active {% endif %}" href="{{item_url}}">Authentication</a>
        </li>

        <!-- {% url 'portal_accounts:manage_licenses' as item_url %}
        <li class="nav-item">
          <a class="nav-link {% if item_url in request.path %}active {% endif %}" href="{{item_url}}">Licenses</a>
        </li> -->

        <!-- {% url 'tickets:mytickets' as item_url %}
        <li class="nav-item">
          <a class="nav-link {% if item_url in request.path %}active {% endif %}" href="{{item_url}}">My Tickets</a>
        </li> -->

        <!-- {% url 'portal_accounts:manage_notifications' as item_url %}
          <li {% if request.path == item_url %}class="active"{% endif %}><a href="{{item_url}}">Notification Settings</a></li> -->

        <!-- {% url 'portal_accounts:manage_applications' as item_url %}
        <li class="nav-item">
          <a class="nav-link {% if item_url in request.path %}active {% endif %}" href="{{item_url}}">3rd Party Apps</a>
        </li> -->

        <!-- {% url 'tc_view_page' as item_url %}
          <li {% if request.path == item_url %}class="active"{% endif %}><a href="{{item_url}}">Terms and Conditions</a></li> -->

      </ul>
    </div>

    <div class="col-sm-9">
      {% block panel_content %} PLACEHOLDER {% endblock %}
    </div>

  </div>
</div>
{% endblock %}
