{% extends "base.html" %}
{% load sekizai_tags staticfiles %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container">
  <h1 class="headline headline-community">SD2E Portal Login</h1>

  <div class="row">
    <div class="col-xs-12">
      {% if message %}
      <div class="alert alert-{{message.class}}">
        <p>{{message.text}}</p>
      </div>
      {% endif %}
      <div class="login-option-block">
        <p>
          <a href="{% url 'portal_auth:agave_oauth' %}?{{ request.META.QUERY_STRING }}" class="btn btn-lg btn-primary img-responsive">
            Log in with TACC
          </a>
        </p>
        <h4> If you need to create an account to login, please request access by
         clicking the "Request Access" link above. </h4>
       </div>
     </div>
   </div>
</div>
{% endblock %}
