.root {
    height: 1.1em;
    width: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    border-radius: 30%;
    background-color: #9d85ef;
    color: rgb(253, 241, 241);
    margin-left: auto;
    margin-right: 2em;
}
