.custom-scroll {
  height: 50%;
}

.th {
  display: flex;
}
.tr {
  display: flex;
  align-items: center;
  font-size: 0.875rem; /* 14px (approved deviation from design) */
  border-bottom: 1px solid #e0e0e0;
}
.tr-background-shading:not(.-status) {
  background: #F4F4F4;
}
.tr:hover{
  background-color: rgba(0,0,0,.05);
}
.tr-header {
  border-bottom: 1px solid #000000;
  padding-bottom: 0;
  font-weight: bold;
}

.scroll {
  display: flex;
  justify-content: center;
}
.tr-selected:not(.scroll):not(.tr-header) {
  background: var(--global-color-accent--weak);
}

.td {
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 1;
}

/* NOTE: Mimicked on: DataFiles, DataFilesProjectsList, DataFilesProjectFileListing */
.listing-placeholder {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: auto; /* to allow content to scroll when window height is short */
}
