/* Dashboard Table */
@media only screen and (min-width: 1670px) {
  .jobs-view {
    /* icon */    tr > *:nth-child(1) { width: 5%; }
    /* name */    tr > *:nth-child(2) { width: 35%; }
    /* status */  tr > *:nth-child(3) { width: 10%; }
    /* path */    tr > *:nth-child(4) { width: 35%; }
    /* date */    tr > *:nth-child(5) { width: 15%; }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1679px),
       only screen and (min-width: 768px) and (max-width: 991px) {
  .jobs-view {
    /* icon */    tr > *:nth-child(1) { width: 5%; }
    /* name */    tr > *:nth-child(2) { width: 30%; }
    /* status */  tr > *:nth-child(3) { width: 15%; }
    /* path */    tr > *:nth-child(4) { width: 30%; }
    /* date */    tr > *:nth-child(5) { width: 20%; }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
       only screen and (max-width: 767px) {
  .jobs-view {
    /* icon */    tr > *:nth-child(1) { width: 7.5%; }
    /* name */    tr > *:nth-child(2) { width: 27.5%; }
    /* status */  tr > *:nth-child(3) { width: 20%; }
    /* path */    tr > *:nth-child(4) { width: 25%; }
    /* date */    tr > *:nth-child(5) { width: 20%; }
  }
}

/* History Table */
@media only screen and (min-width: 1680px) {
  .jobs-detailed-view {
    /* icon */    tr > *:nth-child(1) { width: 2.5%; }
    /* name */    tr > *:nth-child(2) { width: 37.5%; }
    /* status */  tr > *:nth-child(3) { width: 10%; }
    /* details */ tr > *:nth-child(4) { width: 7.5%; }
    /* path */    tr > *:nth-child(5) { width: 35%; }
    /* date */    tr > *:nth-child(6) { width: 10%; }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1679px) {
  .jobs-detailed-view {
    /* icon */    tr > *:nth-child(1) { width: 3.5%; }
    /* name */    tr > *:nth-child(2) { width: 32.5%; }
    /* status */  tr > *:nth-child(3) { width: 11.5%; }
    /* details */ tr > *:nth-child(4) { width: 7.5%; }
    /* path */    tr > *:nth-child(5) { width: 30%; }
    /* date */    tr > *:nth-child(6) { width: 15%; }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .jobs-detailed-view {
    /* icon */    tr > *:nth-child(1) { width: 5%; }
    /* name */    tr > *:nth-child(2) { width: 27.5%; }
    /* status */  tr > *:nth-child(3) { width: 12.5%; }
    /* details */ tr > *:nth-child(4) { width: 10%; }
    /* path */    tr > *:nth-child(5) { width: 25%; }
    /* date */    tr > *:nth-child(6) { width: 20%; }
  }
}
@media only screen and (max-width: 991px) {
  .jobs-detailed-view {
    /* icon */    tr > *:nth-child(1) { width: 6%; }
    /* name */    tr > *:nth-child(2) { width: 25%; }
    /* status */  tr > *:nth-child(3) { width: 15%; }
    /* details */ tr > *:nth-child(4) { width: 10%; }
    /* path */    tr > *:nth-child(5) { width: 25%; }
    /* date */    tr > *:nth-child(6) { width: 19%; }
  }
}

.job__status {
  position: relative;
}
