/* NOTE: Job status column is extra wide so "Open Session" button always fits */

/* Dashboard Table */
@media only screen and (min-width: 1680px) {
  .jobs-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 25%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* path */
    tr > *:nth-child(4) {
      width: 40%;
    }
    /* date */
    tr > *:nth-child(5) {
      width: 9em;
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1679px) {
  .jobs-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 28%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* path */
    tr > *:nth-child(4) {
      width: 28%;
    }
    /* date */
    tr > *:nth-child(5) {
      width: 9em;
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .jobs-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 24.5%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* path */
    tr > *:nth-child(4) {
      width: 24.5%;
    }
    /* date */
    tr > *:nth-child(5) {
      width: 9em;
    }
  }
}
@media only screen and (max-width: 1199px) {
  .jobs-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 17.5%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* path */
    tr > *:nth-child(4) {
      width: 17.5%;
    }
    /* date */
    tr > *:nth-child(5) {
      width: 9em;
    }
  }
}

/* History Table */
@media only screen and (min-width: 1680px) {
  .jobs-detailed-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 25%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* details */
    tr > *:nth-child(4) {
      width: 8%;
    }
    /* path */
    tr > *:nth-child(5) {
      width: 45%;
    }
    /* date */
    tr > *:nth-child(6) {
      width: 9em;
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1679px) {
  .jobs-detailed-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 28%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* details */
    tr > *:nth-child(4) {
      width: 10%;
    }
    /* path */
    tr > *:nth-child(5) {
      width: 28%;
    }
    /* date */
    tr > *:nth-child(6) {
      width: 9em;
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .jobs-detailed-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 25%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* details */
    tr > *:nth-child(4) {
      width: 7%;
    }
    /* path */
    tr > *:nth-child(5) {
      width: 25%;
    }
    /* date */
    tr > *:nth-child(6) {
      width: 9em;
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .jobs-detailed-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 18%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* details */
    tr > *:nth-child(4) {
      width: 10%;
    }
    /* path */
    tr > *:nth-child(5) {
      width: 18%;
    }
    /* date */
    tr > *:nth-child(6) {
      width: 9em;
    }
  }
}
@media only screen and (max-width: 991px) {
  .jobs-detailed-view {
    /* icon */
    tr > *:nth-child(1) {
      width: 2em;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 14%;
    }
    /* status */
    tr > *:nth-child(3) {
      width: 14em;
    }
    /* details */
    tr > *:nth-child(4) {
      width: 11%;
    }
    /* path */
    tr > *:nth-child(5) {
      width: 14%;
    }
    /* date */
    tr > *:nth-child(6) {
      width: 9em;
    }
  }
}

.no-results-message {
  align-items: center;
}
