.jobs-view .PaginationTable {
  th:nth-child(1),
  td:nth-child(1) { width: 20%; }
  th:nth-child(2),
  td:nth-child(2) { width: 50%; }
  th:nth-child(3),
  td:nth-child(3) { width: 15%; }
  th:nth-child(4),
  td:nth-child(4) { width: 15%; }
}
