.clamped {
  --lines: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);
  max-height: calc(var(--lines) * 1lh);
}

.expanded {
  max-height: 200px;
  overflow-y: auto;
}
