<div class="workbench">
  <div class="workbench-nav">
    <div class="side-nav-button" ui-sref-active="active"> <a ui-sref="wb.dashboard" > <i class="fa fa-dashboard"></i> </a> </div>
    <div class="side-nav-button" ui-sref-active="active"> <a ui-sref="wb.data_depot"> <i class="fa fa-database"></i> </a> </div>
    <div class="side-nav-button" ui-sref-active="active"> <a ui-sref="wb.workspace"> <i class="fa fa-rocket"></i>  </a></div>
    <div class="side-nav-button" ui-sref-active="active"> <a ui-sref="wb.help"> <i class="fa fa-question"></i> </a> </div>
    <div class="side-nav-button" ui-sref-active="active"> <a ui-sref="wb.search"> <i class="fa fa-search"></i> </a> </div>
  </div>
  <div class="workbench-content">
    <ui-view></ui-view>
  </div>
</div>
