<div class="container-fluid" role="main" id="search">
  <div class="container-fluid" ng-controller="SearchViewCtrl">
      <div class="row justify-content-center" >
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form ng-submit="search_browse()">
          <div class="input-group">
            <input type="text" class="form-control input-lg" ng-model="data.text" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default btn-lg" type="button" ng-click="search_browse()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div><!-- /input-group -->
        </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>Refine By:</h2>
          <div class=list-group>
            <a class="list-group-item" ng-class='{"active": data.type_filter == "private_files"}' ng-click='filter("private_files")'>My Data
                <span class="badge" ng-show='data.search_results.private_files_total'> {{ data.search_results.private_files_total }}</span>
            </a>
            
            <a class="list-group-item disabled" ng-class='{"active": data.type_filter == "published"}'>Published Projects
                <span class="badge" ng-show='data.search_results.published_total'> {{ data.search_results.published_total }}</span>
            </a>

            <a class="list-group-item disabled" ng-class='{"active": data.type_filter == "public_files"}'>Public Files
                <span class="badge" ng-show='data.search_results.public_files_total'> {{ data.search_results.public_files_total }}</span>
            </a>
           
            <a class="list-group-item" ng-class='{"active": data.type_filter == "cms"}' ng-click='filter("cms")'>Web Content
                <span class="badge" ng-show='data.search_results.cms_total'> {{ data.search_results.cms_total }}</span>
            </a>
          </div>
        </div> 
        <div class="col-md-9" ng-show="data.search_results">
          <h2> Search Results {{makeUrl(data)}} </h2>
          <div ng-show='data.search_results.total_hits === 0'>
            <div class="alert alert-info">
              <h3>
                  no results in {{prettyFilterName[data.type_filter]}}
              </h3>
            </div></div>

          <search-result make-url='makeUrl(data)' data=data ng-repeat="data in data.search_results.hits"></search-result>
        </div>
        <div class="row" ng-if="data.search_results.total_hits > limit">
            <div class="col-md-3">
                <button class="btn btn-default pull-left"
                  ng-click="prev()"
                  ng-disabled="page_num === 0">
                  <i class="fa fa-chevron-left"></i> Prev
                </button>
              </div>
              <div class="col-md-6">
                <div class="text-center">
                  <span class="badge"> {{page_num + 1}} / {{ max_pages }} </span>
                </div>
              </div>
              <div class="col-md-3">
                <button class="btn btn-default pull-right"
                  ng-click="next()"
                  ng-disabled="page_num + 1 === max_pages">
                  <i class="fa fa-chevron-right"></i> More
                </button>
              </div>
        </div>
      </div>
    </div>
</div>
