<a ng-click="$ctrl.helpModal()"><i class="fa fa-question-circle"></i>  Help with Neurodata</a>
<div class="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <a href="" ng-click="$ctrl.onBrowseNeuroRoot()"> Neurodata</a>
        </li>
        <li ng-if="$ctrl.$stateParams.collection">
            <a href="" ng-click="$ctrl.onBrowseCollection()">{{$ctrl.$stateParams.collection}}</a>
        </li>
        <li ng-if="$ctrl.$stateParams.experiment">
                <a href="" ng-click="$ctrl.onBrowseExperiment()">{{$ctrl.$stateParams.experiment}}</a>
            </li>
    </ul>
</div>