<div class="modal-header">
    <h3 class="modal-title">Compress Files</h3>
</div>
<div class="modal-body">
    <form>
        <div>
            <h4>Please enter a zip file name</h4>
            <p>
                A job to compress your files will be submitted on
                your behalf. You will receive a notification when it finished,
                and your zipped file will appear in this directory.
            </p>
        </div>
        <div class="form-group">
            <label for="id-target-name">Enter {{$ctrl.file.type }} name</label>
            <input type="text"
                class="form-control"
                id="id-target-name" name="target-name"
                placeholder="Compressed filename" ng-model="$ctrl.targetName" autofocus>
        </div>
        <div class="text-right">
            <button class="btn btn-default"
                    type="button"
                    ng-click="$ctrl.cancel()">Cancel</button>
            <button class="btn btn-primary"
                    ng-disabled='!$ctrl.targetName'
                    ng-click="$ctrl.doCompressFile()">Compress </button>
        </div>
    </form>
</div>
