/*
    Variables and Mixins
*/
@mixin alloc-button {
    button {
        border-radius: 0;
        border: 0;
        font: bold 12px Roboto, sans-serif;
        background-color: #9D85EF;
        padding: 0.5rem 1rem;
    }
}
/*
    Components
*/
.btn-link {
    color: #9d85ef;
    padding-left: 0;
}
#allocations-wrapper {
    display: flex;
    flex-direction: column;

    padding-right: 32px;
}
#allocations-container {
    /* As a flex item */
    flex-grow: 1;

    /* As a flex container */
    display: flex;
    flex-direction: row;

    border-top: 1px solid #707070;
}
/* Make right-most item fill up remaining horizontal space */
#allocations-container > :last-child {
    flex-grow: 1;
}
#allocations-alert {
    display: flex;
    flex-direction: column;
  
    padding: 20px 40px 0 20px;
    .alert {
        margin-bottom: 0px;
    }
}
  
#allocations-header {
    @include alloc-button();
    display: flex;
    justify-content: space-between;
    margin: 21px 0 0.5rem 1.75rem;
    padding-left: 0.2em;
    #header-text {
        font-size: 1.25rem;
        font-weight: 400;
        vertical-align: text-bottom;
        letter-spacing: 0;
        width: 10rem;
        display: flex;
        align-items: flex-end;
        a {
            color: #484848;
        }
    }
}
#allocations-sidebar {
    width: 215px;
    border-right: 1px solid rgba(112, 112, 112, 0.25);
    font-family: Roboto, sans-serif;

    /* !!!: This link is `40px`, which is taller than other sidebar links (which are ~`35px`) */
    .nav-link {
        /* NOTE: These styles match `.nav-content`. That class is not used in
                 the markup for this sidebar because it is extraneous */
        /* RFE: Resolve discrepancy when common Sidebar component exists */
        display: flex;
        align-items: center;

        color: #707070;
        padding-left: 1.5em; /* ~20px design * 1.2 design-to-app ratio (rounded) */

        .link-icon {
            font-size: 1.125rem; /* ~18px (16px design * 1.2 design-to-app ratio) (rounded) */
            width: 1em;
        }
        .link-text {
            font-size: 0.75rem; /* 12px (10px design * 1.2 design-to-app ratio) */
            font-weight: 500;
            padding-left: 16px;
            vertical-align: middle;
        }
    }
    .active {
        background: rgba(#9d85ef, 0.25);
    }
}
.allocations-table {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 0 0 1em;
    overflow-y: auto;
    table {
        width: 100%;
        border: 0;
        font-size: 14px;
        tr {
            height: 2.25rem;
            td {
                padding: 0;
                vertical-align: text-top;
            }
            border-bottom: 1px solid rgba(#707070, 0.25);
            margin-bottom: 24px;
        }
        thead {
            tr {
                border-bottom: 1px solid #707070;
            }
        }
        tbody {
            tr:last-child {
                border-bottom: none;
            }
        }
        .sub-table-row {
            /* FP-457: Will fix this *//* stylelint-disable no-descending-specificity */
            :nth-child(even) {
                background-color: rgba(#c6c6c6, 0.1);
            }
            /* stylelint-enable no-descending-specificity */
            color: #707070;
            font: 14px Roboto, sans-serif;
        }
        .sub-table-cell {
            background-color: white;
            height: 2.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .alloc-badge {
        font-size: 14px;
    }
}
#pending {
    @extend .allocations-table;
}
.allocations-modal-header {
    background-color: #F4F4F4;
    padding: 1rem;
    span {
        color: #484848;
        font-size: 1.1rem;
        margin: 0;
    }
}
.allocations-request-body {
    color: #484848;
}
/* HACK: The loading icon should not need height set, but it fixes Safari here */
/* FP-426: Do not use `height: 100%` or isolate usage pending solution to bigger problem */
#allocations-wrapper .loading-icon {
    height: auto;
}
.system-cell {
    width: 120px;
}
