/*
    Variables and Mixins
*/
@mixin alloc-button {
  .btn {
    border-radius: 0;
    border: 0;
    font:
      bold 12px Roboto,
      sans-serif;
    background-color: var(--global-color-accent--normal);
    padding: 0.5rem 1rem;
  }
}
/*
    Components
*/
.allocations-content a {
  padding-left: 0;
}
.allocations-header {
  @include alloc-button();

  a {
    color: var(--global-color-primary--xx-dark);
  }
}

.allocations-content {
  /* As a flex child */
  flex-grow: 1;

  /* WARNING: Mimicked on: History, Allocation, DataFiles, DataFilesProjectsList, DataFilesProjectFileListing, PublicData */
  padding-top: 1.75rem; /* ~28px (22.5px * design * 1.2 design-to-app ratio) */
  padding-left: 1.5em; /* ~24px (20px * design * 1.2 design-to-app ratio) */
}
.allocations-table {
  tbody {
    tr {
      .system-cell {
        /* Override `.InfiniteScrollTable tbody tr…:not(.-status)` */
        padding: 0 !important;
      }

      /* Override `.InfiniteScrollTable tbody tr…:not(.-status)` */
      background-color: transparent !important;

      border-bottom: 1px solid rgba(#707070, 0.25);
    }
    .sub-table-row {
      width: 100%;

      /* FP-457: Will fix this */ /* stylelint-disable no-descending-specificity */
      :nth-child(even) {
        background-color: rgba(#c6c6c6, 0.1);
      }
      /* stylelint-enable no-descending-specificity */
      color: var(--global-color-primary--x-dark);
    }
    .sub-table-cell {
      background-color: white;
      height: 2.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .alloc-badge {
    /* NOTE: Consider deleting this style once <Pill> is used */
    font-size: 0.875rem; /* 14px (approved deviation from design) */
  }
}
.allocations-table td {
  vertical-align: top !important; /* override InfiniteScrollTable */
}

/* HACK: The loading icon should not need height set, but it fixes Safari here */
/* FP-426: Do not use `height: 100%` or isolate usage pending solution to bigger problem */
.allocations-loading-icon {
  height: auto;
}
