.root {
  /* title */
  tr > *:nth-child(1) {
    width: 13%;
  }
  /* pi */
  tr > *:nth-child(2) {
    width: 14%;
  }
  /* team */
  tr > *:nth-child(3) {
    width: 13%;
  }
  /* systems */
  tr > *:nth-child(4) {
    width: 18%;
  }
  /* awarded */
  tr > *:nth-child(5) {
    width: 14%;
  }
  /* remaining */
  tr > *:nth-child(6) {
    width: 14%;
  }
  /* expires */
  tr > *:nth-child(7) {
    width: 14%;
  }
}
