/*
    Variables and Mixins
*/
@mixin alloc-button {
    .btn {
        border-radius: 0;
        border: 0;
        font: bold 12px Roboto, sans-serif;
        background-color: #9D85EF;
        padding: 0.5rem 1rem;
    }
}
/*
    Components
*/
.btn-link {
    color: #9d85ef;
    padding-left: 0;
}
#allocations-wrapper {
    display: flex;
    flex-direction: column;

    padding-right: 32px;
}
#allocations-container {
    /* As a flex item */
    flex-grow: 1;

    /* As a flex container */
    display: flex;
    flex-direction: row;

    /* Allow children to `overflow: scroll` but match height of this parent */
    overflow: auto;

    border-top: 1px solid #707070;
}
/* Make right-most item fill up remaining horizontal space */
#allocations-container > :last-child {
    flex-grow: 1;
}

#allocations-header {
    @include alloc-button();
    display: flex;
    justify-content: space-between;
    margin: 21px 0 0.5rem 1.75rem;
    padding-left: 0.2em;
    #header-text {
        font-size: 1.25rem;
        font-weight: 400;
        vertical-align: text-bottom;
        letter-spacing: 0;
        width: 10rem;
        display: flex;
        align-items: flex-end;
        a {
            color: #484848;
        }
    }
}
#allocations-sidebar {
    width: 215px;
    border-right: 1px solid rgba(112, 112, 112, 0.25);
    font-family: Roboto, sans-serif;

    /* !!!: This link is `40px`, which is taller than other sidebar links (which are ~`35px`) */
    .nav-link {
        /* NOTE: These styles match `.nav-content`. That class is not used in
                 the markup for this sidebar because it is extraneous */
        /* RFE: Resolve discrepancy when common Sidebar component exists */
        display: flex;
        align-items: center;

        color: #707070;
        padding-left: 1.5em; /* ~20px design * 1.2 design-to-app ratio (rounded) */

        .link-icon {
            font-size: 1.125rem; /* ~18px (16px design * 1.2 design-to-app ratio) (rounded) */
            width: 1em;
        }
        .link-text {
            font-size: 0.75rem; /* 12px (10px design * 1.2 design-to-app ratio) */
            font-weight: 500;
            padding-left: 16px;
            vertical-align: middle;
        }
    }
    .active {
        background: rgba(#9d85ef, 0.25);
    }
}
/* WARNING: This class is not applied to a table, it's applied to a wrapper for a table */
.allocations-table {
    table {
        border: 0;

        tr {
            .system-cell {
                padding: 0;
            }

            border-bottom: 1px solid rgba(#707070, 0.25);
        }
        .sub-table-row {
            /* FP-457: Will fix this *//* stylelint-disable no-descending-specificity */
            :nth-child(even) {
                background-color: rgba(#c6c6c6, 0.1);
            }
            /* stylelint-enable no-descending-specificity */
            color: #707070;
        }
        .sub-table-cell {
            background-color: white;
            height: 2.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .alloc-badge {
        font-size: 12px;
    }
}
/* !!!: Where is this ID assigned? If nit's moot, delete this style */
#pending {
    @extend .allocations-table;
}
/* HACK: `FiniteScrollTable` applies `InfiniteScrollTable` in non-modular way
         (shared styles should be on HTML tables, which we do not have yet) */
/* HACK: The excess specifity of selectors allows us to place these rulesets
         after the rulesets they would override in this stylesheet */
.FiniteScrollTable tbody tr {
    background-color: transparent !important; /* override `FiniteScrollTable … :not(…)` */
}
table.FiniteScrollTable .sub-table-row {
    width: 100%;
}
.allocations-modal-header {
    background-color: #F4F4F4;
    padding: 1rem;
    span {
        color: #484848;
        font-size: 1.1rem;
        margin: 0;
    }
}
/* HACK: The loading icon should not need height set, but it fixes Safari here */
/* FP-426: Do not use `height: 100%` or isolate usage pending solution to bigger problem */
#allocations-wrapper .loading-icon {
    height: auto;
}
