/* HACK: Necessary evil to allow flex item + scroll + table */
.wrapper {
  /* Force (how?!) `#allocations-sidebar` to accept its defined width */
  /* FAQ: Moved from `.allocations-table table` during FP-621 (dec710f) */
  width: 100%;

  overflow-y: hidden;

  /* This mimics History > Jobs table */
  padding-top: 1.75rem;
  padding-left: 1.25em;
}
.root {
  /* TODO: Use a `_common/Layout` component (for Allocations) */
  /* Distance from top of page to top of scrollable body of table */
  --table-body-offset: 228px;
  /* HACK: This couples table height to external layout, thus making this module not modular */
  /* IDEA: A JavaScript solution may be `AutoSizer` */
  max-height: calc(100vh - var(--table-body-offset));

  /* title */
  th:nth-child(1),
  td:nth-child(1) {
    width: 13%;
  }
  /* pi */
  th:nth-child(2),
  td:nth-child(2) {
    width: 24%;
  }
  /* team */
  th:nth-child(3),
  td:nth-child(3) {
    width: 14%;
  }
  /* systems */
  th:nth-child(4),
  td:nth-child(4) {
    width: 12%;
  }
  /* awarded */
  th:nth-child(5),
  td:nth-child(5) {
    width: 12%;
  }
  /* remaining */
  th:nth-child(6),
  td:nth-child(6) {
    width: 12%;
  }
  /* expires */
  th:nth-child(7),
  td:nth-child(7) {
    width: 12%;
  }
}
